@import '../utils/canvas-content-padding.scss';

@include canvas-padding;
@include content-padding;

.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 2.5rem;
    margin-top: 3rem;
}

.contact-support-visuals {
    display: flex;
    margin-bottom: 2.5rem;
    align-items: center;
    margin-top: 10px;
}

.contact-col-wrapper {
    flex: 1;
    box-sizing: border-box;
}

.support-paragraph {
    @include text(t3);
}

.support-kicker {
    @include text(t4);
    text-transform: uppercase;
}