:host {
  display: inline-block;
}

.a-button {
  @include text(t1);
  position: relative;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 0;
  min-height: 30px;
  width: 100%;
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-transform: uppercase;
  color: $color-prim-white;
  background-color: $color-axa-blue;
  border: solid 2px $color-axa-blue;
  border-bottom-color: $color-deep-sapphire;

  @include breakpoint($mediaquery-xs-up) {
    @include _text(default);
    min-height: 40px;
  }

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    text-decoration: none;
    background-color: $color-deep-sapphire;
    border-color: $color-deep-sapphire;
  }

  &:disabled {
    color: $color-light-grey;
    background-color: $color-mercury;
    border-color: $color-mercury;
    border-bottom-color: $color-silver;
    pointer-events: none;
  }

  &__flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    display: flex;
    margin-right: 10px;
  }

  &__arrow {
    display: flex;
    margin-left: 10px;
  }
}

.a-button--large {
  min-height: 40px;
  @include _text(default);

  @include breakpoint($mediaquery-xs-up) {
    min-height: 50px;
    @include _text(medium);
  }
}

.a-button--small {
  min-height: 30px;
  @include _text(small);
}

.a-button--motion {
  $button__motion-duration: 0.3s;
  $button__motion-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);

  z-index: 0;
  overflow: hidden;

  transition: color $button__motion-duration $button__motion-easing 0s;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;

    z-index: -1;

    display: block;

    // fix iOS double tap for :hover
    // zero width is considered hidden
    width: 0.001px;
    height: 100vw;
    content: '';

    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: width $button__motion-duration $button__motion-easing 0s;

    background-color: $color-deep-sapphire;
  }

  &:hover,
  &:focus {
    background-color: $color-axa-blue;
    color: $color-prim-white;

    &::after {
      width: 110%;
      background-color: $color-deep-sapphire;
    }
  }
}

.a-button--red {
  background-color: $color-burnt-sienna;
  border-color: $color-burnt-sienna;
  border-bottom-color: $color-flamingo;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-flamingo;
    border-color: $color-flamingo;
  }

  &.a-button--motion {
    &::after {
      background-color: $color-flamingo;
    }

    &:hover,
    &:focus {
      background-color: $color-burnt-sienna;
      color: $color-prim-white;

      &::after {
        background-color: $color-flamingo;
      }
    }
  }
}

.a-button--secondary {
  background-color: transparent;
  border-bottom-color: $color-axa-blue;
  color: $color-axa-blue;

  &:hover,
  &:active,
  &:focus {
    color: $color-prim-white;
  }

  &.a-button--motion {
    background-color: transparent;
  }
}

.a-button--inverted {
  background-color: transparent;
  border-color: $color-prim-white;
  color: $color-prim-white;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-prim-white;
    border-color: $color-prim-white;
    color: $color-deep-sapphire;
  }

  &.a-button--motion {
    background-color: transparent;

    &::after {
      background-color: $color-prim-white;
    }
  }
}

@mixin inverted-color($color) {
  &:hover,
  &:active,
  &:focus {
    color: $color;
  }
}

.a-button--inverted-blue-ocean {
  @include inverted-color($color-ocean-blue);
}

.a-button--inverted-red-tosca {
  @include inverted-color($color-tosca);
}

.a-button--inverted-purple-logan {
  @include inverted-color($color-logan);
}

.a-button--inverted-green-viridian {
  @include inverted-color($color-viridian-green);
}

.a-button--inverted-blue-teal {
  @include inverted-color($color-teal);
}
