.a-button {
  @include typo(primary, x-small, medium);
  position: relative;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 0;
  min-height: 40px;

  @include breakpoint($mediaquery-sm-up) {
    @include _text(default)
  }

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    text-decoration: none;
    background-color: $color-prim-blue-deep-sapphire;
    border-color: $color-prim-blue-deep-sapphire;
  }

  &:disabled {
    color: $color-prim-gray-dusty;
    background-color: $color-prim-gray-mercury;
    border-color: $color-prim-gray-mercury;
    border-bottom-color: $color-prim-gray-silver;
    pointer-events: none;
  }

  &__flex-wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-left: 12px;
  }
}

.a-button--large {
  min-height: 40px;
  // @include _text(default);

  // @include breakpoint($mediaquery-sm-up) {
  //   min-height: 50px;
  //   @include _text(medium)
  // }
}

.a-button--motion {
  $button__motion-duration: 0.3s;
  $button__motion-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);

  z-index: 0;
  overflow: hidden;

  transition: color $button__motion-duration $button__motion-easing 0s;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;

    z-index: -1;

    display: block;

    // fix iOS double tap for :hover
    // zero width is considered hidden
    width: 0.001px;
    height: 550px;
    content: '';

    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: width $button__motion-duration $button__motion-easing 0s;

    background-color: $color-prim-blue-deep-sapphire;
  }

  &:hover,
  &:focus {
    background-color: $color-axa-blue;
    color: $color-prim-white;

    &::after {
      width: 110%;
      background-color: $color-prim-blue-deep-sapphire;
    }
  }
}

.a-button--red {
  background-color: $color-prim-red-burnt-sienna;
  border-color: $color-prim-red-burnt-sienna;
  border-bottom-color: $color-prim-red-flamingo;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-prim-red-flamingo;
    border-color: $color-prim-red-flamingo;
  }

  &.a-button--motion {
    &::after {
      background-color: $color-prim-red-flamingo;
    }

    &:hover,
    &:focus {
      background-color: $color-prim-red-burnt-sienna;
      color: $color-prim-white;

      &::after {
        background-color: $color-prim-red-flamingo;
      }
    }
  }
}

.a-button--secondary {
  background-color: transparent;
  border-bottom-color: $color-axa-blue;
  color: $color-axa-blue;

  &:hover,
  &:active,
  &:focus {
    color: $color-prim-white;
  }

  &.a-button--motion {
    background-color: transparent;
  }
}

.a-button--inverted {
  background-color: transparent;
  border-color: $color-prim-white;
  color: $color-prim-white;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-prim-white;
    border-color: $color-prim-white;
    color: $color-prim-blue-deep-sapphire;
  }

  &.a-button--motion {
    background-color: transparent;

    &::after {
      background-color: $color-prim-white;
    }
  }
}
