html,
body {
  width: 100%;
  height: 100%;
}

.o-modal {
  display: none;
  width: 100%;
  height: 100%;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;

  background-color: rgba(0, 0, 0, 0.8);

  &--open {
    display: flex;
    justify-content: center;
  }

  &-window {
    position: relative;
    overflow: auto;
    padding: 40px;
    width: 100%;
    margin: 10px;
    max-height: 100%;
    background-color: white;

    &__close-button {
      position: absolute;
      right: 18px;
      top: 18px;
      width: 24px;
      height: 24px;
    }

    &__close-container {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      &-button {
        width: 100%;
      }
    }
  }

  &-close__axa-button {
    margin: auto;
  }
}

@include breakpoint($mediaquery-xs-up) {

  .o-modal {
    align-items: center;
    &-window {
      overflow: auto;
      box-sizing: border-box;
      padding: 50px;
      width: 60%;
      min-height: 50%;
      border-radius: 4px;
  
      background-color: white;
  
      &__close-button {
        right: 20px;
        top: 20px;
      }
  
      &__close-container {
        display: none;
      }
    }
  }
}
