.o-modal {
  display: none;
  width: 100%;
  height: 100%;

  position: fixed;
  // Highest z-index on the axa website
  z-index: 3000;
  left: 0;
  top: 0;

  background-color: rgba($color-black, 0.5);

  @include breakpoint($mediaquery-xs-up) {
    align-items: center;
  }

  &--open {
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    @include breakpoint($mediaquery-xs-up) {
      justify-content: center;
    }
  }

  &__upper-close-container {
    display: flex;
    z-index: 1;
    margin: 10px 10px 0;
    box-shadow: 0 1px 10px 0px rgba($color-black, 0.15);
    justify-content: flex-end;
    border-radius: 8px 8px 0 0;
    background-color: $color-prim-white;

    &--forced {
      display: none;
    }

    @include breakpoint($mediaquery-xs-up) {
      max-width: 780px;
      margin: 0;
    }

    &--small {
      @include breakpoint($mediaquery-xs-up) {
        max-width: 500px;
        margin: 0;
      }
    }

    &-button {
      cursor: pointer;
      border: none;
      background: transparent;
      outline: none;
      color: inherit;
      font: inherit;
      line-height: normal;
      margin: 8px;
      height: 40px;
      padding: 8px;
      
      svg {
        height: 24px;
        width: 24px;
      }
    }
  }

  &__content {
    position: relative;
    overflow: auto;
    padding: 0 28px 28px;
    margin: 0 10px 10px;
    background-color: $color-prim-white;
    border-radius: 0 0 8px 8px;

    @include breakpoint($mediaquery-xs-up) {
      max-height: 70%;
      max-width: 780px;
    } 

    &--small {
      max-width: 500px;
    }

    &--forced {
      border-radius: 8px;
      padding: 0 28px;
      margin-top: 10px;
      @include breakpoint($mediaquery-xs-up) {
        padding: 40px;
      } 
    }
  }
}
