@import "../../styles/settings/colors";
@import "settings/meta-header";

.o-meta-header {
  display: block;

  background: $meta-header-bg;
  border-top: $meta-header-border-top-width solid $meta-header-border-top-color;
}
