@import "../../../styles/settings/colors";

$main-navigation-mobile-bg: $color-prim-white !default;

$main-navigation-mobile__nav-bg: $color-prim-white !default;
$main-navigation-mobile__nav-z-index: 1 !default;

$main-navigation-mobile__list-item-border-width: 1px !default;
$main-navigation-mobile__list-item-border-color: $color-prim-gray-silver !default;

$main-navigation-mobile__item-padding-left: 60px !default;
$main-navigation-mobile__item-padding-right: 40px !default;
$main-navigation-mobile__item-y-padding: 20px !default;

$main-navigation-mobile__category-padding-right: 70px !default;

$main-navigation-mobile__back-padding-left: 105px !default;
$main-navigation-mobile__back-y-padding: 30px !default;

$main-navigation-mobile__icon-size: 30px !default;
