@import "../../../styles/settings/colors";

$main-navigation-mobile-bg: $color-prim-white !default;

$main-navigation-mobile__nav-bg: $color-prim-white !default;
$main-navigation-mobile__nav-z-index: 1 !default;

$main-navigation-mobile__list-item-border-width: 1px !default;
$main-navigation-mobile__list-item-border-color: $color-prim-gray-silver !default;
