@import "../../../styles/settings/colors";

$header-meta-bg: $color-prim-gray-alabaster !default;
$header-meta-border-top-width: 2px !default;
$header-meta-border-top-color: $color-axa-blue !default;
$header-meta-border-bottom-width: 1px !default;
$header-meta-border-bottom-color: $color-prim-gray-silver !default;
