<axa-checkbox
  value="a"
  name="test-name2"
>
  hello
</axa-checkbox>
<axa-checkbox
  value="b"
  name="test-name2"
  checked
>
  hello
</axa-checkbox>
<axa-checkbox
  value="b"
  name="test-name2"
  disabled
>
  hello hello <a href="#" target="_blank">hello hello hello hello hello hello hello hello</a> hello hello hello hello <a href="#" target="_blank">hello hello hello hello </a> hello hello hello hello.
</axa-checkbox>
<axa-checkbox
  value="b"
  name="test-name2"
  error
>
  hello hello <a href="#" target="_blank">hello hello hello hello hello hello hello hello</a> hello hello hello hello <a href="#" target="_blank">hello hello hello hello </a> hello hello hello hello.
</axa-checkbox>

