<axa-checkbox
  value="a"
  name="test-name2"
>
  hello
</axa-checkbox>
<axa-checkbox
  value="b"
  name="test-name2"
  checked
>
  hello
</axa-checkbox>
<axa-checkbox
  value="b"
  name="test-name2"
  disabled
>
  Donec sit amet elit nunc. <a href="#" target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a> Morbi aliquam felis non vulputate ullamcorper <a href="#" target="_blank">Donec et augue erat</a> Cras vitae ex lorem.
</axa-checkbox>
<axa-checkbox
  value="b"
  name="test-name2"
  error
>
  Donec sit amet elit nunc. <a href="#" target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a> Morbi aliquam felis non vulputate ullamcorper
</axa-checkbox>

