@import "../../styles/settings/colors";

:host {
  display: inline-block;
  background: $color-prim-white;
  border: 1px solid $color-prim-gray-dusty;
  width: 24px;
  height: 24px;
}
:host([hidden]) {
  display: none;
}
:host([checked]) {
  background: $color-prim-blue-azure;
  border-color: $color-prim-blue-azure;
}
:host([disabled]) {
  background: $color-prim-gray-dusty;
  border-color: $color-prim-gray-dusty;
}
:host([checked][disabled]) {
  background: $color-prim-gray-dusty;
  border-color: $color-prim-gray-dusty;
}
