<h2>Enhanced Dropdown</h2>
 <axa-dropdown
    title="Please Select a value (Initial title)" 
    items='[ 
      {"name": "Item 1", "value": "Item 1", "url": "#", "isSelected": false },
      {"name": "Item 2", "value": "Item 2", "url": "#", "isSelected": true },
      {"name": "Item 3", "value": "Item 3", "url": "#", "isSelected": false }
    ]'
    >
</axa-dropdown>

<h2>Forced Native dropdown (all viewports)</h2>
<axa-dropdown
native
title="Please Select a value (Initial title)" 
items='[ 
  {"name": "Item 1", "value": "Item 1", "url": "#", "isSelected": false },
  {"name": "Item 2", "value": "Item 2", "url": "#", "isSelected": true },
  {"name": "Item 3", "value": "Item 3", "url": "#", "isSelected": false }
]'
>
</axa-dropdown>

<h2>Native Dropdown Long list</h2>
<axa-dropdown
  native
  title="Please Select a value (Initial title)" 
  items='[ 
    {"name": "Short Item", "value": "Short Item", "url": "#", "isSelected": false },
    {"name": "Longer Item", "value": "Longer Item", "url": "#", "isSelected": true },
    {"name": "Super Long Item", "value": "Super Long Item", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false },
    {"name": "The longer Item than the box", "value": "The longer Item than the box", "url": "#", "isSelected": false }
  ]'
></axa-dropdown>