<div style="min-height:200px;">
  <axa-dropdown title="title">
    <li class="m-dropdown__item">
      <a class="m-dropdown__link" href="#">Item 1</a>
    </li>
    <li class="m-dropdown__item">
      <a class="m-dropdown__link" href="#">Item 2 looooong</a>
    </li>
    <li class="m-dropdown__item">
      <a class="m-dropdown__link" href="#">Item 3</a>
    </li>
  </axa-dropdown>

  <axa-dropdown title="title" in-flow>
    <li class="m-dropdown__item">
      <a class="m-dropdown__link" href="#">Item 1 looooooooong</a>
    </li>
    <li class="m-dropdown__item">
      <a class="m-dropdown__link" href="#">Item 2</a>
    </li>
    <li class="m-dropdown__item">
      <a class="m-dropdown__link" href="#">Item 3</a>
    </li>
  </axa-dropdown>
</div>
