@import "./settings/dropdown";
@import "../../styles/settings/colors";
@import "../../styles/settings/zindex";
@import "../../styles/mixins/button-reset";
@import "../../styles/mixins/typo";
@import "../../styles/mixins/unstyle-list";

.m-dropdown {
  position: relative;

  display: inline-block;
}

.m-dropdown__toggle {
  $padding-right: ($dropdown__icon-size + $dropdown__icon-gap + $dropdown__toggle-x-padding);

  @include button-reset();
  @include typo-18();

  position: relative;

  padding: $dropdown__toggle-y-padding $padding-right $dropdown__toggle-y-padding $dropdown__toggle-x-padding;

  background: $dropdown__toggle-bg;
  border: $dropdown__toggle-border-width solid $dropdown__toggle-border-color;
  color: $dropdown__toggle-color;

  &:hover,
  &:active,
  &:focus {
    border-color: $dropdown__toggle-color--hover;

    cursor: pointer;

    .m-dropdown__icon {
      color: $dropdown__toggle-color--hover;
    }

    &::after {
      display: block;
    }
  }

  &::after {
    position: absolute;
    bottom: -$dropdown__toggle-border-width;
    left: 0;
    z-index: $zindex-dropdown + 1;

    display: none;
    width: 100%;
    height: $dropdown__toggle-border-width;
    overflow: hidden;

    content: '';
    background: $dropdown__toggle-color--hover;
  }
}

.m-dropdown__icon {
  position: absolute;
  top: 50%;
  right: $dropdown__toggle-x-padding;

  display: block;
  width: $dropdown__icon-size;
  height: $dropdown__icon-size;
  margin-top: -($dropdown__icon-size / 2);

  transition: all 0.3s ease;

  .is-open & {
    transform: rotate(180deg);
  }
}

.m-dropdown__content {
  @include unstyle-list();

  position: absolute;
  top: 100%;
  z-index: $zindex-dropdown;

  height: 0;
  min-width: 100%;
  margin-top: -$dropdown__toggle-border-width;
  overflow: hidden;

  background: $color-prim-white;
  transition: height 0.3s ease;

  .is-open > & {
    height: auto;
  }

  .m-dropdown--in-flow > & {
    position: static;
  }
}

.m-dropdown__item {
  border-left: $dropdown__item-border-width solid $dropdown__item-border-color;
  border-right: $dropdown__item-border-width solid $dropdown__item-border-color;

  &:first-child {
    border-top: $dropdown__item-border-width solid $dropdown__item-border-color;
  }

  &:last-child {
    border-bottom: $dropdown__item-border-width-last solid $dropdown__item-border-color;
  }
}

.m-dropdown__link {
  @include typo-18();

  display: block;
  padding: $dropdown__toggle-y-padding $dropdown__toggle-x-padding;

  color: $dropdown__toggle-color;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus {
    color: $dropdown__toggle-color--hover;
    text-decoration: none;
    background: $color-prim-gray-wild-sand;
  }
}
