@import "../../styles/settings/colors";

.m-test {
  display: block;
}

.m-test__article {
  &::before {
    display: inline-block;
    margin-right: 10px;
    content: 'before';
    color: $color-state-red-shy-tomato;
  }

  &::after {
    display: inline-block;
    margin-left: 10px;
    content: 'after';
    color: $color-state-red-shy-tomato;
  }
}
