<article class="o-sg-section o-sg-section--padded o-sg-section__atomic-category">
    <h1>Welcome to the patterns library!</h1>
    <p>
        This is the core pattern library used for AXA Switzerland. It's based on Web-Components.
        Web-Components are natively supported in modern browsers. This repo contains also polyfills for those less
        "cool"
        browsers out there. Support is:
    </p>
    <ul>
        <li>ie 11 (Polyfill for template, html import, shadow dom and custom element)</li>
        <li>EDGE (Polyfill for html import, shadow dom and custom element)</li>
        <li>FF (Polyfill for html import, shadow dom and custom element)</li>
        <li>Chrome / Chrome Mobile (100% native)</li>
        <li>Safari / iOS Safari (Polyfill for html import)</li>
    </ul>
    <h2>We embrace the atomic design to split our components!</h2>
</article>