<axa-commercial-hero-cover
  src="https://i.pinimg.com/originals/b5/4c/97/b54c972b2a1138d85af5692431c02a2c.jpg"
  gradient="black"
  content-align="left">

  <section class="o-commercial-hero-cover__section js-commercial-hero-cover__first">
    <h2 class="o-commercial-hero-cover__subtitle">Car Insurance</h2>
    <h2 class="o-commercial-hero-cover__title">Drive with peace of mind</h2>
    <p class="o-commercial-hero-cover__text">Whether you need to insure your first car or renew your existing car
      insurance, AXA can provide a range of car insurance policies to suit your requirements and offer great product
      benefits at a price you can afford</p>
    <axa-button tag="a" href="http://www.google.com" class="o-commercial-hero-cover__button" color="red" motion>Get a
      quote
    </axa-button>
  </section>

  <section class="o-commercial-hero-cover__section js-commercial-hero-cover__second">
    <p class="o-commercial-hero-cover__text">Whether you need to insure your first car or renew your existing car
      insurance, AXA can provide a range of car insurance policies to suit your requirements and offer great product
      benefits at a price you can afford</p>
  </section>

</axa-commercial-hero-cover>
<axa-commercial-hero-cover
  src="https://i.pinimg.com/originals/b5/4c/97/b54c972b2a1138d85af5692431c02a2c.jpg"
  gradient="white"
  content-align="right"
  picture-classes="a-focal-point a-focal-point--center"
  hero-object-position="top left">
  <section class="o-commercial-hero-cover__section">
    <h2 class="o-commercial-hero-cover__subtitle">This example shows specific picture classes</h2>
    <h2 class="o-commercial-hero-cover__title">Drive with peace of mind</h2>
    <p class="o-commercial-hero-cover__text">Whether you need to insure your first car or renew your existing car
      insurance, AXA can provide a range of car insurance policies to suit your requirements and offer great product
      benefits at a price you can afford</p>
    <axa-button tag="a" href="http://www.google.com" class="o-commercial-hero-cover__button" color="red" motion>Get a
      quote
    </axa-button>
  </section>

</axa-commercial-hero-cover>
<axa-commercial-hero-cover
  src="https://i.pinimg.com/originals/b5/4c/97/b54c972b2a1138d85af5692431c02a2c.jpg"
  gradient="white"
  content-align="left">
  <section class="o-commercial-hero-cover__section">
    <h2 class="o-commercial-hero-cover__subtitle">Car Insurance</h2>
    <h2 class="o-commercial-hero-cover__title">Drive with peace of mind</h2>
    <p class="o-commercial-hero-cover__text">Whether you need to insure your first car or renew your existing car
      insurance, AXA can provide a range of car insurance policies to suit your requirements and offer great product
      benefits at a price you can afford </p>
    <axa-button tag="a" href="http://www.google.com" class="o-commercial-hero-cover__button" color="red" motion>Get a
      quote
    </axa-button>
  </section>
</axa-commercial-hero-cover>
