<axa-commercial-hero-cover
  src="https://i.pinimg.com/originals/b5/4c/97/b54c972b2a1138d85af5692431c02a2c.jpg"
  gradient="black"
  content-align="left">

    <section class="js-commercial-hero-cover__first">
      <h2 class="o-commercial-hero-cover__subtitle">Der Subtitel steht über dem Titel</h2>
      <h2 class="o-commercial-hero-cover__title">Willkommen auf der AXA Landingpage!</h2>
      <p class="o-commercial-hero-cover__text">Guten Tag! Ich bin der Chatbot Glasschaden der AXA. Ich kann für Sie mit wenigen Angaben einen Glasbruchschaden an</p>
      <axa-button tag="a" href="http://www.google.com" class="o-commercial-hero-cover__button" color="red" motion>Berechnen Sie den Preis sofort</axa-button>
    </section>

    <section class="js-commercial-hero-cover__second">
      <p class="o-commercial-hero-cover__text">Guten Tag! Ich bin der Chatbot Glasschaden der AXA. Ich kann für Sie mit wenigen Angaben einen Glasbruchschaden an2222Guten Tag! Ich bin der Chatbot Glasschaden der AXA. Ich kann für Sie mit wenigen Angaben einen Glasbruchschaden an Guten Tag! Ich bin der Chatbot Glasschaden der AXA. Ich kann für Sie mit wenigen Angaben einen Glasbruchschaden an2222Guten Tag! Ich bin der Chatbot Glasschaden der AXA. Ich kann für Sie mit wenigen Angaben einen Glasbruchschaden an Guten Tag! Ich bin der Chatbot Glasschaden der AXA. Ich kann für Sie mit wenigen Angaben einen Glasbruchschaden an2222Guten Tag! Ich bin der Chatbot Glasschaden der AXA. Ich kann für Sie mit wenigen Angaben einen Glasbruchschaden an</p>
    </section>

</axa-commercial-hero-cover>
<axa-commercial-hero-cover
  src="https://i.pinimg.com/originals/b5/4c/97/b54c972b2a1138d85af5692431c02a2c.jpg"
  gradient="white"
  content-align="right">
    <h2 class="o-commercial-hero-cover__subtitle">Der Subtitel steht über dem Titel</h2>
    <h2 class="o-commercial-hero-cover__title">Willkommen auf der AXA Landingpage!</h2>
    <p class="o-commercial-hero-cover__text">Guten Tag! Ich bin der Chatbot Glasschaden der AXA. Ich kann für Sie mit wenigen Angaben einen Glasbruchschaden an</p>
    <axa-button tag="a" href="http://www.google.com" class="o-commercial-hero-cover__button" color="red" motion>Berechnen Sie den Preis sofort</axa-button>

</axa-commercial-hero-cover>
<axa-commercial-hero-cover
  src="https://i.pinimg.com/originals/b5/4c/97/b54c972b2a1138d85af5692431c02a2c.jpg"
  gradient="white"
  content-align="left">
    <h2 class="o-commercial-hero-cover__subtitle">Der Subtitel steht über dem Titel</h2>
    <h2 class="o-commercial-hero-cover__title">Willkommen auf der AXA Landingpage!</h2>
    <p class="o-commercial-hero-cover__text">Guten Tag! Ich bin der Chatbot Glasschaden der AXA. Ich kann für Sie mit wenigen Angaben einen Glasbruchschaden an</p>
    <axa-button tag="a" href="http://www.google.com" class="o-commercial-hero-cover__button" color="red" motion>Berechnen Sie den Preis sofort</axa-button>

</axa-commercial-hero-cover>
