{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "safari >= 8", "not ie <= 10"]
      }
    }]
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  },
  "plugins": [
    "transform-custom-element-classes"
  ]
}
