{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "safari >= 8", "not ie <= 10"]
      }
    }]
  ],
  "plugins": [
    "external-helpers",
    "transform-custom-element-classes",
    "transform-class-properties"
  ]
}
