{
  "extends": "airbnb",
  "rules": {
    "max-len": ["warn", 140, 2],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["./stack/**/*.js"]}]
  },
  "globals": {
    "HTMLElement": true,
    "document": true,
    "window": true,
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "classes": true,
      "decorations": true,
      "jsx": true
    }
  }
}
