{
  "extends": ["airbnb", "prettier"],
  "plugins": ["import", "jest", "prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "arrow-body-style": "off",
    "arrow-parens": ["error", "as-needed"],
    "import/no-relative-packages": "off",
    "import/prefer-default-export": "off",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "ignoredNodes": [
          "TaggedTemplateExpression[tag.name=/html|outdent/]",
          "TaggedTemplateExpression[tag.name=/html|outdent/] *"
        ]
      }
    ],
    "no-confusing-arrow": "off",
    "class-methods-use-this": "off",
    "no-return-assign": "off",
    "no-bitwise": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-underscore-dangle": "off",
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "scripts/**",
          "rollup.config.js",
          "**/story.{js,jsx}",
          "**/demo.{js,jsx}",
          "**/react/*.{js,jsx}",
          "**/05-utils/**/*.{js,jsx}",
          "**/src/**/*.react.js",
          "**/demo/**",
          "**/ui.test.js",
          "**/unit.test.{js,jsx}",
          "**/setupTests.js",
          "**/jestPreprocess.js",
          "**/*test.accessor.js",
          "**/*ui.test.js"
        ],
        "packageDir": "./"
      }
    ],
    "object-curly-newline": [
      "error",
      { "multiline": true, "consistent": true }
    ],
    "jest/no-jest-import": "off"
  },
  "globals": {
    "HTMLElement": true,
    "HTMLSelectElement": true,
    "XMLHttpRequest": true,
    "history": true,
    "CustomEvent": true,
    "MutationObserver": true,
    "customElements": true,
    "document": true,
    "navigator": true,
    "window": true,
    "ENV": true,
    "PROD": true,
    "DEV": true,
    "fixture": true,
    "test": true,
    "page": true,
    "__VERSION_INFO__": true,
    "__COLORS_SCSS_AS_STRING__": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "configFile": "./.storybook/.babelrc.js"
    },
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "classes": true,
      "decorations": true,
      "jsx": true
    }
  }
}
