lib
dist
.tmp-lib
.tmp-dist
.tmp.package.json

# Storybook
storybook-static

# Logs
logs
*.log
npm-debug.log*

# Environment
.env

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules
.tmp

# Optional npm cache directory
.npm
.cache

.DS_Store
.coverage


# Docs Gatsby website
*.log
node_modules
.DS_Store
/.out/
/docs/public
.cache
/npm-shrinkwrap.json
/.idea/

# Local Netlify folder
.netlify