lib
dist
.tmp-lib
.tmp-dist
.tmp.package.json
.idea

# Storybook
storybook-static

# Logs
logs
*.log
npm-debug.log*
playwright-report
test-results

# Environment
.env

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules
.tmp

# Optional npm cache directory
.npm

.DS_Store
.coverage
/playwright/.cache/
