src
package-lock.json
.tmp-lib
.tmp-dist
CHANGELOG.md

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules

# Optional npm cache directory
.npm

.DS_Store
