<?xml version="1.0" encoding="utf-8"?>
<!-- This config is for azure. It allows the fetching of specific file types
that the browser needs. -->
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
</configuration>
