.m-policy-features {
  padding: 24px 15px;
  background: $color-dark-indigo;
  color: $color-prim-white;

  @include breakpoint($mediaquery-sm-up) {
    padding: 48px 90px;
  }

  &__title {
    text-align: center;
    margin: 0;
    @include headline(h1, secondary);
  }

  &__slot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__style {
    &-axa-blue {
      background: $color-axa-blue;
      color: $color-prim-white;
    }

    &-wild-sand {
      background: $color-wild-sand;
      color: $color-dark-grey;
    }

    &-white {
      background: $color-prim-white;
      color: $color-dark-grey;
    }
  }
}
