.m-policy-features {
  padding: 24px 15px;

  @include breakpoint($mediaquery-md-up) {
    padding: 48px 90px;
  }

  &__title {
    text-align: center;
    margin: 0;

    @include typo-title(large-1, secondary);

    @include breakpoint($mediaquery-md) {
      @include typo-title(huge, secondary);
    }

    @include breakpoint($mediaquery-lg-up) {
      @include typo-title(huge-2, secondary);
    }
  }

  &__slot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.m-policy-features__style-dark-indigo {
  background: $color-prim-blue-dark-indigo;
  color: $color-prim-white;
}

.m-policy-features__style-axa-blue {
  background: $color-axa-blue;
  color: $color-prim-white;
}

.m-policy-features__style-wild-sand {
  background: $color-prim-gray-wild-sand;
  color: $color-prim-gray-mine-shaft;
}

.m-policy-features__style-white {
  background: $color-prim-white;
  color: $color-prim-gray-mine-shaft;
}
