@import "../../styles/settings/colors";
@import "../../styles/mixins/button";
@import "../../styles/animations/fade-out-right-in-left";

// Buttons as specified at
// https://design.axa.com/web-guidelines/buttons-and-links

.a-button {
  @include button();
  @include button--color();
}

.a-button__icon {
  @include button__icon();
}

.a-button__arrow {
  @include button__arrow();
}

.a-button--red {
  @include button--color(red);
}

.a-button--white {
  @include button--color(white);
}

.a-button--ghost {
  @include button--ghost();

  &.a-button--red {
    @include button--ghost(red);
  }

  &.a-button--white {
    @include button--ghost(white);
  }
}

.a-button--motion {
  @include button--motion();
  @include button--motion-style();

  &.a-button--red {
    @include button--motion-style(red);
  }

  &.a-button--white {
    @include button--motion-style(white);
  }

  &.a-button--ghost {
    //@include button--motion-style(ghost);

    background: transparent !important;

    &.a-button--red {
      //@include button--motion-style(ghost--red);
    }

    &.a-button--white {
      //@include button--motion-style(ghost--white);
    }
  }

  &:hover,
  &:active,
  &:focus {
    .a-button__arrow {
      animation-duration: 0.6s;
      animation-fill-mode: both;
      animation-name: fadeOutRightInLeft;
    }
  }
}

.a-button--arrow {
  padding-right: 53px;
}

.a-button--x-pad-20 {
  @include button--x-padding(20px);
}

.a-button--x-pad-40 {
  @include button--x-padding(40px);
}

.a-button--sm {
  @include button--sm();
}

.a-button--lg {
  @include button--lg();
}
