<axa-header-navigation class="is-custom-element-disconnected" items='[
  {"url": "#", "name": "car insurance"},
  {"url": "#", "name": "home insurance", "isActive": true},
  {"url": "#", "name": "health insurance<br>sub line"},
  {"url": "#", "name": "travel insurance"}
]'></axa-header-navigation>

<axa-header-navigation history-api items='[
  {"url": "/home", "name": "Home"},
  {"url": "/about", "name": "About", "isActive": true},
  {"url": "/health", "name": "Health"}
]'></axa-header-navigation>
