.m-accordion {
  display: block;

  &__container {
    border-bottom: solid 1px $color-silver;
  }

  &__title {
    display: block;
    @include text(t1);

    margin: auto 0;

    &--small {
      @include text(t3, semibold);
    }
  }

  &__title-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 4px;
    cursor: pointer;
    color: $color-axa-blue;

    &--closed {
      margin: auto 0 auto 12px;
      width: 24px;
      height: 24px;
    }

    &-title {
      display: flex;

      &-icon {
        margin: auto 12px auto 0;
        width: 48px;
        height: 48px;

        &--hidden {
          display: none;
        }

        svg {
          width: 48px;
          height: 48px;
        }
      }
    }

    &:hover {
      background-color: rgba($color-axa-blue, 0.2);
    }

    &:focus {
      border: 2px solid $color-axa-blue;
      margin: -2px;
      outline: none;
    }

    &:active {
      background-color: rgba($color-axa-blue, 0.2);
      border: 2px solid $color-axa-blue;
      margin: -2px;
    }

    &--disabled {
      cursor: not-allowed;
      color: $color-silver;

      &:hover {
        background-color: transparent;
      }

      &:active {
        border: none;
        margin: 0;
      }
    }
  }

  &__content {
    overflow: hidden;
    max-height: 0;
    margin: auto;

    color: $color-dark-grey;
    transition: max-height $transition-medium-colapsing $standard-easing;

    &--open {
      margin: 0 4px 16px;
      transition: max-height $transition-medium-expanding $standard-easing;
    }
  }
}
