axa-list {

    &[variant="unstyled"] > * {
        color: yellow;
    }

    &[variant="unstyled"] > * {
        color: yellow;
    }

    &[variant="unstyled"] > * {
        color: yellow;
    }

    &[variant="unstyled"] > * {
        color: yellow;
    }
}