.m-footer-small {
  background: $color-azure;
  border-top: 1px solid rgba(255, 255, 255, 0.25);

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px 0;
    color: $color-prim-white;
    @include text(t4);

    @include breakpoint($mediaquery-sm-up) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__list {
    // ### Reset browser styles for ul
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;

    padding-right: 5px;
  }

  &__list-item {
    display: inline-block;

    &::after {
      content: '|';
      margin-left: 5px;
      margin-right: 5px;
      opacity: 0.65;
    }

    &:last-child::after {
      content: '';
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  &__disclaimer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    padding-top: 10px;

    @include breakpoint($mediaquery-sm-up) {
      width: auto;
      padding-top: 0px;
    }
  }

  &__link--bold {
    @include text(t4, bold);
  }

  a {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.65;
    color: $color-prim-white;

    &.m-footer-small__link--active,
    &:hover {
      opacity: 1;
    }
  }

}
