@import '../../../styles/settings/colors';

$header-mobile-languages__nav-lang-bg: $color-prim-gray-mercury !default;

$header-mobile-languages__link-x-padding: 8px !default;
$header-mobile-languages__link-y-padding: 20px !default;
$header-mobile-languages__link-color: $color-prim-gray !default;
$header-mobile-languages__link-color--hover: $color-axa-blue !default;
