@import '../../styles/settings/colors';
@import '../../styles/typo/typo-mixins';
@import '../../styles/mixins/triangle';

.o-card {
  display: block;

  &__wrap {
    @include respond-up(sm) {
      display: flex;
    }
  }

  &__side {
    position: relative;
    padding: 30px 10px;
    text-align: center;

    @include respond-up(sm) {
      padding: 30px 30px;
      text-align: left;
      flex: 50%;
    }
  }


  &__side--1 {
    background: $color-axa-blue;
    color: $color-prim-white;

    &::after {
      @include triangle(bottom, $color-axa-blue, 30px, 15px);
      position: absolute;
      bottom: -15px;
      left: 20px;
      z-index: 1;

      @include respond-up(sm) {
        @include triangle(right, $color-axa-blue, 30px, 15px);
        bottom: auto;
        left: auto;
        top: 30px;
        right: -15px;
      }
    }
  }

  &__side--2 {
    background: $color-prim-gray-wild-sand;
    text-align: left;
  }
  
  &__headline,
  &__subline {
    color: $color-prim-white;
  }

  &__headline {
    @include typo-tag--bold();
    color: $color-axa-blue;
  }

  &__subline {
    @include typo-tag();
    color: $color-prim-gray;
  }
}
