<axa-header-main class="is-custom-element-disconnected" first-left>
  <axa-header-logo></axa-header-logo class="is-custom-element-disconnected"> <axa-header-navigation class="is-custom-element-disconnected" items='[
      {"url": "#", "name": "car insurance"},
      {"url": "#", "name": "home insurance"},
      {"url": "#", "name": "health insurance<br>sub line"},
      {"url": "#", "name": "travel insurance"}
    ]'></axa-header-navigation>

  <axa-header-search></axa-header-search class="is-custom-element-disconnected"> <axa-header-burger></axa-header-burger class="is-custom-element-disconnected"> </axa-header-main>
