<axa-footer-main>
  <axa-footer-links
    title="AXA & You"
    items='[
      {"name": "Contact", "url": ""},
      {"name": "Report a claim", "url": ""},
      {"name": "Broker", "url": ""},
      {"name": "Job vacancies", "url": ""},
      {"name": "myAXA", "url": ""},
      {"name": "Customer reviews", "url": ""},
      {"name": "Garage portal", "url": ""}
    ]'
    cols="2"
  ></axa-footer-links>

  <axa-footer-links
    title="AXA Worldwide"
    items='[
      {"name": "AXA Group", "url": ""}
    ]'
  ></axa-footer-links>
</axa-footer-main>
