@import "../../styles/settings/colors";
@import "../../styles/mixins/clearfix";
@import "../../styles/mixins/grid";
@import "../../styles/mixins/respond";
@import "../../styles/mixins/typo";
@import "../../styles/mixins/unstyle-list";
@import "../m-dropdown/mixins/dropdown";

.m-footer-links {
  @include make-col-ready();
  @include make-col(3);

  display: block;
  margin-left: 0 !important;

  @include respond-down(md) {
    @include make-col(4);
  }

  @include respond-down(xs) {
    @include reset-col();

    padding: 0;
  }
}

.m-footer-links__row {
  @include make-row();
}

.m-footer-links__block {
  margin-left: 60px;

  &:first-child {
    margin-left: 0;
  }

  @include respond-down(xs) {
    @include dropdown-container();
  }
}

.m-footer-links__category {
  @include typo-16--bold();

  display: block;

  color: $color-prim-white;
  text-transform: uppercase;

  @include respond-down(xs) {
    @include typo-16--semibold();
    @include dropdown-toggle();

    padding: 20px 60px 20px 30px;
    border-top: 1px solid $color-prim-blue-st-tropaz;

    background: $color-prim-blue-dark-indigo;
  }
}

.m-footer-links__category__icon {
  @include dropdown-icon(10px, 30px);

  display: none;

  @include respond-down(xs) {
    display: block;
  }
}

.m-footer-links__list {
  @include unstyle-list();

  display: block;
  padding-top: 15px;

  @include respond-down(xs) {
    @include dropdown-content();
    @include dropdown-inflow();

    display: block;
    margin: 0;
    padding: 0;

    background: $color-prim-blue-azure;
  }

  @include respond-up(sm) {
    height: auto !important;
  }
}

.m-footer-links__list-item {
  display: inline-block;
  width: 100%;
  margin-top: 10px;

  @include respond-down(md) {
    margin-top: 8px;
  }

  @include respond-down(xs) {
    margin-top: 0;
    border-bottom: 1px solid $color-prim-blue-dark-indigo;

    &:last-child {
      border-bottom: none;
    }
  }
}

.m-footer-links__link {
  @include typo-14();

  display: block;
  padding: 5px 0;

  color: $color-prim-white;

  &:hover,
  &:active,
  &:focus {
    color: rgba($color-prim-white, 0.65);
    text-decoration: none;
  }

  @include respond-down(xs) {
    padding: 20px 30px;
  }
}

.m-footer-links--cols {
}

.m-footer-links--cols-2 {
  @include make-col(5);

  .m-footer-links__list {
    column-count: 2;

    @include respond-down(xs) {
      column-count: 1;
    }
  }

  @include respond-down(md) {
    @include make-col(8);
  }

  @include respond-down(xs) {
    @include reset-col();
  }
}
