@import "../../styles/settings/colors";
@import "../../styles/mixins/clearfix";
@import "../../styles/mixins/grid";
@import "../../styles/mixins/respond";
@import "../../styles/mixins/typo";
@import "../../styles/mixins/unstyle-list";

.m-footer-links {
  @include make-col-ready();
  @include make-col(3);

  display: block;
  margin-left: 0 !important;

  @include respond-down(md) {
    @include make-col(4);
  }

  @include respond-down(xs) {
    @include reset-col();
  }
}

.m-footer-links__row {
  @include make-row();
}

.m-footer-links__block {
  margin-left: 60px;

  &:first-child {
    margin-left: 0;
  }
}

.m-footer-links__category {
  @include typo-16--bold();

  color: $color-prim-white;
  text-transform: uppercase;
}

.m-footer-links__category__icon {
  display: none;
  width: 10px;
  height: 10px;

  @include respond-down(xs) {
    display: block;
  }
}

.m-footer-links__cols {
  @include make-row();

  margin-top: 25px;

  &:first-child {
    margin-top: 0;
  }
}

.m-footer-links__list {
  @include unstyle-list();
  @include make-col-ready();
  @include make-col(12);

  margin-left: auto;

  &:first-child {
    margin-left: 0;
  }
}

.m-footer-links__list-item {
  display: block;

  margin-top: 10px;

  &:first-child {
    margin-top: -5px;
  }
}

.m-footer-links__link {
  @include typo-14();

  display: block;
  padding: 5px 0;

  color: $color-prim-white;

  &:hover,
  &:active,
  &:focus {
    color: rgba($color-prim-white, 0.65);
    text-decoration: none;
  }
}

.m-footer-links--cols {
}

.m-footer-links--cols-2 {
  @include make-col(5);

  .m-footer-links__list {
    @include make-col(6);
  }

  @include respond-down(md) {
    @include make-col(8);
  }

  @include respond-down(xs) {
    @include reset-col();
  }
}
