@import "../../../styles/settings/colors";
@import "../../../styles/mixins/hardware-accelerate";

$stroke-bg: $color-prim-red-burnt-sienna !default;
$stroke-height: 4px !default;
$stroke-z-index: 1px !default;

.a-stroke {
  @include hardware-accelerate();

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: $stroke-z-index;

  display: block;
  width: 0;
  height: 0;
  background: $color-prim-red-burnt-sienna;
  transition: height 0.2s ease;

  &.is-enter {
    height: $stroke-height;
  }

  &.is-move {
    transition: height 0.2s ease, left 0.2s ease;
  }

  &.is-static {
    left: 0 !important;
    bottom: 1px;
  }
}
