@import "../../../styles/settings/colors";

$stroke-bg: $color-prim-red-burnt-sienna !default;
$stroke-height: 4px !default;
$stroke-z-index: 1px !default;

.a-stroke {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: $stroke-z-index;

  display: block;
  width: 0;
  height: 0;
  background: $color-prim-red-burnt-sienna;
  transition: height 0.2s ease;

  &.is-enter {
    height: $stroke-height;
  }

  &.is-move {
    transition: all 0.2s ease;
  }
}
