@import '../../00-materials/styles/mixins/check-mark-animated';

$border-width: 1px;
$border-type: solid;

axa-input-text {
  .a-input-text__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }

  .a-input-text__input-wrapper {
    display: flex;
    align-items: center;
  }

  .a-input-text__input {
    @include typo();
    appearance: none;
    background: $color-prim-white;
    border: 1px solid $color-prim-gray-dusty;
    border-radius: 0;
    box-sizing: border-box;
    color: $color-prim-gray-mine-shaft;
    height: 40px;
    padding: 0 20px;
    width: 100%;

    &::placeholder {
      color: $color-prim-gray-dusty;
    }

    &::-ms-clear {
      display: none;
    }

    &:hover,
    &:active,
    &:focus {
      border: $border-width $border-type $color-axa-blue;
    }

    &:focus {
      border: $border-width $border-type $color-axa-blue;
      outline: $border-width $border-type $color-axa-blue;
      outline-offset: -2px;
    }

    &--error {
      border: $border-width $border-type $color-validation-error;

      &:hover,
      &:active,
      &:focus {
        border: $border-width $border-type $color-validation-error;

      }

      &:focus {
        outline: $border-width $border-type $color-validation-error;
        outline-offset: -2px;
      }
    }

    &:disabled {
      color: $color-prim-gray-dusty;
      background-color: $color-prim-gray-alabaster;
      border-color: $color-prim-gray-mercury;
    }
  }

  .a-input-text__label {
    @include typo(primary, medium);
    font-weight: 600;
    color: $color-prim-gray-mine-shaft;
    margin-bottom: 10px;
  }

  .a-input-text__error {
    @include typo();
    margin-top: 10px;
    color: $color-validation-error;

    &--hidden {
      display: none;
    }
  }

  .a-input-text__check-wrapper {
    @include check-mark-animated-wrapper();
    margin-left: 10px;

    .a-input-text__check {
      @include check-mark-animated();

      &--hidden {
        display: none;
      }
    }
  }
}

//$size: 26px;
//$bg-color: #1cc54e;
//
//
//.a-input-text__check-wrapper {
//  margin-left: 10px;
//  display: block;
//  width: $size;
//  height: $size;
//
//  .a-input-text__check {
//    display: block;
//    width: $size;
//    height: $size;
//    position: relative;
//    transform: rotate(45deg);
//
//    &:before {
//      content: '';
//      position: absolute;
//      top: 69%;
//      left: 22%;
//      height: 13%;
//      background: $bg-color;
//      border-radius: 6px;
//      animation: short .3s ease-in forwards;
//    }
//
//    &:after {
//      content: '';
//      position: absolute;
//      top: 80%; left: 52%;
//      height: 12%;
//      background: $bg-color;
//      border-radius: 6px;
//      transform: rotate(-90deg);
//      transform-origin:0 0;
//      animation: long .3s ease-out .3s forwards;
//    }
//  }
//
//  &--hidden .a-input-text__check {
//    display: none;
//  }
//}


