<axa-form-input id="test" value="Pre-filled content" name="test-name"></axa-form-input>
<axa-form-input id="test" value="Pre-filled content" name="test-name" inline></axa-form-input>
<axa-form-input id="test" value="Pre-filled content" name="test-name" disabled></axa-form-input>
<axa-form-input id="test" value="Pre-filled content" name="test-name" error></axa-form-input>
<axa-form-input id="test" placeholder="Pre-filled content" name="test-name"></axa-form-input>
<axa-form-input id="test" value="Pre-filled content" name="test-name" valid></axa-form-input>
<axa-form-input id="test" value="Pre-filled content" name="test-name" valid inline></axa-form-input>
