@import "../../styles/settings/colors";
@import "../../styles/settings/controls";
@import "../../styles/mixins/typo";
@import "../../styles/mixins/control-transition";

.a-form-input-wrapper {
  position: relative;

  display: block;

  width: 100%;
  max-width: 100%;
}

.a-form-input-wrapper--inline {

  display: inline-block;

  width: auto;

  vertical-align: middle;
}

.a-form-input {
  @include control-transition();
  @include typo-tag();
  @include respond-up(md) {
    margin-top: 15px;
  }

  position: relative;

  display: inline-flex;

  width: 100%;
  height: $control-size;

  max-width: 100%;

  padding: 0 20px;

  margin-top: 10px;

  align-items: center;

  color: $color-prim-gray-mine-shaft;
  background: $color-bg--white;
  outline: none;
  border: $control-border-width solid $control-border-color;

  appearance: none;

  &::placeholder {
    color: $color-prim-gray-dusty;
  }

  &:hover,
  &:active,
  &:focus {
    &:not([disabled]):not(:disabled):not(.a-form-input--error) {
      border-color: $control-border-color--active;
    }
  }

  &[disabled],
  :disabled {
    background-color: $color-bg--gray;
  }
}

.a-form-input--error {
  border-color: $control-border-color--error;
}

.a-form-input--valid {
  max-width: calc(100% - 48px);
}

.a-form-input--inline {
  display: inline-block;

  width: auto;

  vertical-align: middle;
}

.a-form-input__valid-icon {
  position: absolute;

  display: inline-flex;

  height: 100%;
  width: 48px;

  align-items: center;
  justify-content: center;

  &::before {
    display: block;
    width: 8px;
    height: 16px;

    content: "";

    border: solid $color-state-green-malachite;
    border-width: 0 2px 2px 0;

    transform: rotate(45deg);
  }
}
