@import "../../styles/settings/colors";
@import "../../styles/settings/controls";
@import "../../styles/typo/typo-mixins";
@import "../../styles/mixins/control-transition";
@import "./settings/form-input";

.a-form-input {
  display: block;

  width: 100%;

  &:not(:first-child) {
    margin-top: 5px;

    @include respond-up(md) {
      margin-top: 10px;
    }
  }
}

.a-form-input__wrapper {
  display: flex;
  width: 100%;
}

.a-form-input__input {
  @include control-transition();
  @include typo-tag();

  display: inline-flex;

  height: $control-size;

  padding: $form-input-padding;

  align-items: center;

  flex: 1;

  color: $color-prim-gray-mine-shaft;
  background: $color-bg--white;
  outline: none;
  border: $control-border-width solid $control-border-color;

  appearance: none;

  &::placeholder {
    color: $color-prim-gray-dusty;
  }

  &:hover,
  &:active,
  &:focus {
    &:not([disabled]):not(:disabled):not(.a-form-input--error) {
      border-color: $control-border-color--active;
    }
  }

  &[disabled],
  :disabled {
    background-color: $color-bg--gray;
  }
}

.a-form-input--error {
  .a-form-input__input {
    border-color: $control-border-color--error;
  }
}

.a-form-input--valid {
  .a-form-input__valid-icon {
    display: inline-flex;
  }
}

.a-form-input--inline {
  display: inline-block;

  width: auto;

  vertical-align: middle;

  & + & {
    margin-left: $form-input-inline-margin--mobile;

    @include respond-up(md) {
      margin-left: $form-input-inline-margin;
    }
  }

  .a-form-input__wrapper {
    display: inline-block;

    width: auto;

    vertical-align: middle;
  }
}

.a-form-input__valid-icon {
  display: none;

  width: $form-input-icon-size;

  align-items: center;
  justify-content: center;

  flex-grow: 0;
  flex-shrink: 0;

  &::before {
    display: block;
    width: $form-input-icon-before-width;
    height: $form-input-icon-before-height;

    content: "";

    border: solid $color-state-green-malachite;
    border-width: 0 2px 2px 0;

    transform: rotate(45deg);
  }
}
