<div style="max-width: 50%;">
  <axa-form-group label="test label">
    <axa-form-input id="input0" value="Pre-filled content" name="test-name"></axa-form-input>
  </axa-form-group>
  <axa-form-group label="test label">
    <axa-form-input id="input1" value="Pre-filled content" name="test-name"></axa-form-input>
  </axa-form-group>
  <axa-form-group>
    <axa-form-input id="input2" value="Pre-filled content" name="test-name"></axa-form-input>
  </axa-form-group>
  <axa-form-group>
    <axa-form-input id="input3" value="Pre-filled content" name="test-name"></axa-form-input>
  </axa-form-group>
  <axa-form-group label="Test Label"
                  info="Caramels liquorice ice cream gingerbread gummi bears. Lemon drops cookie wafer cake. Sweet roll sesame snaps chocolate bar bear claw lemon drops sugar plum cupcake candy canes icing.">
    <axa-form-input id="input4" value="Pre-filled content" name="test-name"></axa-form-input>
  </axa-form-group>

  <axa-form-group label="Test Label"
                  info="Caramels liquorice ice cream gingerbread gummi bears. Lemon drops cookie wafer cake. Sweet roll sesame snaps chocolate bar bear claw lemon drops sugar plum cupcake candy canes icing.">
    <axa-form-input id="input5" value="Pre-filled content" name="test-name"></axa-form-input>
  </axa-form-group>
  <axa-form-group label="Test Label"
                  info="Caramels liquorice ice cream gingerbread gummi bears. Lemon drops cookie wafer cake. Sweet roll sesame snaps chocolate bar bear claw lemon drops sugar plum cupcake candy canes icing.">
    <axa-form-input id="input6" value="Pre-filled content" name="test-name"></axa-form-input>
  </axa-form-group>
  <axa-form-group label="Test Label"
                  info="Caramels liquorice ice cream gingerbread gummi bears. Lemon drops cookie wafer cake. Sweet roll sesame snaps chocolate bar bear claw lemon drops sugar plum cupcake candy canes icing.">
    <axa-form-input id="input7" value="Pre-filled content" name="test-name"></axa-form-input>
  </axa-form-group>

  <axa-form-group label="Test Label"
                  error="Caramels liquorice ice cream gingerbread gummi bears."
                  info="Caramels liquorice ice cream gingerbread gummi bears. Lemon drops cookie wafer cake. Sweet roll sesame snaps chocolate bar bear claw lemon drops sugar plum cupcake candy canes icing.">
    <axa-form-input id="input8" value="Pre-filled content" name="test-name" error></axa-form-input>
  </axa-form-group>
</div>


