<div style="max-width: 50%;">
  <axa-form-group class="is-custom-element-disconnected" label="test label">
    <axa-input class="is-custom-element-disconnected" value="Pre-filled content" name="test-name"></axa-input>
  </axa-form-group>
  <axa-form-group class="is-custom-element-disconnected" label="test label">
    <axa-input class="is-custom-element-disconnected" value="Pre-filled content" name="test-name"></axa-input>
  </axa-form-group>
  <axa-form-group class="is-custom-element-disconnected"> <axa-input class="is-custom-element-disconnected" value="Pre-filled content" name="test-name"></axa-input>
  </axa-form-group>
  <axa-form-group class="is-custom-element-disconnected"> <axa-input class="is-custom-element-disconnected" value="Pre-filled content" name="test-name"></axa-input>
  </axa-form-group>
  <axa-form-group class="is-custom-element-disconnected" label="Test Label"
                  info="Caramels liquorice ice cream gingerbread gummi bears. Lemon drops cookie wafer cake. Sweet roll sesame snaps chocolate bar bear claw lemon drops sugar plum cupcake candy canes icing.">
    <axa-input class="is-custom-element-disconnected" value="Pre-filled content" name="test-name"></axa-input>
  </axa-form-group>

  <axa-form-group class="is-custom-element-disconnected" label="Test Label"
                  info="Caramels liquorice ice cream gingerbread gummi bears. Lemon drops cookie wafer cake. Sweet roll sesame snaps chocolate bar bear claw lemon drops sugar plum cupcake candy canes icing.">
    <axa-input class="is-custom-element-disconnected" value="Pre-filled content" name="test-name"></axa-input>
  </axa-form-group>
  <axa-form-group class="is-custom-element-disconnected" label="Test Label"
                  info="Caramels liquorice ice cream gingerbread gummi bears. Lemon drops cookie wafer cake. Sweet roll sesame snaps chocolate bar bear claw lemon drops sugar plum cupcake candy canes icing.">
    <axa-input class="is-custom-element-disconnected" value="Pre-filled content" name="test-name"></axa-input>
  </axa-form-group>
  <axa-form-group class="is-custom-element-disconnected" label="Test Label"
                  info="Caramels liquorice ice cream gingerbread gummi bears. Lemon drops cookie wafer cake. Sweet roll sesame snaps chocolate bar bear claw lemon drops sugar plum cupcake candy canes icing.">
    <axa-input class="is-custom-element-disconnected" value="Pre-filled content" name="test-name"></axa-input>
  </axa-form-group>

  <axa-form-group class="is-custom-element-disconnected" label="Test Label"
                  error="Caramels liquorice ice cream gingerbread gummi bears."
                  info="Caramels liquorice ice cream gingerbread gummi bears. Lemon drops cookie wafer cake. Sweet roll sesame snaps chocolate bar bear claw lemon drops sugar plum cupcake candy canes icing.">
    <axa-input class="is-custom-element-disconnected" value="Pre-filled content" name="test-name" error="Some error!"></axa-input>
  </axa-form-group>
</div>


