.Callout {
  background-color: var(--white);
  padding: var(--space-3) var(--space-5);
  box-shadow: var(--elevation-3);
}

.Callout-image {
  max-width: var(--space-7);
  margin-right: var(--space-3);

  & img {
    max-width: 100%;
  }
}

.Callout-link {
  max-width: 170px;
}
