.Content code,
.code {
  font-family: var(--font-mono);
  background-color: var(--pink-lightest);
  box-shadow: 0 0 0 1px var(--pink-light);
  color: var(--pink-dark);
  border-radius: 2px;
  font-size: 90%;
  font-weight: 500;
  padding: 2px 4px;
}

.Content,
.Content li,
.paragraph,
.li {
  font-size: 16px;
  line-height: 1.7;
}

.Content p,
.paragraph {
  margin-top: var(--space-1);
  margin-bottom: var(--space-1);
}

.Content li,
.li {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.h1 {
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.2px;
  margin-top: 54px;
  margin-bottom: 4px;
}

.h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.2px;
  margin-bottom: 16px;
  margin-top: 42px;
}

.Content h3,
.h3 {
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.05px;
  margin-bottom: 16px;
  margin-top: 32px;
}

.Content h4,
.h4 {
  font-size: 18px;
  font-family: var(--font-ui);
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.05px;
  margin-bottom: 4px;
  margin-top: 32px;
}

.Content a,
.link {
  color: var(--blue-base);
  position: relative;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible::after {
    text-decoration: none;
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    left: -4px;
    right: -4px;
    bottom: -2px;
    box-shadow: 0 0 0 2px var(--B6A);
    border-radius: 3px;
  }
}

.Content blockquote,
.blockquote {
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
  font-weight: 700;
  font-size: 1.25rem;

  & cite {
    color: var(--neutral-400);
  }
}

.Content strong,
.strong {
  font-weight: 600;
}

.Content ul,
.ul {
  list-style-type: disc;
  margin-left: 1.1em;
  margin-top: 16px;
  margin-bottom: 16px;
}

.Content-vertical {
  & .Content-vertical-item {
    color: var(--neutral-200);
    padding-top: var(--space-4);
    padding-bottom: var(--space-4);
    border-bottom: 1px solid var(--color-border-default);

    &:last-child {
      border-bottom-color: transparent;
      margin-bottom: var(--space-5);
    }
  }

  & .Content-vertical-image {
    max-height: 110px;
    margin-right: var(--space-5);
  }
}
