.Features {
  min-height: 480px;
  background-size: cover;
  background-position: bottom center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--neutral-dark);

  & .heading {
    line-height: 1.3;
    margin-bottom: var(--space-3);
  }
}

.Features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--space-6);

  & div:first-child {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }

  & div:last-child {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.Feature {
  padding: var(--space-2) var(--space-5);
}

.Features-alert {
  font-size: var(--font-size-sm);
  background-color: var(--teal-dark);
  padding: var(--space-2);
  color: var(--white);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  max-width: 180px;
  margin: 0 auto var(--space-2) auto;
}

.Feature-description {
  font-weight: 700;
  line-height: 1.6;
}
