.MDXPage-headerContent {
  display: flex;
  align-items: center;
  padding-top: var(--space-6);
  padding-bottom: var(--space-6);

  width: 1280px;
}

.MDXPage-headerContentLeft {
  flex: 1;
  display: flex;
  align-items: center;
}

.MDXPage {
  & .Playground {
    margin-bottom: 48px;
  }

  & .Container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--space-3);
    padding-right: var(--space-3);
  }
}

.MDXPage-headerTabs {
  padding-top: 16px;
  padding-bottom: 16px;
}
