.bg-neutral-200 {
  background: var(--neutral-200);
}
.bg-neutral-800 {
  background: var(--neutral-800);
}

.bg-white {
  background-color: var(--white);
}

.bg-green {
  background-color: var(--green-base);
}

.bg-blue {
  background-color: var(--blue-base);
}

.clearfix {
  &::after,
  &::before {
    content: '';
    clear: both;
    display: table;
  }
}

.border-bottom-default {
  border-bottom: 1px solid var(--color-border-default);
}

.border-bottom-muted {
  border-bottom: 1px solid var(--color-border-muted);
}

.shadow-none {
  box-shadow: none;
}
.shadow {
  box-shadow: var(--elevation-1);
}
.shadow-md {
  box-shadow: var(--elevation-2);
}
.shadow-lg {
  box-shadow: var(--elevation-3);
}
.shadow-xl {
  box-shadow: var(--elevation-4);
}
.shadow-2xl {
  box-shadow: var(--elevation-5);
}
