.TopBar {
  z-index: 1;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  position: sticky;
  top: 0;
  z-index: 9;
  background: var(--white);
  box-shadow: var(--elevation-4);
}

.TopBar-nav {
  position: relative;
  display: flex;
  flex: 1;

  @media (--range-palm), (--range-hand) {
    margin-left: 12px;
  }

  @media (--range-lap), (--range-desk) {
    margin-left: 24px;
  }
}

.TopBar-navRight {
  display: flex;
  align-items: center;

  & > span {
    margin-right: 16px;
  }
}

.TopBar-link {
  color: var(--neutral-600);
  text-transform: uppercase;
  line-height: 16px;
  font-size: 14px;
  padding: 10px 12px;
  font-weight: 600;
  margin-right: 8px;
  height: 56px;
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.4px;
  border-bottom: 3px solid transparent;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: var(--blue-base);
  }

  &:active,
  &.is-active {
    color: var(--blue-base);
    border-bottom-color: var(--red-base);
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 2px var(--B6A);
  }

  & .icon-holder {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: -1px;

    & + span {
      margin-left: 8px;
    }
  }

  @media (--range-palm) {
    height: 32px;

    & .hide-on-mobile {
      display: none;
    }

    & .icon-holder + .hide-on-mobile {
      margin-left: 0px;
    }
  }
}
