@import "../../../styles/settings/colors";
@import "../../../styles/settings/zindex";

$dropdown__toggle-bg: $color-prim-white !default;
$dropdown__toggle-color: $color-prim-gray-dusty !default;
$dropdown__toggle-color--hover: $color-axa-blue !default;
$dropdown__toggle-y-padding: 10.5px !default;
$dropdown__toggle-x-padding: 20px !default;
$dropdown__toggle-border-width: 1px !default;
$dropdown__toggle-border-color: $color-prim-gray-silver !default;

$dropdown__icon-size: 10px !default;
$dropdown__icon-gap: 20px !default;

$dropdown__content-bg: $color-prim-white !default;

$dropdown__item-border-width: 1px !default;
$dropdown__item-border-width-last: 3px !default;
$dropdown__item-border-color: $color-prim-gray-silver !default;

$dropdown__link-bg--hover: $color-prim-gray-wild-sand !default;
