.a-popup__wrapper {
  max-height: 0;
  overflow: hidden;
}

.a-popup__wrapper--open {
  max-height: 600px;
  transition: max-height .2s ease-out;
}

.a-popup__content {
  display: none;
  position: relative;
  background-color: $color-axa-blue;
  color: $color-prim-white;
  padding: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 12px;

  &:before {
    position: absolute;
    top: -12px;
    right: 5px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    content: '';
    box-sizing: content-box;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid $color-axa-blue;
    z-index: 1;
  }
}

.a-popup__content--open {
  display: block;
}
