axa-top-content-bar {
  axa-link {
    padding: 5px;
  }

  a {
    color: white;
    text-decoration: underline;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

@include breakpoint($mediaquery-md-up) {
  axa-top-content-bar > axa-link {
    padding: 0;
    margin-left: 5px;
  }
}
