axa-top-content-bar {
  > axa-link {
    padding: 5px;
  }

  a {
    color: $color-prim-white;
    text-decoration: underline;

    &:hover {
      color: $color-prim-white;
      text-decoration: none;
    }
  }
}

@media (min-width: $breakpoint-md) {
  axa-top-content-bar > axa-link {
    padding: 0;
    margin-left: 5px;
  }
}
