$mediaquery-mobile-up: 411px;
$mediaquery-tablet-up: 991px;

.m-top-content-bar {
  display: block;
  line-height: 24px;

  .m-top-content-bar__container {
    line-height: 24px;
  }

  &.hide {
    display: none;
  }

  &.m-top-content-bar__overlay-desktop,
  &.m-top-content-bar__overlay-desktop.m-top-content-bar__bottom-mobile {
    @include breakpoint($mediaquery-mobile-up) {
      position: relative;
      top: 60px;
      max-height: 0px;
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
      width: stretch;
    }
    z-index: 2;
  }

  &.m-top-content-bar__bottom-mobile:not(.m-top-content-bar__overlay-desktop) {
    @include breakpoint($mediaquery-mobile-up) {
      position: static;
    }
  }

  &.m-top-content-bar__bottom-mobile {
    position: fixed;
    bottom: 0;
    top: unset;
    width: 100%;
    z-index: 2;

    @include breakpoint($mediaquery-mobile-up) {
      position: unset;
      top: 0;
      bottom: unset;
    }
  }

  .m-top-content-bar__content-text {
    margin: 1em 0px;
  }

  .m-top-content-bar__icon,
  .m-top-content-bar__close-button {
    width: 40px;
    text-align: center;
  }

  .m-top-content-bar__close-button {
    margin-left: 13px;
  }

  .m-top-content-bar__icon {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .m-top-content-bar__content-button {
    display: none;
  }

  .m-top-content-bar__content-button-mobile {
    display: block;
    width: 100%;
    margin-top: 16px;

    .m-top-content-bar__button,
    .m-top-content-bar__button-link {
      width: 100%;
    }
  }

  &__container {
    @include text(t4);

    background-color: $color-ocean-blue;
    color: $color-prim-white;

    min-height: 50px;
    vertical-align: middle;
    padding: 16px 16px;

    box-sizing: border-box;

    @include breakpoint($mediaquery-mobile-up) {
      padding: 5px 16px;
    }

    &-component {
      min-height: 40px;
      display:flex;
      align-items:center;
      flex-wrap: nowrap;
      font-size: 15px;

      .m-top-content-bar__button, .m-top-content-bar__button-link {
        margin-left: 10px;
      }

      .m-top-content-bar__button-link {
        display: inline-flex;
      }
    }

    &-flex {
      display:flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .m-top-content-bar-empty {
      display: none;

      @include breakpoint($mediaquery-mobile-up) {
        display: block;
      }
    }
  }

  &__children {
    display: flex;
    flex-wrap: nowrap;

    @include breakpoint($mediaquery-md-up) {
      flex-direction: row;
      padding: 0;

      & > * {
        padding: 0;
      }
    }

    .m-top-content-bar__button-link,
    .m-top-content-bar__button {
      margin-left: 10px;
    }
  }

  @include breakpoint($mediaquery-tablet-up) {
    div.m-top-content-bar__icon,
    div.m-top-content-bar__close-button {
      justify-content: center;
    }
  }

  @include breakpoint($mediaquery-mobile-up) {
    .m-top-content-bar__content-button-mobile {
      display: none
    }

    .m-top-content-bar__content-button {
      display: flex;
      align-items: center;
      margin-left: 10px;
    }

    .m-top-content-bar__close-button {
      display: flex;
      align-items: center;
      min-width: 40px;
      margin-left: 28px;
      cursor: pointer;
      margin-top: 5px;
    }

    .m-top-content-bar__icon {
      min-width: 40px;
      margin-top: 5px;
    }
  }

}

.m-top-content-bar__container--warning {
  background-color: $color-shy-tomato;
}
.m-top-content-bar__container--success {
  background-color: $color-malachite;
}
.m-top-content-bar__container--attention {
  background-color: #BC9D45;
}
