.m-top-content-bar {
  display: block;

  &__container {
    @include text(t4);

    background-color: $color-ocean-blue;
    color: $color-prim-white;

    min-height: 50px;
    vertical-align: middle;

    text-align: center;

    padding-top: 5px;
    padding-bottom: 5px;

    box-sizing: border-box;

    &-component {
      min-height: 40px;
      display:flex;
      align-items:center;

      .m-top-content-bar__button, .m-top-content-bar__button-link {
        margin-left: 10px;
      }

      .m-top-content-bar__button-link {
        display: inline-flex;
      }
    }
  }

  &__children {
    display: flex;
    align-items: center;

    .m-top-content-bar__button-link,
    .m-top-content-bar__button {
      margin-left: 10px;
    }
  }
}


.m-top-content-bar__container--warning {
  background-color: $color-shy-tomato;
}
