<axa-table
  caption="Caption"
  caption-side="bottom"
  headings='["Nature", "Date", "Status", { "text": "Amount", "align": "right", "sort": "down" }]'
  items='[
    { "action": true, "cells": [{ "text": "New deposit N.O929lO8", "strong": true }, "July, 22th 2018", { "text": "Received", "state": "ok" }, { "text": "1200", "bold": true, "align": "right" }]},
    [{ "text": "New deposit N.O929lO8", "strong": true }, "July, 22th 2018", { "text": "Pending", "state": "pending" }, { "text": "1200", "bold": true, "align": "right" }],
    { "cells": [{ "text": "New deposit N.O929lO8", "strong": true, "action": true }, "July, 22th 2018", { "text": "Refused", "state": "error" }, { "text": "1200", "bold": true, "align": "right" }]},
    [{ "text": "New deposit N.O929lO8", "strong": true }, "July, 22th 2018", { "text": "Unknown", "state": "unknown" }, { "text": "1200", "bold": true, "align": "right" }]
  ]'
  footers='[
    { "cells": [{ "text": "Deposit Plan", "colspan": "3" }, { "text": "+ $ 1200 monthly", "align": "right" }] },
    [{ "text": "Withdrawal Plan", "colspan": "3" }, { "text": "- $ 1200 yearly", "align": "right" }]
  ]'
></axa-table>

<table class="o-table--all">
  <caption>Caption</caption>
  <thead>
    <tr>
      <th>Nature</th>
      <th>Date</th>
      <th>Status</th>
      <th class="o-table__cell--right">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>New deposit N.O929lO8</td>
      <td>July, 22th 2018</td>
      <td>Received</td>
      <td class="o-table__cell--right">1200</td>
    </tr>
    <tr>
      <td>New deposit N.O929lO8</td>
      <td>July, 22th 2018</td>
      <td>Received</td>
      <td class="o-table__cell--right">1200</td>
    </tr>
    <tr>
      <td>New deposit N.O929lO8</td>
      <td>July, 22th 2018</td>
      <td>Received</td>
      <td class="o-table__cell--right">1200</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Deposit Plan</td>
      <td class="o-table__cell--right">+ $ 1'200 monthly</td>
    </tr>
    <tr>
      <td colspan="3">Withdrawal Plan</td>
      <td class="o-table__cell--right">- $ 1'200 yearly</td>
    </tr>
  </tfoot>
</table>
