<axa-table classes="o-table">
  <axa-caption>Caption</axa-caption>
  <axa-thead>
    <axa-tr>
      <axa-td>Nature</axa-td>
      <axa-td>Date</axa-td>
      <axa-td>Status</axa-td>
      <axa-td>Amount</axa-td>
    </axa-tr>
  </axa-thead>
  <axa-tbody>
    <axa-tr>
      <axa-td>New deposit N.O929lO8</axa-td>
      <axa-td>July, 22th 2018</axa-td>
      <axa-td>Received</axa-td>
      <axa-td>1200</axa-td>
    </axa-tr>
    <axa-tr>
      <axa-td>New deposit N.O929lO8</axa-td>
      <axa-td>July, 22th 2018</axa-td>
      <axa-td>Received</axa-td>
      <axa-td>1200</axa-td>
    </axa-tr>
    <axa-tr>
      <axa-td>New deposit N.O929lO8</axa-td>
      <axa-td>July, 22th 2018</axa-td>
      <axa-td>Received</axa-td>
      <axa-td>1200</axa-td>
    </axa-tr>
  </axa-tbody>
  <axa-tfoot>
    <axa-tr>
      <axa-td>Deposit Plan</axa-td>
      <axa-td>+ $ 1'200 monthly</axa-td>
    </axa-tr>
    <axa-tr>
      <axa-td>Withdrawal Plan</axa-td>
      <axa-td>- $ 1'200 yearly</axa-td>
    </axa-tr>
  </axa-tfoot>
</axa-table>

<table>
  <caption>Caption</caption>
  <thead>
    <tr>
      <td>Nature</td>
      <td>Date</td>
      <td>Status</td>
      <td>Amount</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>New deposit N.O929lO8</td>
      <td>July, 22th 2018</td>
      <td>Received</td>
      <td>1200</td>
    </tr>
    <tr>
      <td>New deposit N.O929lO8</td>
      <td>July, 22th 2018</td>
      <td>Received</td>
      <td>1200</td>
    </tr>
    <tr>
      <td>New deposit N.O929lO8</td>
      <td>July, 22th 2018</td>
      <td>Received</td>
      <td>1200</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Deposit Plan</td>
      <td>+ $ 1'200 monthly</td>
    </tr>
    <tr>
      <td>Withdrawal Plan</td>
      <td>- $ 1'200 yearly</td>
    </tr>
  </tfoot>
</table>
