@import "../../styles/settings/colors";
@import "../../styles/mixins/clearfix";
@import "../../styles/mixins/respond";
@import "../../styles/mixins/size";
@import "../../styles/mixins/triangle";
@import "../../styles/mixins/word-break";
@import "../../styles/typo/typo-mixins";
@import "../../styles/trumps/align";

$table-border-color: $color-prim-gray-mercury !default;

$table__row-padding-x--sm: 0 !default;
$table__row-padding-y--sm: 20px !default;

$table__cell-color: $color-prim-gray !default;
$table__cell-padding-x: 15px !default;
$table__cell-padding-y: 10px !default;
$table__cell-padding-x--sm: 10px !default;
$table__cell-padding-y--sm: 2px !default;
$table__cell-color: $color-prim-gray !default;
$table__cell--strong-color: $color-prim-gray-mine-shaft !default;
$table__cell--head-color: $color-axa-blue !default;
$table__cell--foot-color: $color-prim-gray-mine-shaft !default;
$table__cell--action-color: $color-axa-blue !default;
$table__cell--action-bg: $color-prim-gray-alabaster !default;
$table__cell--sort-width: 8px !default;
$table__cell--sort-height: 4px !default;
$table__cell--sort-margin-left: 5px !default;
$table__cell--sort-color: $color-prim-gray-silver !default;
$table__cell--sort-active-color: $color-axa-blue !default;
$table__cell--state-ok-color: $color-state-green-malachite !default;
$table__cell--state-pending-color: $color-prim-red-burnt-sienna !default;
$table__cell--state-error-color: $color-state-red-shy-tomato !default;
$table__cell--state-unknown-color: $color-prim-gray-silver !default;
$table__cell--state-size: 8px !default;
$table__cell--state-margin-right: 20px !default;
$table__cell--state-margin-right--sm: 10px !default;

$table__foot-bg: $color-prim-gray-wild-sand !default;

.o-table__root {
  display: block;
}

%o-table__caption {
  @include typo-tag();

  padding: $table__cell-padding-y $table__cell-padding-x;
  color: $table__cell-color;

  @include respond-down(sm) {
    padding-left: $table__cell-padding-x--sm;
    padding-right: $table__cell-padding-x--sm;
  }
}

%o-table__foot {
  background: $table__foot-bg;
}

%o-table__row {
  @include respond-down(sm) {
    display: block;

    padding: $table__row-padding-y--sm $table__row-padding-x--sm;
    border-top: 1px solid $table-border-color;
  }
}

%o-table__row--head {
  @include respond-down(sm) {
    display: none;
  }
}

%o-table__row--foot {
  border-top-color: $table-border-color;

  @include respond-down(sm) {
    padding-top: $table__cell-padding-y;
    padding-bottom: $table__cell-padding-y;

    &:first-child {
      border-top: none;
    }
  }
}

%o-table__cell {
  @include typo-secondary-text();

  padding: $table__cell-padding-y $table__cell-padding-x;
  border-top: 1px solid $table-border-color;

  color: $table__cell-color;

  @include respond-down(sm) {
    display: block;

    padding: $table__cell-padding-y--sm $table__cell-padding-x--sm;
    border-top: none;
  }
}

%o-table__cell--head {
  @include typo-secondary-text--bold();

  color: $table__cell--head-color;

  @include respond-down(sm) {
    display: none;
  }
}

%o-table__cell--foot {
  @include typo-secondary-text--bold();

  color: $table__cell--foot-color;
  background: $table__foot-bg;
}

%o-table__cell--foot-first {
  border-top: none;
}

%o-table {
  width: 100%;
}

.o-table {
  @extend %o-table;
}

.o-table--all {
  @extend %o-table;

  table {
    @extend %o-table;
  }

  caption {
    @extend %o-table__caption;
  }

  tr {
    @extend %o-table__row;
  }

  td,
  th {
    @extend %o-table__cell;
  }

  th {
    @extend %o-table__cell--head;
  }

  thead {
    tr {
      @extend %o-table__row--head;

      th {

      }
    }
  }

  tfoot {
    @extend %o-table__foot;

    td {
      @extend %o-table__cell--foot;
    }

    tr {
      @extend %o-table__row--foot;

      td {

      }

      &:first-child > td {
        @extend %o-table__cell--foot-first;
      }
    }
  }

  tbody {
    tr {
      td {

      }
    }
  }
}

.o-table__caption {
  @extend %o-table__caption;
}

.o-table__caption--top {
  caption-side: top;
}

.o-table__caption--bottom {
  caption-side: bottom;
}

.o-table__head {

}

.o-table__foot {
  @extend %o-table__foot;
}

.o-table__body {

}

.o-table__row {
  @extend %o-table__row;
}

.o-table__row--head {
  @extend %o-table__row--head;
}

.o-table__row--foot {
  @extend %o-table__row--foot;
}

.o-table__row--action {
  &:hover,
  &:focus {
    cursor: pointer;
    background: $table__cell--action-bg;
  }
}

.o-table__cell {
  @extend %o-table__cell;
}

.o-table__cell--strong {
  color: $table__cell--strong-color;
}

.o-table__cell--bold {
  @include typo-secondary-text--bold();

  color: $table__cell--strong-color;
}

.o-table__cell--head {
  @extend %o-table__cell--head;
}

.o-table__cell--sort {
  &::after {
    position: relative;

    margin-left: $table__cell--sort-margin-left;
  }

  &:hover {
    cursor: pointer;
  }
}

.o-table__cell--sort-up {
  &::after {
    @include triangle(top, $table__cell--sort-color, $table__cell--sort-width, $table__cell--sort-height);

    top: -($table__cell--sort-height * 2);
  }

  &:hover,
  &.o-table__cell--sort-active {
    &::after {
      @include triangle-color(top, $table__cell--sort-active-color);
    }
  }
}

.o-table__cell--sort-down {
  &::after {
    @include triangle(bottom, $table__cell--sort-color, $table__cell--sort-width, $table__cell--sort-height);

    top: -$table__cell--sort-height;
  }

  &:hover,
  &.o-table__cell--sort-active {
    &::after {
      @include triangle-color(bottom, $table__cell--sort-active-color);
    }
  }
}

.o-table__cell--foot {
  @extend %o-table__cell--foot;

  .o-table__row--foot:first-child > & {
    @extend %o-table__cell--foot-first;
  }
}

.o-table__cell--action {
  &:hover,
  &:focus {
    cursor: pointer;
    background: $table__cell--action-bg;
    color: $table__cell--action-color;
  }
}

%o-table__cell--state {
  &::before {
    @include size($table__cell--state-size);

    display: inline-block;
    margin-right: $table__cell--state-margin-right;
    border-radius: $table__cell--state-size;
    vertical-align: middle;
    content: '';

    @include respond-down(sm) {
      margin-right: $table__cell--state-margin-right--sm;
    }
  }
}

.o-table__cell--state-ok {
  @extend %o-table__cell--state;

  color: $table__cell--state-ok-color;

  &::before {
    background: $table__cell--state-ok-color;
  }
}

.o-table__cell--state-pending {
  @extend %o-table__cell--state;

  color: $table__cell--state-pending-color;

  &::before {
    background: $table__cell--state-pending-color;
  }
}

.o-table__cell--state-error {
  @extend %o-table__cell--state;

  color: $table__cell--state-error-color;

  &::before {
    background: $table__cell--state-error-color;
  }
}

.o-table__cell--state-unknown {
  @extend %o-table__cell--state;

  color: $table__cell--state-unknown-color;

  &::before {
    background: $table__cell--state-unknown-color;
  }
}

.o-table__cell--left {
  @include respond-down(sm) {
    @include word-break();

    float: left;
    text-align: left;
  }
}

.o-table__cell--right {
  @include respond-down(sm) {
    @include word-break();

    float: right;
    text-align: right;

    .o-table__cell--left + & + *,
    + .o-table__cell--left + * {
      clear: both;
    }

    @at-root {
      .o-table__row {
        @include clearfix();
      }
    }
  }
}

