@import "../../styles/settings/colors";
@import "../../styles/mixins/size";
@import "../../styles/mixins/triangle";
@import "../../styles/typo/typo-mixins";
@import "../../styles/trumps/align";

$table__cell-color: $color-prim-gray !default;
$table__cell-padding-x: 15px !default;
$table__cell-padding-y: 10px !default;
$table__cell-color: $color-prim-gray !default;
$table__cell--strong-color: $color-prim-gray-mine-shaft !default;
$table__cell--head-color: $color-axa-blue !default;
$table__cell--foot-color: $color-prim-gray-mine-shaft !default;
$table__cell--action-color: $color-axa-blue !default;
$table__cell--action-bg: $color-prim-gray-alabaster !default;
$table__cell--sort-width: 8px !default;
$table__cell--sort-height: 4px !default;
$table__cell--sort-color: $color-prim-gray-silver !default;
$table__cell--sort-active-color: $color-axa-blue !default;
$table__cell--state-ok-color: $color-state-green-malachite !default;
$table__cell--state-pending-color: $color-prim-red-burnt-sienna !default;
$table__cell--state-error-color: $color-state-red-shy-tomato !default;
$table__cell--state-unknown-color: $color-prim-gray-silver !default;
$table__cell--state-size: 8px !default;
$table__cell--state-margin-right: 20px !default;

$table__foot-bg: $color-prim-gray-wild-sand !default;
$table__foot-border: $color-prim-gray-mercury !default;

.o-table__root {
  display: block;
}

%o-table__caption {
  @include typo-tag();

  padding: $table__cell-padding-y $table__cell-padding-x;
  color: $table__cell-color;
}

%o-table__foot {
  background: $table__foot-bg;
}

%o-table__row--foot {
  border-top: $table__foot-border;
}

%o-table__cell {
  @include typo-secondary-text();

  padding: $table__cell-padding-y $table__cell-padding-x;
  border-top: 1px solid $table__foot-border;

  color: $table__cell-color;
}

%o-table__cell--head {
  @include typo-secondary-text--bold();

  color: $table__cell--head-color;
}

%o-table__cell--foot {
  @include typo-secondary-text--bold();

  color: $table__cell--foot-color;
  background: $table__foot-bg;
}

%o-table__cell--foot-first {
  border-top: none;
}

.o-table,
.o-table--all {
  width: 100%;
}

.o-table--all {
  caption {
    @extend %o-table__caption;
  }

  td,
  th {
    @extend %o-table__cell;
  }

  th {
    @extend %o-table__cell--head;
  }

  thead {
    tr {
      th {

      }
    }
  }

  tfoot {
    @extend %o-table__foot;

    td {
      @extend %o-table__cell--foot;
    }

    tr {
      @extend %o-table__row--foot;

      td {

      }

      &:first-child > td {
        @extend %o-table__cell--foot-first;
      }
    }
  }

  tbody {
    tr {
      td {

      }
    }
  }
}

.o-table__caption {
  @extend %o-table__caption;
}

.o-table__caption--top {
  caption-side: top;
}

.o-table__caption--bottom {
  caption-side: bottom;
}

.o-table__head {

}

.o-table__foot {
  @extend %o-table__foot;
}

.o-table__body {

}

.o-table__row {

}

.o-table__row--head {

}

.o-table__row--foot {
  @extend %o-table__row--foot;
}

.o-table__row--action {
  &:hover,
  &:focus {
    cursor: pointer;
    background: $table__cell--action-bg;
  }
}

.o-table__cell {
  @extend %o-table__cell;
}

.o-table__cell--strong {
  color: $table__cell--strong-color;
}

.o-table__cell--bold {
  @include typo-secondary-text--bold();

  color: $table__cell--strong-color;
}

.o-table__cell--head {
  @extend %o-table__cell--head;
}

.o-table__cell--sort {
  &::after {}

  &:hover {
    cursor: pointer;
  }
}

.o-table__cell--sort-up {
  &::after {
    @include triangle(top, $table__cell--sort-color, $table__cell--sort-width, $table__cell--sort-height);
  }

  &:hover,
  &.o-table__cell--sort-active {
    &::after {
      @include triangle-color(top, $table__cell--sort-active-color);
    }
  }
}

.o-table__cell--sort-down {
  &::after {
    @include triangle(bottom, $table__cell--sort-color, $table__cell--sort-width, $table__cell--sort-height);
  }

  &:hover,
  &.o-table__cell--sort-active {
    &::after {
      @include triangle-color(bottom, $table__cell--sort-active-color);
    }
  }
}

.o-table__cell--foot {
  @extend %o-table__cell--foot;

  .o-table__row--foot:first-child > & {
    @extend %o-table__cell--foot-first;
  }
}

.o-table__cell--action {
  &:hover,
  &:focus {
    cursor: pointer;
    background: $table__cell--action-bg;
    color: $table__cell--action-color;
  }
}

%o-table__cell--state {
  &::before {
    @include size($table__cell--state-size);

    display: inline-block;
    margin-right: $table__cell--state-margin-right;
    border-radius: $table__cell--state-size;
    vertical-align: middle;
    content: '';
  }
}

.o-table__cell--state-ok {
  @extend %o-table__cell--state;

  color: $table__cell--state-ok-color;

  &::before {
    background: $table__cell--state-ok-color;
  }
}

.o-table__cell--state-pending {
  @extend %o-table__cell--state;

  color: $table__cell--state-pending-color;

  &::before {
    background: $table__cell--state-pending-color;
  }
}

.o-table__cell--state-error {
  @extend %o-table__cell--state;

  color: $table__cell--state-error-color;

  &::before {
    background: $table__cell--state-error-color;
  }
}

.o-table__cell--state-unknown {
  @extend %o-table__cell--state;

  color: $table__cell--state-unknown-color;

  &::before {
    background: $table__cell--state-unknown-color;
  }
}

