<axa-footer-sub class="is-custom-element-disconnected"> <axa-footer-languages class="is-custom-element-disconnected" title="languages"
    items='[
      {"name": "Deutsch", "code": "de", "url": ""},
      {"name": "English", "isActive": true, "code": "en", "url": ""},
      {"name": "French", "code": "fr", "url": ""},
      {"name": "Italian", "code": "it", "url": ""}
    ]'
  ></axa-footer-languages>
</axa-footer-sub>

<axa-footer-sub class="is-custom-element-disconnected"> <axa-footer-languages class="is-custom-element-disconnected" title="languages"
    items='[
      {"name": "Deutsch", "code": "de", "url": ""},
      {"name": "English", "isActive": true, "code": "en", "url": ""},
      {"name": "French", "code": "fr", "url": ""},
      {"name": "Italian", "code": "it", "url": ""}
    ]'
    inline
    short
  ></axa-footer-languages>
</axa-footer-sub>
