@import "../../styles/settings/colors";
@import "../../styles/mixins/clearfix";
@import "../../styles/mixins/typo";
@import "../../styles/mixins/unstyle-list";

.m-footer-languages {
  display: block;
}

.m-footer-languages__box {

}

.m-footer-languages__title {
  @include typo-14();

  color: $color-prim-white;
  text-transform: uppercase;
}

.m-footer-languages__list {
  @include unstyle-list();
  @include clearfix();
}

.m-footer-languages__list-item {
  display: block;
  float: left;
}

.m-footer-languages__link {
  color: rgba($color-prim-white, 0.65);
  text-transform: uppercase;

  &:hover,
  &:active,
  &.is-selected {
    color: $color-prim-white;
    text-decoration: none;
  }
}

.m-footer-languages--inline {
  .m-footer-languages__box {
    @include clearfix();
  }

  .m-footer-languages__title,
  .m-footer-languages__list {
    float: left;
  }
}
