@import '../../10-atoms/carousel/child';

axa-testimonials {
  .o-testimonials__author {
    @include typo(primary, small, bold);
    display: block;
    text-transform: uppercase;
    margin-top: 10px;

    @include breakpoint($mediaquery-xl-up) {
      margin-top: 20px;
    }
  }

  &[showallinline] {
    .o-testimonials__vertical-margin {
      margin: 20px 0; // issue #1346: a workaround for that
    }
  }
}

axa-testimonials[showallinline] {
  > * {
    margin: 20px 0; // issue #1346: this attribute is gone in IE
    @include defaultAttributesChildElements();
  }
}
