@import '../../10-atoms/carousel/child';

axa-testimonials {
  .author{
    @include typo(primary, small, bold);
    display: block;
    text-transform: uppercase;
    margin-top: 10px;

    @include breakpoint($mediaquery-xlg-up) {
      margin-top: 20px;
    }
  }

  &[showallinline] {
    .showallinline_ie_bugfix {
      margin: 20px 0;
    }
  }
}

axa-testimonials[showallinline] {
  > * {
    margin: 20px 0; // issue #1346: this attribute is gone in IE
    @include defaultAttributesChildElements();
  }
}
