.o-testimonials {
  display: inline-block;
  width: 100%;
  background: $color-sec-green-viridian;
  color: $color-prim-white;

  &__title {
    @include typo-title(large-1, secondary);
    margin: 30px 30px 0 30px;
    text-align: center;

    @include breakpoint($mediaquery-sm-up) {
      @include typo-title(huge-1, secondary);
      margin-top: 50px;
    }

    @include breakpoint($mediaquery-lg-up) {
      @include typo-title(huge-2, secondary);
      margin-top: 50px;
    }
  }

  &__subtitle {
    @include typo(primary, default, default);
    margin: 20px 30px 0 30px;
    text-align: center;

    @include breakpoint($mediaquery-sm-up) {
      @include typo(primary, medium, default);
    }
  }

  &__content {
    padding: 30px 5px 70px 5px;
    @include breakpoint($mediaquery-sm-up) {
      padding-bottom: 80px;
    }
    @include breakpoint($mediaquery-lg-up) {
      // padding: 0 15px; //Bug in V1: lg not working. it has sm paddings
    }

    &__inline {
      slot {
        &::slotted(*) {
          display: block;
          margin: 20px 0;
        }
      }
    }
  }

  axa-carousel {
    width: 100%;
    margin: 0 10px;
  }
}
