.o-testimonials {
  display: inline-block;
  width: 100%;
  background: $color-viridian-green;
  color: $color-prim-white;

  &__title {
    @include headline(h2, secondary);
    margin: 30px 30px 0 30px;
    text-align: center;
  }

  &__subtitle {
    @include text(t4);
    margin: 20px 30px 0 30px;
    text-align: center;

    @include breakpoint($mediaquery-xs-up) {
      @include text(t3);
    }
  }

  &__content {
    padding: 20px 5px 30px 5px;
    @include breakpoint($mediaquery-xs-up) {
      padding: 30px 5px 50px 5px;
    }
    @include breakpoint($mediaquery-xl-up) {
      padding: 30px 5px 80px 5px;
    }
  }
}
