// Colors as specified at
// @link https://design.axa.com/web-guidelines/color

/// Core AXA Colors
$color-axa-blue: #00008f !default;
$color-axa-red: #ff1721 !default;

/// UI Design
$color-burnt-sienna: #f07662 !default;
$color-black: #000 !default;
$color-dark-grey: #333 !default;
$color-medium-grey: #5f5f5f !default;
$color-grey: #7f7f7f !default;
$color-light-grey: #999 !default;
$color-silver: #ccc !default;
$colo-mercury: #e5e5e5 !default;
$color-wild-sand: #f5f5f5 !default;
$color-alabaster: #fafafa !default;
$color-prim-white: #fff !default;

/// Background and Illustration
$color-deep-sapphire: #00005b !default; // PL only
$color-azure: #3032c1 !default; // PL only
$color-dark-indigo: #3b3fd8 !default; // PL only
$color-ocean-blue: #4976ba !default;
$color-teal: #027180 !default;
$color-viridian-green: #668980 !default;
$color-pacific: #00adc6 !default;
$color-greyjoy: #9fbeaf !default;
$color-aqua-green: #9fd9b4 !default;
$color-flamingo: #ec4d33 !default; // PL only
$color-tosca: #914146 !default;
$color-azalea: #e196aa !default;
$color-cotton-candy: #fad6de !default;
$color-apache: #ddbe65 !default;
$color-dune: #fcd385 !default;
$color-sec-yellow-acid: #f0ff93 !default;
$color-sec-purple-logan: #9190ac !default;
$color-sec-blue-igloo: #b5d0ee !default;

/// Status-indicating Colors
$color-sec-green-malachite: #1cc54e !default;
$color-sec-red-shy-tomato: #c91432 !default;
