@import './breakpoint';
@import './variables';
@include bkpt-set('to ems', true); // TODO -> SERIOUS EVALUATION HERE NEEDED

$mediaquery-xs: 0 ($breakpoint-xs - 1); // (min-width: 0 and max-width: 575px)
$mediaquery-xs-up: $breakpoint-xs; // (min-width: 576px)
$mediaquery-sm: $breakpoint-xs ($breakpoint-sm - 1px); // (min-width: 576px and max-width: 767px)
$mediaquery-sm-up: $breakpoint-sm; // (min-width: 768px)
$mediaquery-md: $breakpoint-sm ($breakpoint-md - 1px); // (min-width: 768px and max-width: 991px)
$mediaquery-md-up: $breakpoint-md; // (min-width: 992px)
$mediaquery-xl: $breakpoint-md ($breakpoint-xl - 1px); // (min-width: 992px and max-width: 1199px)
$mediaquery-xl-up: $breakpoint-xl; // (min-width: 1200px)

@mixin max-width {
  max-width: 576px;
  margin: auto;

  @include breakpoint($mediaquery-xs-up) {
    max-width: 540px;
  }

  @include breakpoint($mediaquery-sm-up) {
    max-width: 720px;
  }

  @include breakpoint($mediaquery-md-up) {
    max-width: 960px;
  }

  @include breakpoint($mediaquery-xl-up) {
    max-width: 1140px;
  }
}
