// breakpoint - based on default 16px
// 576px
$breakpoint-xs: 36em;
// 768px
$breakpoint-sm: 48em;
// 992px
$breakpoint-md: 62em;
// 1200px
$breakpoint-xl: 75em;
// 1440px
$breakpoint-xxl: 90em;

// spacing
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 28px;
$spacing-7: 40px;
$spacing-8: 60px;
$spacing-8: 80px;
$spacing-9: 120px;

// shadow
$box-shadow-default: 0px 1px 8px rgba(0, 0, 0, 0.15);
$box-shadow-high: 0px 1px 20px rgba(0, 0, 0, 0.15);