@import "../../styles/settings/colors";

.o-main-navigation {
  display: block;

  border-bottom: 2px solid $color-prim-gray-mercury;
}

.o-main-navigation__box {

}

.o-main-navigation__logo-link {

}

.o-main-navigation__logo-img {
  display: block;

  width: 55px;
  height: 55px;
}
