<axa-icon id="axa-icon-test" icon="logo-AXA"></axa-icon>

<script>
  !(function() {
    var axaIcon = document.getElementById('axa-icon-test');
    var icons = [
      'angle-bracket-down',
      'checkmark',
      'cross-gap',
      'facebook',
      'linkedin',
      'menu',
      'twitter',
      'youtube',
      'arrow',
      'chevron-down',
      'download',
      'instagram',
      'logo-AXA',
      'search-left',
      'xing',
      'info-open',
      'info-close',
    ];
    var iconsLength = icons.length;
    var index = 0;

    var interval = setInterval(function() {
      var icon = icons[index++];

      axaIcon.setAttribute('icon', icon);

      index = index % iconsLength;
    }, 1000);
  })();
</script>
