<axa-header-top-content-bar class="is-custom-element-disconnected" type="corporate">
  <p class="m-header-top-content-bar__text">corporate <a href="#" class="m-link m-link--white">link</a> stuff</p>
  <button class="m-button m-button--white m-button--ghost m-header-top-content-bar__button">get it for free</button>
</axa-header-top-content-bar>
<axa-header-top-content-bar class="is-custom-element-disconnected" type="commercial">
  <p class="m-header-top-content-bar__text">commercial <a href="#" class="m-link m-link--white">link</a> stuff</p>
  <button class="m-button m-button--white m-button--ghost m-header-top-content-bar__button">get it for free</button>
</axa-header-top-content-bar>
<axa-header-top-content-bar class="is-custom-element-disconnected" type="warning">
  <p class="m-header-top-content-bar__text">warning <a href="#" class="m-link m-link--white">link</a> stuff</p>
  <button class="m-button m-button--white m-button--ghost m-header-top-content-bar__button">get it for free</button>
</axa-header-top-content-bar>
<axa-header-top-content-bar class="is-custom-element-disconnected" type="corporate">
  <p class="m-header-top-content-bar__text">corporate <a href="#" class="m-link m-link--white">link</a> stuff</p>
  <button class="m-button m-button--white m-button--ghost m-button--motion m-header-top-content-bar__button">get it for free</button>
</axa-header-top-content-bar>
<axa-header-top-content-bar class="is-custom-element-disconnected" type="commercial">
  <p class="m-header-top-content-bar__text">commercial <a href="#" class="m-link m-link--white">link</a> stuff</p>
  <button class="m-button m-button--white m-button--ghost m-button--motion m-header-top-content-bar__button">get it for free</button>
</axa-header-top-content-bar>
<axa-header-top-content-bar class="is-custom-element-disconnected" type="warning">
  <p class="m-header-top-content-bar__text">warning <a href="#" class="m-link m-link--white">link</a> stuff</p>
  <button class="m-button m-button--white m-button--ghost m-button--motion m-header-top-content-bar__button">get it for free</button>
</axa-header-top-content-bar>
