<axa-header-top-content-bar type="corporate">
  <p class="m-header-top-content-bar__text">
    corporate <a href="#" class="m-link m-link--white">link</a> stuff
  </p>
  <axa-button color="white" classes="m-header-top-content-bar__button" ghost
    >get it for free</axa-button
  >
</axa-header-top-content-bar>
<axa-header-top-content-bar type="commercial">
  <p class="m-header-top-content-bar__text">
    commercial <a href="#" class="m-link m-link--white">link</a> stuff
  </p>
  <axa-button ghost color="white" classes="m-header-top-content-bar__button"
    >get it for free</axa-button
  >
</axa-header-top-content-bar>
<axa-header-top-content-bar type="warning">
  <p class="m-header-top-content-bar__text">
    warning <a href="#" class="m-link m-link--white">link</a> stuff
  </p>
  <axa-button
    motion
    ghost
    color="white"
    classes="m-header-top-content-bar__button"
    >get it for free</axa-button
  >
</axa-header-top-content-bar>
<axa-header-top-content-bar type="corporate">
  <p class="m-header-top-content-bar__text">
    corporate <a href="#" class="m-link m-link--white">link</a> stuff
  </p>
  <axa-button
    motion
    ghost
    color="white"
    classes="m-header-top-content-bar__button"
    >get it for free</axa-button
  >
</axa-header-top-content-bar>
<axa-header-top-content-bar type="commercial">
  <p class="m-header-top-content-bar__text">
    commercial <a href="#" class="m-link m-link--white">link</a> stuff
  </p>
  <axa-button
    motion
    ghost
    color="white"
    classes="m-header-top-content-bar__button"
    >get it for free</axa-button
  >
</axa-header-top-content-bar>
<axa-header-top-content-bar type="warning">
  <p class="m-header-top-content-bar__text">
    warning <a href="#" class="m-link m-link--white">link</a> stuff
  </p>
  <axa-button
    motion
    ghost
    color="white"
    classes="m-header-top-content-bar__button"
    >get it for free</axa-button
  >
</axa-header-top-content-bar>
