<div>
  <axm-button tag="button" size="sm">Small</axm-button>
  <axm-button tag="button">Default</axm-button>
  <axm-button tag="button" size="lg">Large</axm-button>

  <axm-button tag="button" color="red" size="sm">Small</axm-button>
  <axm-button tag="button" color="red">Default</axm-button>
  <axm-button tag="button" color="red" size="lg">Large</axm-button>
</div>

<div style="margin-top: 8px;">
  <axm-button tag="a" size="sm">Small</axm-button>
  <axm-button tag="a">Default</axm-button>
  <axm-button tag="a" size="lg">Large</axm-button>

  <axm-button tag="a" color="red" size="sm">Small</axm-button>
  <axm-button tag="a" color="red">Default</axm-button>
  <axm-button tag="a" color="red" size="lg">Large</axm-button>
</div>

<div style="margin-top: 8px;">
  <axm-button tag="button" size="sm" arrow>Small</axm-button>
  <axm-button tag="button" arrow>Default</axm-button>
  <axm-button tag="button" size="lg" arrow>Large</axm-button>

  <axm-button tag="button" color="red" size="sm" arrow>Small</axm-button>
  <axm-button tag="button" color="red" arrow>Default</axm-button>
  <axm-button tag="button" color="red" size="lg" arrow>Large</axm-button>
</div>

<div style="margin-top: 8px;">
  <axm-button tag="a" size="sm" arrow>Small</axm-button>
  <axm-button tag="a" arrow>Default</axm-button>
  <axm-button tag="a" size="lg" arrow>Large</axm-button>

  <axm-button tag="a" color="red" size="sm" arrow>Small</axm-button>
  <axm-button tag="a" color="red" arrow>Default</axm-button>
  <axm-button tag="a" color="red" size="lg" arrow>Large</axm-button>
</div>

<div style="margin-top: 8px;">
  <axm-button tag="button" size="sm" motion>Small</axm-button>
  <axm-button tag="button" motion>Default</axm-button>
  <axm-button tag="button" size="lg" motion>Large</axm-button>

  <axm-button tag="button" color="red" size="sm" motion>Small</axm-button>
  <axm-button tag="button" color="red" motion>Default</axm-button>
  <axm-button tag="button" color="red" size="lg" motion>Large</axm-button>
</div>

<div style="margin-top: 8px;">
  <axm-button tag="a" size="sm" motion>Small</axm-button>
  <axm-button tag="a" motion>Default</axm-button>
  <axm-button tag="a" size="lg" motion>Large</axm-button>

  <axm-button tag="a" color="red" size="sm" motion>Small</axm-button>
  <axm-button tag="a" color="red" motion>Default</axm-button>
  <axm-button tag="a" color="red" size="lg" motion>Large</axm-button>
</div>

<div style="margin-top: 8px;">
  <axm-button tag="button" size="sm" motion arrow>Small</axm-button>
  <axm-button tag="button" motion arrow>Default</axm-button>
  <axm-button tag="button" size="lg" motion arrow>Large</axm-button>

  <axm-button tag="button" color="red" size="sm" motion arrow>Small</axm-button>
  <axm-button tag="button" color="red" motion arrow>Default</axm-button>
  <axm-button tag="button" color="red" size="lg" motion arrow>Large</axm-button>
</div>

<div style="margin-top: 8px;">
  <axm-button tag="a" size="sm" motion arrow>Small</axm-button>
  <axm-button tag="a" motion arrow>Default</axm-button>
  <axm-button tag="a" size="lg" motion arrow>Large</axm-button>

  <axm-button tag="a" color="red" size="sm" motion arrow>Small</axm-button>
  <axm-button tag="a" color="red" motion arrow>Default</axm-button>
  <axm-button tag="a" color="red" size="lg" motion arrow>Large</axm-button>
</div>

<div style="margin-top: 8px;">
  <axm-button tag="button" size="sm" ghost>Small</axm-button>
  <axm-button tag="button" ghost>Default</axm-button>
  <axm-button tag="button" size="lg" ghost>Large</axm-button>

  <axm-button tag="button" color="red" size="sm" ghost>Small</axm-button>
  <axm-button tag="button" color="red" ghost>Default</axm-button>
  <axm-button tag="button" color="red" size="lg" ghost>Large</axm-button>
</div>

<div style="margin-top: 8px;">
  <axm-button tag="a" size="sm" ghost>Small</axm-button>
  <axm-button tag="a" ghost>Default</axm-button>
  <axm-button tag="a" size="lg" ghost>Large</axm-button>

  <axm-button tag="a" color="red" size="sm" ghost>Small</axm-button>
  <axm-button tag="a" color="red" ghost>Default</axm-button>
  <axm-button tag="a" color="red" size="lg" ghost>Large</axm-button>
</div>

<div style="margin-top: 8px;">
  <axm-button tag="button" size="sm" ghost arrow>Small</axm-button>
  <axm-button tag="button" ghost arrow>Default</axm-button>
  <axm-button tag="button" size="lg" ghost arrow>Large</axm-button>

  <axm-button tag="button" color="red" size="sm" ghost arrow>Small</axm-button>
  <axm-button tag="button" color="red" ghost arrow>Default</axm-button>
  <axm-button tag="button" color="red" size="lg" ghost arrow>Large</axm-button>
</div>

<div style="margin-top: 8px;">
  <axm-button tag="a" size="sm" ghost arrow>Small</axm-button>
  <axm-button tag="a" ghost arrow>Default</axm-button>
  <axm-button tag="a" size="lg" ghost arrow>Large</axm-button>

  <axm-button tag="a" color="red" size="sm" ghost arrow>Small</axm-button>
  <axm-button tag="a" color="red" ghost arrow>Default</axm-button>
  <axm-button tag="a" color="red" size="lg" ghost arrow>Large</axm-button>
</div>

<div style="margin-top: 8px;">
  <axm-button tag="button" size="sm" ghost motion>Small</axm-button>
  <axm-button tag="button" ghost motion>Default</axm-button>
  <axm-button tag="button" size="lg" ghost motion>Large</axm-button>

  <axm-button tag="button" color="red" size="sm" ghost motion>Small</axm-button>
  <axm-button tag="button" color="red" ghost motion>Default</axm-button>
  <axm-button tag="button" color="red" size="lg" ghost motion>Large</axm-button>
</div>

<div style="margin-top: 8px;">
  <axm-button tag="a" size="sm" ghost motion>Small</axm-button>
  <axm-button tag="a" ghost motion>Default</axm-button>
  <axm-button tag="a" size="lg" ghost motion>Large</axm-button>

  <axm-button tag="a" color="red" size="sm" ghost motion>Small</axm-button>
  <axm-button tag="a" color="red" ghost motion>Default</axm-button>
  <axm-button tag="a" color="red" size="lg" ghost motion>Large</axm-button>
</div>

<div style="margin-top: 8px;">
  <axm-button tag="button" size="sm" ghost motion arrow>Small</axm-button>
  <axm-button tag="button" ghost motion arrow>Default</axm-button>
  <axm-button tag="button" size="lg" ghost motion arrow>Large</axm-button>

  <axm-button tag="button" color="red" size="sm" ghost motion arrow>Small</axm-button>
  <axm-button tag="button" color="red" ghost motion arrow>Default</axm-button>
  <axm-button tag="button" color="red" size="lg" ghost motion arrow>Large</axm-button>
</div>

<div style="margin-top: 8px;">
  <axm-button tag="a" size="sm" ghost motion arrow>Small</axm-button>
  <axm-button tag="a" ghost motion arrow>Default</axm-button>
  <axm-button tag="a" size="lg" ghost motion arrow>Large</axm-button>

  <axm-button tag="a" color="red" size="sm" ghost motion arrow>Small</axm-button>
  <axm-button tag="a" color="red" ghost motion arrow>Default</axm-button>
  <axm-button tag="a" color="red" size="lg" ghost motion arrow>Large</axm-button>
</div>

<div style="margin-top: 8px; padding: 8px 0; background: #3b3fd8;">
  <axm-button tag="button" color="white" size="sm" ghost>Small</axm-button>
  <axm-button tag="button" color="white" ghost>Default</axm-button>
  <axm-button tag="button" color="white" size="lg" ghost>Large</axm-button>

  <axm-button tag="a" color="white" size="sm" ghost>Small</axm-button>
  <axm-button tag="a" color="white" ghost>Default</axm-button>
  <axm-button tag="a" color="white" size="lg" ghost>Large</axm-button>
</div>

<div style="padding: 8px 0; background: #3b3fd8;">
  <axm-button tag="button" color="white" size="sm" ghost motion>Small</axm-button>
  <axm-button tag="button" color="white" ghost motion>Default</axm-button>
  <axm-button tag="button" color="white" size="lg" ghost motion>Large</axm-button>

  <axm-button tag="a" color="white" size="sm" ghost motion>Small</axm-button>
  <axm-button tag="a" color="white" ghost motion>Default</axm-button>
  <axm-button tag="a" color="white" size="lg" ghost motion>Large</axm-button>
</div>

<div style="padding: 8px 0; background: #3b3fd8;">
  <axm-button tag="button" color="white" size="sm" ghost motion arrow>Small</axm-button>
  <axm-button tag="button" color="white" ghost motion arrow>Default</axm-button>
  <axm-button tag="button" color="white" size="lg" ghost motion arrow>Large</axm-button>

  <axm-button tag="a" color="white" size="sm" ghost motion arrow>Small</axm-button>
  <axm-button tag="a" color="white" ghost motion arrow>Default</axm-button>
  <axm-button tag="a" color="white" size="lg" ghost motion arrow>Large</axm-button>
</div>
