@import '../../utils/accessory-story.scss';
@import '../../utils/canvas-content-padding.scss';
@import '../../utils/last-text.scss';

@include canvas-padding;
@include content-padding;

@include accessory-story-content;
@include accessory-story-wrapper;

.structure-approach__quote {
    @include text(t2, bold);
    margin: 2.5rem 0 2.5rem;
}

.structure-approach__cite {
    @include text(t4, bold);
    color: $color-light-grey;
    margin-top: 1rem;
    font-style: normal;
}

.structure-approach__last-text {
    @include last-text();
}

.structure-approach-vertical-content {
    &__image {
        max-height: 110px;
        margin-right: 2.5rem;
    }
    
    &__item {
        color: #333;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $color-mercury;
        display: flex;
        align-items: center;
    }

    &__item:last-child {
        border-bottom-color: transparent;
        // margin-bottom: 2.5rem;
    }
    
    &__col {
        flex: 1;
    }
    
    &__kicker {
        @include text(t4, semibold);
        margin-bottom: 0;
        text-transform: uppercase;
    }
    
    &__text {
        @include text(t1);
    }
}


