.callout-wrapper {
    background-color: #fff;
    padding: 1.5rem 2.5rem;
    box-shadow: 0 0 1px rgba(0,0,0,.35), 0 0 8px rgba(0,0,0,.25);
    display: flex;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    align-items: center;
}

.callout-image {
    max-width: 4rem;
    margin-right: 1rem;
    img {
        max-width: 100%;
    }
}

.callout-col {
    flex: 1;
}

.callout-col-padding {
    padding-right: 35px; 
    padding-left: 35px; 
    flex: 2 1 0%;
}

.callout-header {
    @include text(t3, bold);
}

.callout-text {
    @include text(t3);
}