<h1>Light Footer</h1>

<axa-footer>
  <axa-footer-sub>
    <axa-footer-languages
      title="languages"
      items='[
        {"name": "Deutsch", "code": "de", "url": ""},
        {"name": "English", "isActive": true, "code": "en", "url": ""},
        {"name": "French", "code": "fr", "url": ""},
        {"name": "Italian", "code": "it", "url": ""}
      ]'
      inline
      short
    ></axa-footer-languages>

    <axa-footer-legals>
      <a class="m-footer-legals__link" href="#">Terms of use</a><a class="m-footer-legals__link" href="#">Data protection</a>
      <span class="m-footer-legals__copy">© 2017 AXA Insurance Ltd.</span>
    </axa-footer-legals>
  </axa-footer-sub>
</axa-footer>

<axa-footer>
  <axa-footer-sub>
    <axa-footer-social
      title="follow axa"
      items='[{"name": "facebook", "url": ""}, {"name": "instagram", "url": ""}, {"name": "twitter", "url": ""}, {"name": "xing", "url": ""}, {"name": "youtube", "url": ""}, {"name": "linkedin", "url": ""}]'
      inline
      light
    ></axa-footer-social>

    <axa-footer-legals>
      <a class="m-footer-legals__link" href="#">Terms of use</a><a class="m-footer-legals__link" href="#">Data protection</a>
      <span class="m-footer-legals__copy">© 2017 AXA Insurance Ltd.</span>
    </axa-footer-legals>
  </axa-footer-sub>
</axa-footer>

<axa-footer>
  <axa-footer-main light>
    <axa-footer-social
      items='[{"name": "facebook", "url": ""}, {"name": "instagram", "url": ""}, {"name": "twitter", "url": ""}, {"name": "xing", "url": ""}, {"name": "youtube", "url": ""}, {"name": "linkedin", "url": ""}]'
    ></axa-footer-social>
  </axa-footer-main>

  <axa-footer-sub>
    <axa-footer-languages
      title="languages"
      items='[
        {"name": "Deutsch", "code": "de", "url": ""},
        {"name": "English", "isActive": true, "code": "en", "url": ""},
        {"name": "French", "code": "fr", "url": ""},
        {"name": "Italian", "code": "it", "url": ""}
      ]'
      inline
      short
    ></axa-footer-languages>

    <axa-footer-legals>
      <a class="m-footer-legals__link" href="#">Terms of use</a><a class="m-footer-legals__link" href="#">Data protection</a>
      <span class="m-footer-legals__copy">© 2017 AXA Insurance Ltd.</span>
    </axa-footer-legals>
  </axa-footer-sub>
</axa-footer>

<h1>Full Footer</h1>

<!--<axa-footer>
  <axa-footer-main>
    <axa-footer-links
      title="AXA & You"
      items='[
        {"name": "Contact", "url": ""},
        {"name": "Report a claim", "url": ""},
        {"name": "Broker", "url": ""},
        {"name": "Job vacancies", "url": ""},
        {"name": "myAXA", "url": ""},
        {"name": "Customer reviews", "url": ""},
        {"name": "Garage portal", "url": ""}
      ]'
      cols="2"
    ></axa-footer-links>

    <axa-footer-links
      title="AXA Worldwide"
      items='[
        {"name": "AXA Group", "url": ""}
      ]'
    ></axa-footer-links>

    <axa-footer-legals bottom>
      <a class="m-footer-legals__link" href="#">Terms of use</a><a class="m-footer-legals__link" href="#">Data protection</a> <span class="m-footer-legals__copy">© 2017 AXA Insurance Ltd.</span>
    </axa-footer-legals>

  </axa-footer-main>
</axa-footer>-->

<axa-footer>
  <axa-footer-main>
    <axa-footer-links
      title="AXA & You"
      items='[
        {"name": "Contact", "url": ""},
        {"name": "Report a claim", "url": ""},
        {"name": "Broker", "url": ""},
        {"name": "Job vacancies", "url": ""},
        {"name": "myAXA", "url": ""},
        {"name": "Customer reviews", "url": ""},
        {"name": "Garage portal", "url": ""}
      ]'
      cols="2"
    ></axa-footer-links>

    <axa-footer-links
      title="AXA Worldwide"
      items='[
        {"name": "AXA Group", "url": ""}
      ]'
    ></axa-footer-links>

    <axa-footer-social
      title="follow axa"
      items='[{"name": "facebook", "url": ""}, {"name": "instagram", "url": ""}, {"name": "twitter", "url": ""}, {"name": "xing", "url": ""}, {"name": "youtube", "url": ""}, {"name": "linkedin", "url": ""}]'
    ></axa-footer-social>
  </axa-footer-main>

  <axa-footer-sub>
    <axa-footer-legals>
      <a class="m-footer-legals__link" href="#">Terms of use</a><a class="m-footer-legals__link" href="#">Data protection</a>
      <span class="m-footer-legals__copy">© 2017 AXA Insurance Ltd.</span>
    </axa-footer-legals>
  </axa-footer-sub>
</axa-footer>

<!--<axa-footer>
  <axa-footer-main>
    <axa-footer-links
      title="AXA & You"
      items='[
        {"name": "Contact", "url": ""},
        {"name": "Report a claim", "url": ""},
        {"name": "Broker", "url": ""},
        {"name": "Job vacancies", "url": ""},
        {"name": "myAXA", "url": ""},
        {"name": "Customer reviews", "url": ""},
        {"name": "Garage portal", "url": ""}
      ]'
      cols="2"
    ></axa-footer-links>

    <axa-footer-links
      title="AXA Worldwide"
      items='[
        {"name": "AXA Group", "url": ""}
      ]'
    ></axa-footer-links>

    <axa-footer-languages
      title="languages"
      items='[
        {"name": "Deutsch", "code": "de", "url": ""},
        {"name": "English", "isActive": true, "code": "en", "url": ""},
        {"name": "French", "code": "fr", "url": ""},
        {"name": "Italian", "code": "it", "url": ""}
      ]'
    ></axa-footer-languages>
  </axa-footer-main>

  <axa-footer-sub>
    <axa-footer-legals>
      <a class="m-footer-legals__link" href="#">Terms of use</a><a class="m-footer-legals__link" href="#">Data protection</a> <span class="m-footer-legals__copy">© 2017 AXA Insurance Ltd.</span>
    </axa-footer-legals>
  </axa-footer-sub>
</axa-footer>-->

<axa-footer>
  <axa-footer-main>
    <axa-footer-links
      title="AXA & You"
      items='[
        {"name": "Contact", "url": ""},
        {"name": "Report a claim", "url": ""},
        {"name": "Broker", "url": ""},
        {"name": "Job vacancies", "url": ""},
        {"name": "myAXA", "url": ""},
        {"name": "Customer reviews", "url": ""},
        {"name": "Garage portal", "url": ""}
      ]'
      cols="2"
    ></axa-footer-links>

    <axa-footer-links
      title="AXA Worldwide"
      items='[
        {"name": "AXA Group", "url": ""}
      ]'
    ></axa-footer-links>

    <axa-footer-social
      title="follow axa"
      items='[{"name": "facebook", "url": ""}, {"name": "instagram", "url": ""}, {"name": "twitter", "url": ""}, {"name": "xing", "url": ""}, {"name": "youtube", "url": ""}, {"name": "linkedin", "url": ""}]'
    ></axa-footer-social>
  </axa-footer-main>

  <axa-footer-sub>
    <axa-footer-languages
      title="languages"
      items='[
          {"name": "Deutsch", "code": "de", "url": ""},
          {"name": "English", "isActive": true, "code": "en", "url": ""},
          {"name": "French", "code": "fr", "url": ""},
          {"name": "Italian", "code": "it", "url": ""}
        ]'
      short
      inline
    ></axa-footer-languages>

    <axa-footer-legals>
      <a class="m-footer-legals__link" href="#">Terms of use</a><a class="m-footer-legals__link" href="#">Data protection</a>
      <span class="m-footer-legals__copy">© 2017 AXA Insurance Ltd.</span>
    </axa-footer-legals>
  </axa-footer-sub>
</axa-footer>
