<h1>Light Footer</h1>

<axa-footer>
  <axa-footer-sub>
    <axa-footer-languages
      title="languages:"
      items='[
      {"name": "Deutsch", "short": "de", "url": ""},
      {"name": "English", "short": "en", "url": ""},
      {"name": "French", "short": "fr", "url": ""},
      {"name": "Italian", "short": "it", "url": ""}
    ]'
      inline
    ></axa-footer-languages>

    <axa-footer-legals>
      Privacy Policy © 2017 AXA All Rights Reserved
    </axa-footer-legals>
  </axa-footer-sub>
</axa-footer>

<axa-footer>
  <axa-footer-sub>
    <axa-footer-social
      title="follow axa:"
      items='[{"name": "facebook", "url": ""}, {"name": "instagram", "url": ""}, {"name": "twitter", "url": ""}, {"name": "youtube", "url": ""}, {"name": "linkedin", "url": ""}]'
    ></axa-footer-social>

    <axa-footer-legals>
      Privacy Policy © 2017 AXA All Rights Reserved
    </axa-footer-legals>
  </axa-footer-sub>
</axa-footer>

<axa-footer>
  <axa-footer-main>
    <axa-footer-languages
      title="languages:"
      items='[
      {"name": "Deutsch", "short": "de", "url": ""},
      {"name": "English", "short": "en", "url": ""},
      {"name": "French", "short": "fr", "url": ""},
      {"name": "Italian", "short": "it", "url": ""}
    ]'
      inline
    ></axa-footer-languages>

    <axa-footer-social
      title="follow axa:"
      items='[{"name": "facebook", "url": ""}, {"name": "instagram", "url": ""}, {"name": "twitter", "url": ""}, {"name": "youtube", "url": ""}, {"name": "linkedin", "url": ""}]'
    ></axa-footer-social>
  </axa-footer-main>

  <axa-footer-sub>
    <axa-footer-legals>
      Privacy Policy © 2017 AXA All Rights Reserved
    </axa-footer-legals>
  </axa-footer-sub>
</axa-footer>

<h1>Full Footer</h1>

<axa-footer>
  <axa-footer-main>
    <axa-footer-links items='[{"title": "AXA & You", "items": [
    {"name": "Contact", "url": ""},
    {"name": "Report a claim", "url": ""},
    {"name": "Broker", "url": ""},
    {"name": "Job vacancies", "url": ""},
    {"name": "myAXA", "url": ""},
    {"name": "Customer reviews", "url": ""},
    {"name": "Garage portal", "url": ""}
    ]}]'
    ></axa-footer-links>

    <axa-footer-legals>
      Privacy Policy © 2017 AXA All Rights Reserved
    </axa-footer-legals>

  </axa-footer-main>
</axa-footer>

<axa-footer>
  <axa-footer-main>
    <axa-footer-links items='[{"title": "AXA & You", "items": [
    {"name": "Contact", "url": ""},
    {"name": "Report a claim", "url": ""},
    {"name": "Broker", "url": ""},
    {"name": "Job vacancies", "url": ""},
    {"name": "myAXA", "url": ""},
    {"name": "Customer reviews", "url": ""},
    {"name": "Garage portal", "url": ""}
    ]}]'
    ></axa-footer-links>

    <axa-footer-social
      title="follow axa:"
      items='[{"name": "facebook", "url": ""}, {"name": "instagram", "url": ""}, {"name": "twitter", "url": ""}, {"name": "youtube", "url": ""}, {"name": "linkedin", "url": ""}]'
    ></axa-footer-social>
  </axa-footer-main>

  <axa-footer-sub>
    <axa-footer-legals>
      Privacy Policy © 2017 AXA All Rights Reserved
    </axa-footer-legals>
  </axa-footer-sub>
</axa-footer>

<axa-footer>
  <axa-footer-main>
    <axa-footer-links items='[{"title": "AXA & You", "items": [
    {"name": "Contact", "url": ""},
    {"name": "Report a claim", "url": ""},
    {"name": "Broker", "url": ""},
    {"name": "Job vacancies", "url": ""},
    {"name": "myAXA", "url": ""},
    {"name": "Customer reviews", "url": ""},
    {"name": "Garage portal", "url": ""}
    ]}]'
    ></axa-footer-links>

    <axa-footer-languages
      title="languages:"
      items='[
      {"name": "Deutsch", "short": "de", "url": ""},
      {"name": "English", "short": "en", "url": ""},
      {"name": "French", "short": "fr", "url": ""},
      {"name": "Italian", "short": "it", "url": ""}
    ]'
      inline
    ></axa-footer-languages>
  </axa-footer-main>

  <axa-footer-sub>
    <axa-footer-legals>
      Privacy Policy © 2017 AXA All Rights Reserved
    </axa-footer-legals>
  </axa-footer-sub>
</axa-footer>

<axa-footer>
  <axa-footer-main>
    <axa-footer-links items='[{"title": "AXA & You", "items": [
    {"name": "Contact", "url": ""},
    {"name": "Report a claim", "url": ""},
    {"name": "Broker", "url": ""},
    {"name": "Job vacancies", "url": ""},
    {"name": "myAXA", "url": ""},
    {"name": "Customer reviews", "url": ""},
    {"name": "Garage portal", "url": ""}
    ]}]'
    ></axa-footer-links>

    <axa-footer-social
      title="follow axa:"
      items='[{"name": "facebook", "url": ""}, {"name": "instagram", "url": ""}, {"name": "twitter", "url": ""}, {"name": "youtube", "url": ""}, {"name": "linkedin", "url": ""}]'
    ></axa-footer-social>
  </axa-footer-main>

  <axa-footer-sub>
    <axa-footer-languages
      title="languages:"
      items='[
      {"name": "Deutsch", "short": "de", "url": ""},
      {"name": "English", "short": "en", "url": ""},
      {"name": "French", "short": "fr", "url": ""},
      {"name": "Italian", "short": "it", "url": ""}
    ]'
      inline
    ></axa-footer-languages>

    <axa-footer-legals>
      Privacy Policy © 2017 AXA All Rights Reserved
    </axa-footer-legals>
  </axa-footer-sub>
</axa-footer>
