.m-input-phone {
    display: flex;
    flex-direction: column;
    width: 234px; // min. width to show 13 digits for a 2-digit country code
}

.m-input-phone__label {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    display: block;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.m-input-phone__mobile-country-code-dropdown {
    // Width is needed because of the native dropdown - the widest case is a country with a flag emoji + 3-digit CC
    width: 180px;

    @include breakpoint($mediaquery-sm-up) {
        // Reset mobile width in not-native mode
        width: auto;
    }
}

.m-input-phone__mobile-number-input {
    width: 100%;
}

.m-input-phone__error {
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 17px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    display: block;
    color: $color-shy-tomato;
    margin-top: 10px;
}

.m-input-phone__container {
    display: inline-flex;
    flex-direction: row;
}

.m-input-phone__container  {
    border: 2px solid transparent;
}

.m-input-phone__container.m-input-phone--invalid {
    border: 2px solid $color-shy-tomato;
}

.m-input-phone__error {
    @include text(t4);
    display: block;
    color: $color-shy-tomato;
    margin-top: 10px;
}

