.landingpage-image {
    height: 396px;
}

.landingpage-commerical-hero-banner-button-wrapper {
    display:flex;
}

.landingpage-commercial-hero-banner-image {
    display: none;
    @include breakpoint($mediaquery-md-up) {
        display: block;
        position: absolute;
        top: 265px;
        right: 40px;
        height: 380px;
    }
    @include breakpoint($mediaquery-xl-up) {
        right: 6%;
        top: 240px;
        height: 450px;
    }
}

.landingpage-last-releases-image {
    height: 300px;
}

.landingpage-content {
    padding-bottom: 131px;
}

.landingpage-wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
