@import "../../styles/settings/colors";
@import "../../styles/mixins/respond";
@import "../../styles/mixins/size";
@import "../../styles/mixins/unstyle-list";
@import "../../styles/grid/grid-mixins";
@import "../../styles/typo/typo-mixins";
@import "../../styles/vertical-rhythm/vertical-rhythm-mixins";

.o-todo {
  @include vr-pad-items();

  display: block;

  > * {
    @include vr-margin-item();

    display: block;
  }
}

.m-todo-header__title {
  @include typo-small-module-title--publico();

  @include respond-down(sm) {
    display: none;
  }
}

.m-todo-header__new {
  margin-left: 20px;

  flex-grow: 1;
}

.m-todo__input {
  @include typo-text-longer();

  display: block;
  width: 100%;
  padding: 5px 15px;
  border: 2px solid $color-prim-gray-wild-sand;
  background: $color-prim-white;

  &::placeholder {
    color: $color-prim-gray-dusty;
    opacity: 1;
  }

  &::-ms-clear {
    display: none;
  }

  @include respond-up(md) {
    padding: 10px 20px;
  }
}

.m-todo__list {
  @include unstyle-list();
  @include make-container();
  @include make-container-max-widths();
}

.m-todo__item {
  @include typo-text-longer();

  position: relative;
}

.m-todo__wrap {
  @include make-row(null);

  align-items: center;
}

.m-todo__toggle {
  @include size(40px);

  margin-right: 20px;

  cursor: pointer;
}

.m-todo__label {
  margin: 0;

  flex-grow: 1;

  cursor: pointer;
  white-space: pre-line;
  word-break: break-all;

  &.is-todo-completed {
    text-decoration: line-through;
  }
}

.m-todo__edit {
  $left: 45px;
  $zIndex: 10;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: $left;
  z-index: $zIndex;

  width: calc(100% - #{$left});
  padding-top: auto;
  padding-bottom: auto;

  @include respond-up(md) {
    $left: 40px;

    left: $left;

    width: calc(100% - #{$left});
  }
}

.m-todo__destroy-icon {
  @include size(20px);
}
