.m-link {
  text-decoration: none;
  color: $color-prim-blue-deep-sapphire;

  &--red {
    color: $color-prim-red-burnt-sienna;
  }

  &--white {
    color: $color-prim-white;
  }

  &--deco {
    text-decoration: underline;
  }

  &--bold {
    font-weight: bold;
  }
}
