@import "../../styles/settings/colors";
@import "../../styles/typo/typo-mixins";
@import "../../styles/mixins/word-break";

$icon-height-sm: 42px;
$icon-width-sm: $icon-height-sm;
$icon-height-md: 96px;
$icon-width-md: $icon-height-md;
$margin-50: 50px;
$content-width-sm: 240px;
$content-width-md: 210px;
$content-width-lg: 255px;

.m-policy-feature-item {
  display: block;
}

.m-policy-feature-item__icon {
  width: $icon-width-sm;
  height: $icon-height-sm;
  display: block;
  margin: $margin-50 auto 0 auto;

  @include respond-up(md) {
    width: $icon-width-md;
    height: $icon-height-md;
  }
}

.m-policy-feature-item__title {
  @include word-break();
  @include typo-secondary-text--semibold();
  text-align: center;
}

.m-policy-feature-item__description {
  @include word-break();
  @include typo-tag();
  text-align: center;
}

.m-policy-feature-item__content {
  margin: auto;

  @include respond-up(sm) {
    width: $content-width-sm;
  }

  @include respond-up(md) {
    width: $content-width-md;
  }

  @include respond-up(lg) {
    width: $content-width-lg;
  }
}
