<table style="width: 100%;">
  <tr>
    <th is="axa-th">Head</th>
    <th is="axa-th" sort="up">Sort Up</th>
    <th is="axa-th" sort="down">Sort Down</th>
    <th is="axa-th" sort="up" sort-active>Sort Up Active</th>
    <th is="axa-th" sort="down" sort-active>Sort Down Active</th>
    <th is="axa-th" align="left">Left</th>
    <th is="axa-th" align="center">Center</th>
    <th is="axa-th" align="right">Right</th>
  </tr>

  <tr>
    <th is="axa-th" dense>Dense</th>
    <th is="axa-th" dense sort="up">Sort Up</th>
    <th is="axa-th" dense sort="down">Sort Down</th>
    <th is="axa-th" dense sort="up" sort-active>Sort Up Active</th>
    <th is="axa-th" dense sort="down" sort-active>Sort Down Active</th>
    <th is="axa-th" dense align="left">Left</th>
    <th is="axa-th" dense align="center">Center</th>
    <th is="axa-th" dense align="right">Right</th>
  </tr>
</table>
