<axa-header>
  <axa-top-content-bar type="commercial">
    <p class="m-top-content-bar__text">commercial <a href="#" class="a-link a-link--white">link</a> stuff</p>
    <button class="a-button a-button--white a-button--ghost m-top-content-bar__button">get it for free</button>
  </axa-top-content-bar>

  <axa-meta-navigation>
    <nav class="m-meta-navigation__nav-other">
      <ul class="m-meta-navigation__list">
        <li class="m-meta-navigation__list-item">
          <a href="#" class="m-meta-navigation__list-link is-active">individuals</a>
        </li>
        <li class="m-meta-navigation__list-item">
          <a href="#" class="m-meta-navigation__list-link">small busineses</a>
        </li>
        <li class="m-meta-navigation__list-item">
          <a href="#" class="m-meta-navigation__list-link">businesses</a>
        </li>
      </ul>
    </nav>
  </axa-meta-navigation>

  <axa-main-navigation>
    <a href="#" class="m-main-navigation__logo-link">
      <svg class="m-main-navigation__logo-img">
        <use xlink:href="#src--assets--icons--logo-AXA" />
      </svg>
    </a>

    <nav class="m-main-navigation__nav">
      <ul class="m-main-navigation__list js-main-navigation__list">
        <li class="m-main-navigation__list-item">
          <a href="#" class="m-main-navigation__list-link js-main-navigation__list-link">Offers</a>

          <axa-sub-navigation flyout>
            <div class="m-sub-navigation__index">
              <div class="m-sub-navigation__index-box">
                <a class="m-sub-navigation__index-link" href="#">Index page</a>

                <button type="button" class="m-sub-navigation__index-close js-sub-navigation__index-close">
                  Close
                  <svg class="m-sub-navigation__index-close__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                    <path d="M12 13.333c-0.333 0-0.667-0.133-0.933-0.4l-9.333-9.333c-1.2-1.2 0.667-3.133 1.867-1.867l9.333 9.333c0.8 0.8 0.2 2.267-0.933 2.267z"></path>
                    <path d="M29.333 30.667c-0.333 0-0.667-0.133-0.933-0.4l-9.333-9.333c-1.2-1.2 0.667-3.133 1.867-1.867l9.333 9.333c0.8 0.8 0.2 2.267-0.933 2.267z"></path>
                    <path d="M2.667 30.667c-1.133 0-1.733-1.467-0.933-2.267l26.667-26.667c1.2-1.2 3.133 0.667 1.867 1.867l-26.667 26.667c-0.267 0.267-0.6 0.4-0.933 0.4z"></path>
                  </svg>
                </button>
              </div>
            </div>

            <div class="m-sub-navigation__box">
              <div class="m-sub-navigation__row m-sub-navigation__row--col-3">
                <div class="m-sub-navigation__block">
                  <strong class="m-sub-navigation__category">Liability and property</strong>
                  <ul class="m-sub-navigation__list">
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Property insurance</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Engineering insurance</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Third-party liability insurance</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Fidelity insurance</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Companies</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Transportation insurance <br> subline</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Building insurance</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Construction insurance</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Guarantees and bonds</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Credit insurance</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Epidemic insurance</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Cyber insurance</a></li>
                  </ul>
                </div>

                <div class="m-sub-navigation__block">
                  <strong class="m-sub-navigation__category">Vehicles</strong>
                  <ul class="m-sub-navigation__list">
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Car insurance</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Watercraft insurance</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Aviation insurance</a></li>
                  </ul>
                </div>

                <div class="m-sub-navigation__block">
                  <strong class="m-sub-navigation__category">Persons</strong>
                  <ul class="m-sub-navigation__list">
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Daily sickness benefits insurance</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Accident insurance for companies</a></li>
                  </ul>
                </div>
              </div>
              <div class="m-sub-navigation__row m-sub-navigation__row--col-3">
                <div class="m-sub-navigation__block">
                  <strong class="m-sub-navigation__category">Occupational benefits</strong>
                  <ul class="m-sub-navigation__list">
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Solutions for start-ups and SMEs</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Pension fund solutions</a></li>
                  </ul>
                </div>

                <div class="m-sub-navigation__block">
                  <strong class="m-sub-navigation__category">AXA & partners</strong>
                  <ul class="m-sub-navigation__list">
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Smart Fleet</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Pre-finance customer invoices</a></li>
                  </ul>
                </div>

                <div class="m-sub-navigation__block">
                  <strong class="m-sub-navigation__category">Knowledge</strong>
                  <ul class="m-sub-navigation__list">
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Corporate Health Management</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Customer magazine</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Current legislation on Pillar 2 – BVG</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </axa-sub-navigation>
        </li>
        <li class="m-main-navigation__list-item">
          <a href="#" class="m-main-navigation__list-link js-main-navigation__list-link">your situation</a>

          <axa-sub-navigation flyout>
            <div class="m-sub-navigation__index">
              <div class="m-sub-navigation__index-box">
                <a class="m-sub-navigation__index-link" href="#">Index page</a>

                <button type="button" class="m-sub-navigation__index-close js-sub-navigation__index-close">
                  Close
                  <svg class="m-sub-navigation__index-close__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                    <path d="M12 13.333c-0.333 0-0.667-0.133-0.933-0.4l-9.333-9.333c-1.2-1.2 0.667-3.133 1.867-1.867l9.333 9.333c0.8 0.8 0.2 2.267-0.933 2.267z"></path>
                    <path d="M29.333 30.667c-0.333 0-0.667-0.133-0.933-0.4l-9.333-9.333c-1.2-1.2 0.667-3.133 1.867-1.867l9.333 9.333c0.8 0.8 0.2 2.267-0.933 2.267z"></path>
                    <path d="M2.667 30.667c-1.133 0-1.733-1.467-0.933-2.267l26.667-26.667c1.2-1.2 3.133 0.667 1.867 1.867l-26.667 26.667c-0.267 0.267-0.6 0.4-0.933 0.4z"></path>
                  </svg>
                </button>
              </div>
            </div>

            <div class="m-sub-navigation__box">
              <div class="m-sub-navigation__row m-sub-navigation__row--col-2">
                <div class="m-sub-navigation__block m-sub-navigation__block--wide">
                  <strong class="m-sub-navigation__category">You are interested in</strong>
                  <ul class="m-sub-navigation__list">
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Your company start-up</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Your self-employment</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Your succession planning</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">The health of your employees</a></li>
                  </ul>
                </div>

                <div class="m-sub-navigation__block m-sub-navigation__block--wide">
                  <strong class="m-sub-navigation__category">You are a ...</strong>
                  <ul class="m-sub-navigation__list">
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Company with up to 20 employees</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Company with 20 to 100 employees</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Corporates with 100+ employees</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </axa-sub-navigation>
        </li>
        <li class="m-main-navigation__list-item">
          <a href="#" class="m-main-navigation__list-link js-main-navigation__list-link">Advice, Contact, Service</a>

          <axa-sub-navigation flyout>
            <div class="m-sub-navigation__index">
              <div class="m-sub-navigation__index-box">
                <a class="m-sub-navigation__index-link" href="#">Index page</a>

                <button type="button" class="m-sub-navigation__index-close js-sub-navigation__index-close">
                  Close
                  <svg class="m-sub-navigation__index-close__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                    <path d="M12 13.333c-0.333 0-0.667-0.133-0.933-0.4l-9.333-9.333c-1.2-1.2 0.667-3.133 1.867-1.867l9.333 9.333c0.8 0.8 0.2 2.267-0.933 2.267z"></path>
                    <path d="M29.333 30.667c-0.333 0-0.667-0.133-0.933-0.4l-9.333-9.333c-1.2-1.2 0.667-3.133 1.867-1.867l9.333 9.333c0.8 0.8 0.2 2.267-0.933 2.267z"></path>
                    <path d="M2.667 30.667c-1.133 0-1.733-1.467-0.933-2.267l26.667-26.667c1.2-1.2 3.133 0.667 1.867 1.867l-26.667 26.667c-0.267 0.267-0.6 0.4-0.933 0.4z"></path>
                  </svg>
                </button>
              </div>
            </div>

            <div class="m-sub-navigation__box">
              <div class="m-sub-navigation__row m-sub-navigation__row--col-3">
                <div class="m-sub-navigation__block">
                  <strong class="m-sub-navigation__category">Advice</strong>
                  <ul class="m-sub-navigation__list">
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Corporate customer advisor</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Consultant pension fund</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Insurance check</a></li>
                  </ul>
                </div>

                <div class="m-sub-navigation__block">
                  <strong class="m-sub-navigation__category">Contact</strong>
                  <ul class="m-sub-navigation__list">
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">General contact</a></li>
                  </ul>
                </div>

                <div class="m-sub-navigation__block">
                  <strong class="m-sub-navigation__category">Service</strong>
                  <ul class="m-sub-navigation__list">
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Download-Center Corporate customers</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </axa-sub-navigation>
        </li>
        <li class="m-main-navigation__list-item">
          <a href="#" class="m-main-navigation__list-link js-main-navigation__list-link">Report and Update</a>

          <axa-sub-navigation flyout>
            <div class="m-sub-navigation__index">
              <div class="m-sub-navigation__index-box">
                <a class="m-sub-navigation__index-link" href="#">Index page</a>

                <button type="button" class="m-sub-navigation__index-close js-sub-navigation__index-close">
                  Close
                  <svg class="m-sub-navigation__index-close__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                    <path d="M12 13.333c-0.333 0-0.667-0.133-0.933-0.4l-9.333-9.333c-1.2-1.2 0.667-3.133 1.867-1.867l9.333 9.333c0.8 0.8 0.2 2.267-0.933 2.267z"></path>
                    <path d="M29.333 30.667c-0.333 0-0.667-0.133-0.933-0.4l-9.333-9.333c-1.2-1.2 0.667-3.133 1.867-1.867l9.333 9.333c0.8 0.8 0.2 2.267-0.933 2.267z"></path>
                    <path d="M2.667 30.667c-1.133 0-1.733-1.467-0.933-2.267l26.667-26.667c1.2-1.2 3.133 0.667 1.867 1.867l-26.667 26.667c-0.267 0.267-0.6 0.4-0.933 0.4z"></path>
                  </svg>
                </button>
              </div>
            </div>

            <div class="m-sub-navigation__box">
              <div class="m-sub-navigation__row m-sub-navigation__row--col-2">
                <div class="m-sub-navigation__block">
                  <strong class="m-sub-navigation__category">Notify</strong>
                  <ul class="m-sub-navigation__list">
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Electronic salary notification</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Report accident / illness</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">File a claim</a></li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Online contract administration for BVG</a></li>
                  </ul>
                </div>

                <div class="m-sub-navigation__block">
                  <strong class="m-sub-navigation__category">Update</strong>
                  <ul class="m-sub-navigation__list">
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">myAXA customer portal</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </axa-sub-navigation>
        </li>

        <li class="m-main-navigation__list-item">
          <a href="#" class="m-main-navigation__list-link js-main-navigation__list-link">Blog</a>

          <axa-sub-navigation flyout>
            <div class="m-sub-navigation__index">
              <div class="m-sub-navigation__index-box">
                <a class="m-sub-navigation__index-link" href="#">Index page</a>

                <button type="button" class="m-sub-navigation__index-close js-sub-navigation__index-close">
                  Close
                  <svg class="m-sub-navigation__index-close__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                    <path d="M12 13.333c-0.333 0-0.667-0.133-0.933-0.4l-9.333-9.333c-1.2-1.2 0.667-3.133 1.867-1.867l9.333 9.333c0.8 0.8 0.2 2.267-0.933 2.267z"></path>
                    <path d="M29.333 30.667c-0.333 0-0.667-0.133-0.933-0.4l-9.333-9.333c-1.2-1.2 0.667-3.133 1.867-1.867l9.333 9.333c0.8 0.8 0.2 2.267-0.933 2.267z"></path>
                    <path d="M2.667 30.667c-1.133 0-1.733-1.467-0.933-2.267l26.667-26.667c1.2-1.2 3.133 0.667 1.867 1.867l-26.667 26.667c-0.267 0.267-0.6 0.4-0.933 0.4z"></path>
                  </svg>
                </button>
              </div>
            </div>

            <div class="m-sub-navigation__box">
              <div class="m-sub-navigation__row">
                <div class="m-sub-navigation__block">
                  <strong class="m-sub-navigation__category">Category</strong>
                  <ul class="m-sub-navigation__list">
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Link</a>
                    </li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Link</a>
                    </li>
                    <li class="m-sub-navigation__list-item">
                      <a class="m-sub-navigation__link" href="#">Link</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </axa-sub-navigation>
        </li>
      </ul>
      <div class="a-stroke"></div>
    </nav>

    <form class="m-main-navigation__form">
      <svg class="m-main-navigation__search-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
        <path d="M18.2 0c-7.867 0-14.333 6.867-13.8 14.733 0.2 2.667 1.133 5.2 2.733 7.333l-6.6 6.6c-1.8 1.8 1 4.6 2.8 2.8l6.6-6.6c6 4.467 14.6 3.267 19.133-2.6 4.133-5.333 3.733-13.133-1-18-2.533-2.733-6.133-4.267-9.867-4.267zM18.2 23.667c-4.067 0-7.867-2.667-9.267-6.467-1.4-3.867-0.2-8.333 3-11s7.867-3 11.4-0.8c3.467 2.133 5.333 6.333 4.533 10.333-0.933 4.533-5 7.933-9.667 7.933z"></path>
      </svg>

      <input type="text" class="m-main-navigation__search" />
    </form>

    <button role="button" class="m-main-navigation__burger js-main-navigation__burger">
      <svg class="m-main-navigation__burger-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
        <path d="M30.667 6.667h-29.333c-1.733 0-1.733-2.667 0-2.667h29.333c1.733 0 1.733 2.667 0 2.667z"></path>
        <path d="M30.667 17.333h-29.333c-1.733 0-1.733-2.667 0-2.667h29.333c1.733 0 1.733 2.667 0 2.667z"></path>
        <path d="M30.667 28h-29.333c-1.733 0-1.733-2.667 0-2.667h29.333c1.733 0 1.733 2.667 0 2.667z"></path>
      </svg>

      <svg class="m-main-navigation__close-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
        <path d="M12 13.333c-0.333 0-0.667-0.133-0.933-0.4l-9.333-9.333c-1.2-1.2 0.667-3.133 1.867-1.867l9.333 9.333c0.8 0.8 0.2 2.267-0.933 2.267z"></path>
        <path d="M29.333 30.667c-0.333 0-0.667-0.133-0.933-0.4l-9.333-9.333c-1.2-1.2 0.667-3.133 1.867-1.867l9.333 9.333c0.8 0.8 0.2 2.267-0.933 2.267z"></path>
        <path d="M2.667 30.667c-1.133 0-1.733-1.467-0.933-2.267l26.667-26.667c1.2-1.2 3.133 0.667 1.867 1.867l-26.667 26.667c-0.267 0.267-0.6 0.4-0.933 0.4z"></path>
      </svg>
    </button>
  </axa-main-navigation>
</axa-header>
<div style="height: 500px;">Empty space</div>
