<axa-header>
  <axa-top-content-bar type="commercial">
    <p class="m-top-content-bar__text">commercial <a href="#" class="a-link a-link--white">link</a> stuff</p>
    <button class="a-button a-button--white a-button--ghost m-top-content-bar__button">get it for free</button>
  </axa-top-content-bar>

  <axa-meta-navigation>
    <nav class="m-meta-navigation__nav-other">
      <ul class="m-meta-navigation__list">
        <li class="m-meta-navigation__list-item">
          <a href="#" class="m-meta-navigation__list-link">individuals</a>
        </li>
        <li class="m-meta-navigation__list-item">
          <a href="#" class="m-meta-navigation__list-link">small busineses</a>
        </li>
        <li class="m-meta-navigation__list-item">
          <a href="#" class="m-meta-navigation__list-link">businesses</a>
        </li>
      </ul>
    </nav>
  </axa-meta-navigation>

  <axa-main-navigation>
    <a href="#" class="m-main-navigation__logo-link">
      <img class="m-main-navigation__logo-img" src="../../assets/icons/logo-AXA.svg" />
    </a>

    <nav class="m-main-navigation__nav">
      <ul class="m-main-navigation__list">
        <li class="m-main-navigation__list-item">
          <a href="#" class="m-main-navigation__list-link">car insurance</a>

          <axa-sub-navigation>
            <div class="m-sub-navigation__block">
              <strong class="m-sub-navigation__category">Category</strong>
              <ul class="m-sub-navigation__list">
                <li class="m-sub-navigation__list-item">
                  <a class="m-sub-navigation__link" href="#">Link</a>
                </li>
                <li class="m-sub-navigation__list-item">
                  <a class="m-sub-navigation__link" href="#">Link</a>
                </li>
                <li class="m-sub-navigation__list-item">
                  <a class="m-sub-navigation__link" href="#">Link</a>
                </li>
              </ul>
            </div>

            <div class="m-sub-navigation__block">
              <strong class="m-sub-navigation__category">Category</strong>
              <ul class="m-sub-navigation__list">
                <li class="m-sub-navigation__list-item">
                  <a class="m-sub-navigation__link" href="#">Link</a>
                </li>
                <li class="m-sub-navigation__list-item">
                  <a class="m-sub-navigation__link" href="#">Link</a>
                </li>
                <li class="m-sub-navigation__list-item">
                  <a class="m-sub-navigation__link" href="#">Link</a>
                </li>
              </ul>
            </div>

            <div class="m-sub-navigation__block">
              <strong class="m-sub-navigation__category">Category</strong>
              <ul class="m-sub-navigation__list">
                <li class="m-sub-navigation__list-item">
                  <a class="m-sub-navigation__link" href="#">Link</a>
                </li>
                <li class="m-sub-navigation__list-item">
                  <a class="m-sub-navigation__link" href="#">Link</a>
                </li>
                <li class="m-sub-navigation__list-item">
                  <a class="m-sub-navigation__link" href="#">Link</a>
                </li>
              </ul>
            </div>

            <div class="m-sub-navigation__block">
              <strong class="m-sub-navigation__category">Category</strong>
              <ul class="m-sub-navigation__list">
                <li class="m-sub-navigation__list-item">
                  <a class="m-sub-navigation__link" href="#">Link</a>
                </li>
                <li class="m-sub-navigation__list-item">
                  <a class="m-sub-navigation__link" href="#">Link</a>
                </li>
                <li class="m-sub-navigation__list-item">
                  <a class="m-sub-navigation__link" href="#">Link</a>
                </li>
              </ul>
            </div>
          </axa-sub-navigation>
        </li>
        <li class="m-main-navigation__list-item">
          <a href="#" class="m-main-navigation__list-link">home insurance</a>
        </li>
        <li class="m-main-navigation__list-item">
          <a href="#" class="m-main-navigation__list-link">health insurance<br>sub line</a>
        </li>
        <li class="m-main-navigation__list-item">
          <a href="#" class="m-main-navigation__list-link">travel insurance</a>
        </li>
      </ul>
      <div class="a-stroke"></div>
    </nav>

    <a href="#" class="a-button a-button--ghost a-button--motion">Pay or review</a>

    <form class="m-main-navigation__form">
      <svg class="m-main-navigation__search-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
        <path d="M18.2 0c-7.867 0-14.333 6.867-13.8 14.733 0.2 2.667 1.133 5.2 2.733 7.333l-6.6 6.6c-1.8 1.8 1 4.6 2.8 2.8l6.6-6.6c6 4.467 14.6 3.267 19.133-2.6 4.133-5.333 3.733-13.133-1-18-2.533-2.733-6.133-4.267-9.867-4.267zM18.2 23.667c-4.067 0-7.867-2.667-9.267-6.467-1.4-3.867-0.2-8.333 3-11s7.867-3 11.4-0.8c3.467 2.133 5.333 6.333 4.533 10.333-0.933 4.533-5 7.933-9.667 7.933z"></path>
      </svg>

      <input type="text" class="m-main-navigation__search" />
    </form>
  </axa-main-navigation>
</axa-header>
