@import "../../../styles/settings/colors";

$header-mobile-others__nav-bg: $color-prim-gray-alabaster;

$header-mobile-others__list-item-border-top-width: 1px !default;
$header-mobile-others__list-item-border-top-color: $color-prim-gray-mercury !default;

$header-mobile-others__link-x-padding: 60px;
$header-mobile-others__link-y-padding: 20px;
$header-mobile-others__link-color: $color-prim-gray-dusty !default;
$header-mobile-others__link-color--hover: $color-axa-blue !default;
