@mixin canvas-padding {
    .accessory-story-wrapper {
        padding-left: 1rem;
        @media (min-width: $breakpoint-md) {
            padding-left: 4rem;
        }
    }
}

@mixin content-padding {
    .accessory-story-content {
        padding: 2rem 1rem 1rem;
        width: 88%;
        @media (min-width: $breakpoint-xs) {
            padding: 4rem 3rem 3rem;
            width: 85%;
            max-width: 840px;
        }
    }
}
