@import "../../styles/settings/colors";
@import "../../styles/vertical-rhythm/vertical-rhythm-mixins";

.a-vertical-rhythm {
  @include vr-pad-items($debug: true);

  display: block;

  > * {
    @include vr-margin-item($debug: true);

    display: block;
  }
}
