@mixin defaultAttributesChildElements {
  @include typo(primary, large, default);
  display: flex;
  text-align: center;
  justify-content: center; // align the dom element itself (f.e. small spans)
}

axa-carousel {
  > * {
    @include defaultAttributesChildElements();
  }
}
