@mixin defaultAttributesChildElements {
  @include text(t4);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; // align the dom element itself (f.e. small spans)

  @media (min-width: $breakpoint-xs) {
    @include text(t1);
  }
}

axa-carousel {
  > * {
    @include defaultAttributesChildElements();
  }
}
