.a-carousel {
  display: flex;
  flex-direction: row; // for ie
  align-items: center;
  justify-content: space-between;
  padding: 0 5px; // for arrows
  height: 100px; // set initial height because of IE bug with align-items and min-height
  overflow: hidden;

  :focus {
    outline: none;
  }

  &__wrapper {
    margin: 0 10px;

    @media (min-width: $breakpoint-xs) {
      margin: 0 30px;
    }
  }

  &__arrow {
    padding: 6px;
    height: 14px;
    width: 6px;
    border: solid $color-prim-white;
    border-width: 2px 0 0 2px;
    cursor: pointer;
    background: transparent;

    @media (min-width: $breakpoint-xs) {
      padding: 10px;
      height: 20px;
      width: 10px;
    }
  }

  &__arrow-left {
    transform: rotate(-45deg);
  }

  &__arrow-right {
    transform: rotate(135deg);
  }

  // animations
  .animation-left {
    animation: patternlibCarouselFromLeft 0.8s;
  }

  .animation-right {
    animation: patternlibCarouselFromRight 0.8s;
  }
}

// sass put keyframes always to root level - do not nest them into sass classes
@keyframes patternlibCarouselFromRight {
  from {
    opacity: 0;
    transform: translate(100%, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes patternlibCarouselFromLeft {
  from {
    opacity: 0;
    transform: translate(-100%, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
