:host {
  display: block;
  margin: var(--margin, 0 0 24px 0);

  & > p {
    margin: 0;
  }
}

:host([variant='size-2']) {
  margin: var(--margin, 0 0 22px 0);
}

:host([variant='size-3']) {
  margin: var(--margin, 0 0 20px 0);
}

:host([variant='size-4']) {
  margin: var(--margin, 0 0 18px 0);
}

:host,
:host > * {
  @include text(t1);
}

:host([variant='size-2']),
:host([variant='size-2']) > * {
  @include text(t2);
}

:host([variant='size-3']),
:host([variant='size-3']) > * {
  @include text(t3);
}

:host([variant='size-4']),
:host([variant='size-4']) > * {
  @include text(t4);
}

:host([bold]),
:host([bold]) > * {
  font-weight: bold;
}

:host([italic]),
:host([italic]) > * {
  font-style: italic;
}
