<axa-radio value="a" name="test-name" >hello</axa-radio>
<axa-radio value="b" name="test-name" checked>hello</axa-radio>
<axa-radio value="c" name="test-name" disabled>
  hello hello <a href="#" target="_blank">hello hello hello hello hello hello hello hello</a> hello hello hello hello <a href="#" target="_blank">hello hello hello hello </a> hello hello hello hello.
</axa-radio>
<axa-radio value="d" name="test-name" error>
  hello hello <a href="#" target="_blank">hello hello hello hello hello hello hello hello</a> hello hello hello hello <a href="#" target="_blank">hello hello hello hello </a> hello hello hello hello.
</axa-radio>

