<axa-radio value="a" name="test-name">hello</axa-radio>
<axa-radio value="b" name="test-name" checked>hello</axa-radio>
<axa-radio value="c" name="test-name" disabled>
  Donec sit amet elit nunc.
  <a href="#" target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
  Morbi aliquam felis non vulputate ullamcorper
  <a href="#" target="_blank">Donec et augue erat</a> Cras vitae ex lorem.
</axa-radio>
<axa-radio value="d" name="test-name" error>
  Donec sit amet elit nunc.
  <a href="#" target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
  Morbi aliquam felis non vulputate ullamcorper
</axa-radio>
