@import "../../styles/settings/colors";
@import "../../styles/settings/base";
@import "../../styles/mixins/control-icon";
@import "../../styles/mixins/visual-hidden";
@import "../../styles/mixins/control-transition";

.a-radio {
  position: relative;

  display: inline-flex;

  min-height: 20px;

  align-items: center;

  line-height: $line-height-base;

  user-select: none;

  &:hover:not(.a-radio--disabled):not(.a-radio--error) {
    color: $color-axa-blue;

    .a-radio__icon {
      border-color: $color-axa-blue;

      &::before {
        border-color: $color-axa-blue;
      }
    }
  }

  &--disabled {
    color: $color-prim-gray-dusty;
  }

  &--error {
    color: $color-axa-red;

    .a-radio__icon {
      border-color: $color-axa-red;
    }
  }
}

.a-radio__input {
  @include visual-hidden();

  &:focus + .a-radio__icon {
    border-color: $color-axa-blue;

    &::before {
      border-color: $color-axa-blue;
    }
  }

  &:checked + .a-radio__icon::before {
    background: $color-axa-blue;
    border-color: $color-axa-blue;
  }

  &[disabled] + .a-radio__icon {
    cursor: default;
    border-color: $color-prim-gray-dusty;

    &::before {
      border-color: transparent;
    }
  }
}

.a-radio__icon {
  @include control-transition();
  @include control-icon($control-icon-size);
  @include control-inner($control-icon-inner-size);
  border-radius: 50%;

  &::before {
    border-radius: 50%;
  }
}
