@import "../../styles/mixins/button-reset";
@import "../../styles/mixins/grid";
@import "../../styles/mixins/respond";
@import "../../styles/mixins/unstyle-list";
@import "../../styles/mixins/typo";
@import "../m-dropdown/mixins/dropdown";
@import "../m-header-meta/settings/header-meta";
@import "settings/header-meta-navigation";

.m-header-meta-navigation__nav-right {
  @include make-gutter();

  margin-left: auto;

  .m-button {
    margin-top: -2px;
    margin-bottom: -1px;
  }
}

.m-header-meta-navigation__list-right {
  @include unstyle-list();
  @include make-row();
}


.m-header-meta-navigation__list-item-right {
  display: block;
  border-right: $header-meta-navigation__nav-border-x-width solid $header-meta-navigation__nav-border-x-color;

  &:first-child {
    border-left: $header-meta-navigation__nav-border-x-width solid $header-meta-navigation__nav-border-x-color;
  }
}

.m-header-meta-navigation__lang-drop-down {
  @include dropdown-container();
}

.m-header-meta-navigation__lang-drop-down__toggle {
  @include button-reset();
  @include typo-13--semibold();
  @include dropdown-toggle();

  padding: 10.5px 50px 10.5px 20px;

  color: $color-prim-gray;
  text-transform: uppercase;
}

.m-header-meta-navigation__lang-drop-down-icon {
  @include dropdown-icon(16px, 20px);
}

.m-header-meta-navigation__lang-list {
  @include unstyle-list();
  @include dropdown-content($header-meta-navigation__lang-list-zindex);

  background: $header-meta-bg;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.3);
}

.m-header-meta-navigation__lang-list-item {
  display: block;

  border-width: 0 $header-meta-navigation__lang-list-item-border-width;
  border-color: $header-meta-navigation__lang-list-item-border-color;
  border-style: solid;

  &:first-child {
    border-top-width: $header-meta-navigation__lang-list-item-border-width;
  }

  &:last-child {
    border-bottom-color: $header-meta-navigation__lang-list-item-border-bottom-color--last;
    border-bottom-width: $header-meta-navigation__lang-list-item-border-bottom-width--last;
  }
}

.m-header-meta-navigation__lang-list-link {
  @include typo-13--semibold();

  display: block;
  padding: 10px 20px;

  text-transform: uppercase;
  color: $color-prim-gray;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $header-meta-navigation__link-color--hover;
  }
}

