@import "../../styles/mixins/button-reset";
@import "../../styles/mixins/grid";
@import "../../styles/mixins/respond";
@import "../../styles/mixins/unstyle-list";
@import "../../styles/mixins/typo";
@import "../m-dropdown/mixins/dropdown";
@import "settings/header-meta-navigation";

.m-header-meta-navigation {
  display: block;

  background: $header-meta-navigation-bg;
  border-top: $header-meta-navigation-border-top-width solid $header-meta-navigation-border-top-color;
  border-bottom: $header-meta-navigation-border-bottom-width solid $header-meta-navigation-border-bottom-color;

  @include respond-down(md) {
    display: none;
  }
}

.m-header-meta-navigation__box {
  @include make-container();
  @include make-container-max-widths();
}

.m-header-meta-navigation__row {
  @include make-row();

  align-items: center;
}

.m-header-meta-navigation__nav-left {
  @include make-gutter();
}

.m-header-meta-navigation__nav-right {
  margin-left: auto;

  .m-button {
    margin-top: -2px;
    margin-bottom: -1px;
  }
}

.m-header-meta-navigation__list-right {
  @include unstyle-list();
  @include make-row();
}

.m-header-meta-navigation__list-item-right {
  display: block;
}

.m-header-meta-navigation__list {
  @include unstyle-list();
  @include make-row();
}

.m-header-meta-navigation__list-item {
  border-right: $header-meta-navigation__nav-border-x-width solid $header-meta-navigation__nav-border-x-color;

  &:first-child {
    border-left: $header-meta-navigation__nav-border-x-width solid $header-meta-navigation__nav-border-x-color;
  }
}

.m-header-meta-navigation__list-link {
  @include typo-13--semibold();

  display: block;

  padding: 10px $header-meta-navigation__link-x-padding;
  text-transform: uppercase;

  color: $header-meta-navigation__link-color;

  &.is-active,
  &:hover,
  &:active,
  &:focus {
    margin-bottom: -$header-meta-navigation-border-bottom-width;
    text-decoration: none;

    color: $header-meta-navigation__link-color--hover;
    background: $header-meta-navigation__link-bg--hover;

    border-bottom: $header-meta-navigation-border-bottom-width solid $header-meta-navigation__link-bg--hover;
  }
}

.m-header-meta-navigation__lang-drop-down {
  @include dropdown-container();
}

.m-header-meta-navigation__lang-drop-down__toggle {
  @include button-reset();
  @include typo-13--semibold();
  @include dropdown-toggle();

  padding: 10.5px 50px 10.5px 20px;

  color: $color-prim-gray;
  text-transform: uppercase;
}

.m-header-meta-navigation__lang-drop-down-icon {
  @include dropdown-icon(16px, 20px);
}

.m-header-meta-navigation__lang-list {
  @include unstyle-list();
  @include dropdown-content();

  background: $header-meta-navigation-bg;
}

.m-header-meta-navigation__lang-list-item {
  display: block;
}

.m-header-meta-navigation__lang-list-link {
  @include typo-13--semibold();

  display: block;
  padding: 10px 20px;

  color: $color-prim-gray;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;

    color: $header-meta-navigation__link-color--hover;
  }
}

