@import "../../../styles/settings/colors";
@import "../../../styles/settings/zindex";
@import "../../../styles/grid/grid-settings";

$header-main-max-widths:
  (
    md: auto,
    lg: map_get($container-max-widths, lg),
    xl: map_get($container-max-widths, xl),
  ) !default;
$header-main-bg: $color-prim-white !default;
$header-main-height: 75px !default;
$header-main-z-index: $zindex-header-main-navigation !default;

$header-main-border-bottom-color: $color-prim-gray-mercury !default;
$header-main-border-bottom-width: 2px !default;
