@function map-index-by-key($map, $key) {
  @if type_of($map) == map and map_has_key($map, $key) {
    $value: map_get($map, $key);
    $index: index(($map), ($key $value));

    @return $index;
  }

  @return null;
}

@function map-previous($map, $key) {
  @if type_of($map) == map {
    $index: map-index-by-key($map, $key);

    @if type_of($index) == number and $index > 1 {
      @return nth($map, $index - 1);
    }
  }

  @return null;
}

@function map-previous-key($map, $key) {
  $list: map-previous($map, $key);

  @if type_of($list) == list {
    @return nth($list, 1);
  }

  @return null;
}

@function map-previous-value($map, $key) {
  $list: map-previous($map, $key);

  @if type_of($list) == list {
    @return nth($list, 2);
  }

  @return null;
}

@function map-next($map, $key) {
  @if type_of($map) == map {
    $index: map-index-by-key($map, $key);

    @if type_of($index) == number and $index < length($map) {
      @return nth($map, $index + 1);
    }
  }

  @return null;
}

@function map-next-key($map, $key) {
  $list: map-next($map, $key);

  @if type_of($list) == list {
    @return nth($list, 1);
  }

  @return null;
}

@function map-next-value($map, $key) {
  $list: map-next($map, $key);

  @if type_of($list) == list {
    @return nth($list, 2);
  }

  @return null;
}
