@function map-index-by-key($map, $key) {
  @if type_of($map) == map and map_has_key($map, $key) {
    $value: map_get($map, $key);

    @return map-index-by-value($map, $value);
  }
}

@function map-index-by-value($map, $value) {
  @if type_of($map) == map {
    $index: index(($map), ($key $value));

    @return $index;
  }
}

@function map-previous($map, $key) {
  @if type_of($map) == map {
    $index: map-index-by-key($map, $key);

    @if type_of($index) == number {
      @return nth($map, $index + 1);
    }
  }
}

@function map-previous-key($map, $key) {
  $list: map-previous($map, $key);

  @if type_of($list) == list {
    @return nth($list, 1);
  }
}

@function map-previous-value($map, $key) {
  $list: map-previous($map, $key);

  @if type_of($list) == list {
    @return nth($list, 2);
  }
}

@function map-next($map, $key) {
  @if type_of($map) == map {
    $index: map-index-by-key($map, $key);

    @if type_of($index) == number {
      @return nth($map, $index + 1);
    }
  }
}

@function map-next-key($map, $key) {
  $list: map-next($map, $key);

  @if type_of($list) == list {
    @return nth($list, 1);
  }
}

@function map-next-value($map, $key) {
  $list: map-next($map, $key);

  @if type_of($list) == list {
    @return nth($list, 2);
  }
}
