@function string-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + string-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}
