@import "../settings/fonts";

@function get-typo($name, $breakpoint: sm, $face: null) {
  @if type-of($name) != string {
    @error "$name #{$name} is not of type string";
  }

  @if type-of($breakpoint) != string {
    @error "$breakpoint #{$breakpoint} is not of type string";
  }

  $key: #{$name}--#{$breakpoint};

  @if $face {
    @if type-of($face) != string {
      @error "$face #{$face} is not of type string";
    }

    $key: #{$key}--#{$face};
  }

  @if not map-has-key($typo-map, $key) {
    @error "Key #{$key} not found in $typo-map.";
  }

  @return map-get($typo-map, $key);
}

@function typo-prop($typo, $key) {
  @if not map-has-key($typo, $key) {
    @error "Key #{$key} not found in $typo.";
  }

  @return map-get($typo, $key);
}

@function get-face($face: null) {
  @if not map-has-key($face-map, $face) {
    @return null;
  }

  @return map-get($face-map, $face);
}

@function get-weight($typo, $weight: null) {
  $allowedWeights: typo-prop($typo, weight);

  @if not $weight {
    $weight: nth($allowedWeights, 1);
  }

  @if index($allowedWeights, $weight) == null {
    @warn "$weight #{$weight} not suggested for current typo";
  }

  @if not map-has-key($font-weight-map, $weight) {
    @error "$weight #{$weight} not found in $font-weight-map.";
  }

  @return map-get($font-weight-map, $weight);
}
