body {
  background: #f0f0f0;
}

$sg-white: #fff;

.o-sg-section {
  margin: 3% 5% 0;
  border: 1px dashed gray;
  background-color: $sg-white;

  &:last-child {
    margin-bottom: 20%;
  }
}

@media only screen and (max-width: 680px) {
  .o-sg-section {
    margin: 3% 1% 0;
  }
}

.o-sg-section__title {
  &::first-letter {

    text-transform: uppercase;
  }
}

.o-sg-section__title-section {
  border-bottom: 2px solid gray;
  margin: 1% 0;
  padding: 0 1%;

  * {
    float: right;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  .o-sg-section__title {
    float: left;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
