@import "../styles/settings/colors";

body {
  background: $color-prim-gray-wild-sand;
}

$sg-white: $color-prim-white;
$bg-button: $color-axa-blue;

.o-sg-section {
  margin: 3% 5% 0;
  border: 1px dashed gray;
  background-color: $sg-white;

  &:last-child {
    margin-bottom: 20%;
  }
}

@media only screen and (max-width: 680px) {
  .o-sg-section {
    margin: 3% 1% 0;
  }
}

.o-sg-section__title {
  margin-right: 20px;

  &::first-letter {

    text-transform: uppercase;
  }
}

.o-sg-section__title-section {
  border-bottom: 2px solid gray;
  margin: 1% 0;
  padding: 0 1%;

  * {
    float: left;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.o-sg-section__button {
  border: 1px solid $color-prim-gray-dusty;
  cursor: pointer;
  background-color: $bg-button;
  color: $sg-white;
}

.o-sg-section__button--selected {
  background-color: $color-sec-blue-teal;
}
