@import "../styles/settings/colors";

body {
  background: $color-prim-gray-alabaster;
}

$sg-white: $color-prim-white;
$bg-button: $color-axa-blue;

.o-sg-section {
  &:last-child {
    margin-bottom: 20%;
  }
}

.o-sg-section__section {
  display: none;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.o-sg-section__section--source {
  background-color: $sg-white;
  border-bottom: 2px solid $color-axa-blue;
  border-top: 2px solid $color-axa-blue;

  margin-top: -2px;
}

.o-sg-section__section--visible {
  display: block;
}

@media only screen and (max-width: 900px) {
  .o-sg-section {
    margin: 3% 0;
  }
}

.o-sg-section__title {
  margin-right: 20px;
  padding: 5px 0;

  &::first-letter {

    text-transform: uppercase;
  }
}

.o-sg-section__section--title {
  border: 1px solid $color-axa-blue;
  background-color: $color-prim-gray-wild-sand;
  border-bottom: 0;
  margin: 3% auto 0;
  padding: 0 1%;
  height: 110px;
  z-index: 3;
  position: relative;
  box-shadow: none;

  max-width: 1024px;

  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.o-sg-section__button {
  border: 1px solid $color-prim-gray-dusty;
  cursor: pointer;
  background-color: $bg-button;
  color: $sg-white;
}

.o-sg-section__button--selected {
  background-color: $color-sec-blue-teal;
}
