<axa-main-header>
  <a href="#" class="o-main-header__logo-link">
    <img class="o-main-header__logo-img" src="../../assets/icons/logo-AXA.svg" />
  </a>

  <nav class="o-main-header__nav">
    <ul class="o-main-header__list">
      <li class="o-main-header__list-item">
        <a href="#" class="o-main-header__list-link">car insurance</a>
      </li>
      <li class="o-main-header__list-item">
        <a href="#" class="o-main-header__list-link">home insurance</a>
      </li>
      <li class="o-main-header__list-item">
        <a href="#" class="o-main-header__list-link">health insurance</a>
      </li>
      <li class="o-main-header__list-item">
        <a href="#" class="o-main-header__list-link">travel insurance</a>
      </li>
    </ul>
  </nav>
</axa-main-header>
