@import "../../styles/settings/colors";

.o-main-header {
  display: block;

  border-bottom: 2px solid $color-prim-gray-mercury;
}

.o-main-header__box {

}

.o-main-header__logo-link {

}

.o-main-header__logo-img {
  display: block;

  width: 55px;
  height: 55px;
}
