// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1440px;

// https://github.com/at-import/breakpoint/wiki/Basic-Media-Queries
// Breakpoints in pixel - auto converted to em!
@import 'breakpoint';
@include bkpt-set('to ems', true); // TODO -> SERIOUS EVALUATION HERE NEEDED

$mediaquery-xsm: 0 ($breakpoint-small - 1); // (min-width: 0 and max-width: 576px)
$mediaquery-sm-up: $breakpoint-small; // (min-width: 576px)
$mediaquery-sm: $breakpoint-small ($breakpoint-medium - 1px); // (min-width: 576px and max-width: 991px)
$mediaquery-md-up: $breakpoint-medium; // (min-width: 768px)
$mediaquery-md: $breakpoint-medium ($breakpoint-large - 1px); // (min-width: 768px and max-width: 768px)
$mediaquery-lg-up: $breakpoint-large; // (min-width: 1200px)
$mediaquery-lg: $breakpoint-large ($breakpoint-xlarge - 1px); // (min-width: 1200 and max-width: 1439px)
$mediaquery-xlg-up: $breakpoint-xlarge; // (min-width: 1600px)

@mixin max-width {
  max-width: 540px;
  margin: auto;

  @include breakpoint($mediaquery-md-up) {
    max-width: 720px;
  }

  @include breakpoint($mediaquery-lg-up) {
    max-width: 960px;
  }

  @include breakpoint($mediaquery-xlg-up) {
    max-width: 1140px;
  }
}
