@import "../../../styles/settings/colors";

$main-navigation-height: 75px !default;

$main-navigation-border-bottom-color: $color-prim-gray-mercury !default;
$main-navigation-border-bottom-width: 2px !default;

$main-navigation__logo-size: 35px !default;
$main-navigation__logo-size--md: 43px !default;
$main-navigation__logo-size--xl: 53px !default;

$main-navigation__list-item-x-margin: 8px !default;

$main-navigation__list-link-x-padding: 10px !default;

$main-navigation__form-y-padding: 6px !default;
$main-navigation__form-padding-side: 20px !default;
$main-navigation__form-border-side-width: 1px !default;
$main-navigation__form-border-side-color: $color-prim-gray-silver !default;
$main-navigation__form-margin-side: 20px !default;

$main-navigation__search-icon-size: 25px !default;
$main-navigation__search-icon-fill: $color-prim-gray !default;

$main-navigation__burger-color: $color-axa-blue !default;
$main-navigation__burger-margin-left: 15px !default;
