@import "../../../styles/settings/colors";

$main-navigation-border-bottom-color: $color-prim-gray-mercury;
$main-navigation-border-bottom-width: 2px !default;

$main-navigation__logo-img-size: 55px !default;
