@import "../../../styles/settings/footer";

$footer-languages__title-color: $footer-color !default;
$footer-languages__title-margin-right--inline: 20px !default;

$footer-languages__link-color: $footer-color--light !default;
$footer-languages__link-color--hover: $footer-color !default;
$footer-languages__link-x-padding: 10px !default;
$footer-languages__link-y-padding: 17px !default;
