@import "settings/header-logo";
@import "../../styles/mixins/grid";
@import "../../styles/mixins/respond";

.m-header-logo {
  @include make-col(2);

  display: block;

  align-self: center;

  @include respond-up(lg) {
    align-self: flex-start;
  }
}

.m-header-logo__link {
  display: block;

  width: $header-logo-size;

  @include respond-up(sm) {
    width: $header-logo-size--md;
  }

  @include respond-up(xl) {
    width: $header-logo-size--xl;
  }
}

.m-header-logo__icon,
.m-header-logo__img {
  display: block;

  width: $header-logo-size;
  height: $header-logo-size;

  @include respond-up(sm) {
    width: $header-logo-size--md;
    height: $header-logo-size--md;
  }

  @include respond-up(xl) {
    width: $header-logo-size--xl;
    height: $header-logo-size--xl;
  }
}
