.a-spinner {
  display: block;

  &-container {
    display: flex;
    align-items: center;
    margin: 100px; //only temporary
  }

  &--inverted-blue-ocean {
    background-color: $color-ocean-blue;
  }
  &--inverted-black {
    background-color: $color-black;
  }

  &__dot {
    animation: opacityFade 1.2s linear infinite;

    &-1 {
      animation-delay: 0s;
    }
    &-2 {
      animation-delay: 0.4s;
    }
    &-3 {
      animation-delay: 0.8s;
    }
  }

  @keyframes opacityFade {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  &--default {
    display: inline-block;
    top: 0%;
    bottom: 0%;
    margin: 8px;
    height: 16px;
    width: 16px;  
    border-radius: 50%;
  }

  &--small {
    top: 0%;
    bottom: 0%;
    margin: 4px;
    height: 8px;
    width: 8px;  
    border-radius: 50%;
  }
}
