.a-spinner {
  display: block;

  &-container {
    display: flex;
    align-items: center;
  }
  
  &__dot {
    animation: opacityFade 1.5s linear infinite;
    display: inline-block;
    top: 0%;
    bottom: 0%;
    margin: 8px;
    height: 16px;
    width: 16px;  
    border-radius: 50%;
    background-color: $color-ocean-blue;
    
    &--inverted-dark-grey {
      background-color: $color-dark-grey;
    }
    &--inverted-white {
      background-color: $color-prim-white;
    }
    
    &-1 {
      animation-delay: 0s;
    }
    &-2 {
      animation-delay: 0.5s;
    }
    &-3 {
      animation-delay: 1s;
    }
  }

  @keyframes opacityFade {
    0%, 33%, 100% {
      opacity: 1;
    }
    16.5% {
      opacity: 0;
    }
  }

  &--small {
    top: 0%;
    bottom: 0%;
    margin: 4px;
    height: 8px;
    width: 8px;  
    border-radius: 50%;
  }
}
 