@mixin firstChild_TDMQ {
  padding-left: 14px;
}

@mixin TD_MQ {
  display: table-cell;
  font-size: 16px;
  padding: 10px 15px;
  border-top: 1px solid $color-prim-gray-mercury;
}

@mixin TH_MQ {
  display: table-cell;
}

@mixin TR_MQ {
  border: 1px solid transparent;
  display: table-row;
}

.o-table {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  text-decoration: none;
  width: 100%;
  border-collapse: collapse;

  th, td {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 2px 10px;
    border-left: 1px solid transparent;
    color: $color-prim-gray-mine-shaft;
    text-align: left;

    &:first-child {
      border-left: 1px solid transparent;

      @include breakpoint($mediaquery-md-up) {
        @include firstChild_TDMQ;
      }
    }

    @include breakpoint($mediaquery-md-up) {
      @include TD_MQ;
    }
  }

  th {
    color: $color-axa-blue;
    font-weight: 700;

    display: none;

    @include breakpoint($mediaquery-md-up) {
      @include TH_MQ;
    }
  }

  tr {
    border-top: 1px solid $color-prim-gray-mercury;
    padding: 20px 0;
    display: block;

    &:nth-child(n+2) {
      &:last-child {
        border-bottom: 1px solid $color-prim-gray-mercury;
      }
    }

    &:before {
      display: table;
      content: "";
    }

    &:hover,
    &:active,
    &:focus {
      outline: solid 1px $color-axa-blue;
    }

    @include breakpoint($mediaquery-md-up) {
      @include TR_MQ;
    }
  }

  thead {
    tr {
      display: none;

      @include breakpoint($mediaquery-md-up) {
        @include TR_MQ;
      }
    }
  }
}

td.o-table--light {
    color: $color-prim-gray;
}

.o-table--innerscroll {
  width: 100%;
  overflow-x: auto;
  display: block;
  position: relative;
  padding-bottom: 20px;

  .o-table {
    th, td {
      &:first-child {
        @include firstChild_TDMQ;
      }

      @include TD_MQ;
    }

    th {
      @include TH_MQ;
    }

    tr {
      @include TR_MQ;
    }

    thead {
      tr {
        @include TR_MQ;
      }
    }
  }
}
