html, body, #root {
    height: 100%;
}

.contact-footer {
    position: absolute;
    bottom: 8px;
    right: 0px;
    left: 0px;
    padding: 20px 40px;
    min-width: 420px;
    background-color: $color-dark-grey;
    color: $color-prim-white;
}

.contact-footer-inner {
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint($mediaquery-md-up) {
        padding-left: 80px;
    }
}

.contact-footer-subtitle {
    text-transform: uppercase;
    overflow-wrap: break-word;
    @include text(t4);
}
