<h1>Basic</h1>

<axa-sticky-container>
  <axa-sticky>
    Stick me
  </axa-sticky>

  <div style="height: 1200px;"></div>
</axa-sticky-container>

<h1>Stacked</h1>

<axa-sticky-container style="height: 300px;">
  <axa-sticky>
    Stick #1
  </axa-sticky>

  Sticky Container #1
</axa-sticky-container>

<axa-sticky-container style="height: 300px;">
  <axa-sticky>
    Stick #2
  </axa-sticky>

  Sticky Container #2
</axa-sticky-container>

<axa-sticky-container style="height: 300px;">
  <axa-sticky>
    Stick #3
  </axa-sticky>

  Sticky Container #3
</axa-sticky-container>

<axa-sticky-container style="height: 300px;">
  <axa-sticky>
    Stick #4
  </axa-sticky>

  Sticky Container #4
</axa-sticky-container>
