@import "../../../styles/settings/colors";

$header-others__list-item-border-x-width: 1px !default;
$header-others__list-item-border-x-color: $color-prim-gray-silver !default;

$header-others__link-x-padding: 15px;
$header-others__link-color: $color-prim-gray !default;
$header-others__link-color--hover: $color-prim-blue-deep-sapphire !default;
$header-others__link-bg--hover: $color-prim-white !default;
