@import "../../styles/settings/colors";
@import "../../styles/mixins/clearfix";
@import "../../styles/mixins/grid";
@import "../../styles/mixins/typo";
@import "../../styles/mixins/unstyle-list";

.m-footer-social {
  @include make-col-ready();
  @include make-col(4);

  display: block;
}

.m-footer-social__box {

}

.m-footer-social__title {
  @include typo-16--bold();

  color: $color-prim-white;
  text-transform: uppercase;
}

.m-footer-social__list {
  @include unstyle-list();
  @include clearfix();

  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

.m-footer-social__list-item {
  display: block;
  float: left;
  margin-left: 10px;

  &:first-child {
    margin-left: -10px;
  }
}

.m-footer-social__link {
  display: block;
  padding: 10px;
}

.m-footer-social__icon {
  display: block;
  width: 25px;
  height: 25px;

  color: $color-prim-white;
}

.m-footer-social--inline {
  .m-footer-social__box {
    display: flex;

    align-items: center;
  }

  .m-footer-social__title {
    display: block;

    margin-right: 20px;
  }

  .m-footer-social__list {
    margin-top: 0;
  }
}

.m-footer-social--light {
  @include reset-col();

  .m-footer-social__title {
    @include typo-14--bold();
  }

  .m-footer-social__icon {
    width: 20px;
    height: 20px;
  }
}
