@import "./settings/footer-social";
@import "../../styles/mixins/clearfix";
@import "../../styles/grid/grid-mixins";
@import "../../styles/mixins/icon";
@import "../../styles/mixins/respond";
@import "../../styles/mixins/size";
@import "../../styles/typo/typo-mixins";
@import "../../styles/mixins/unstyle-list";
@import "../../styles/mixins/word-break";

.m-footer-social {
  @include make-col-ready();
  @include make-col(4);

  display: block;
  text-align: left;

  // if only child -> width based on content
  &:first-child:last-child {
    @include reset-col();

    flex: 0 1 auto;
  }

  @include respond-down(md) {
    @include reset-col();

    margin-bottom: $footer-social-margin-bottom--md;

    &:first-child {
      margin-bottom: 0;
    }
  }

  @include respond-down(xs) {
    padding: $footer-social-padding-y--xs $footer-social-padding-x--xs;
    margin-bottom: 0;
  }
}

.m-footer-social__title {
  @include word-break();
  @include typo-secondary-text--bold();

  color: $footer-social__title-color;
  text-transform: uppercase;

  @include respond-down(md) {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
}

.m-footer-social__list {
  @include unstyle-list();
  @include clearfix();

  margin: $footer-social__list-margin-top $footer-social__list-margin-x 0 $footer-social__list-margin-x;

  // if no title -> disable top margin
  &:first-child {
    margin-top: 0;
  }

  @include respond-down(md) {
    margin-top: $footer-social__list-margin-top--md;
  }

  @include respond-down(xs) {
    margin: $footer-social__list-margin--xs;
  }
}

.m-footer-social__list-item {
  display: block;
  float: left;
  margin-right: $footer-social__list-item-margin-right;

  &:last-child {
    margin-right: 0;
  }
}

.m-footer-social__link {
  display: block;
  padding: $footer-social__link-padding;
}

.m-footer-social__icon {
  @include icon($footer-social__icon-size);

  color: $footer-social__icon-color;
}

.m-footer-social--inline {
  .m-footer-social__box {
    display: flex;

    align-items: center;
  }

  .m-footer-social__title {
    display: block;

    margin-right: $footer-social__title-margin-right--inline;

    // inline always with colon at end of title
    &::after {
      content: ':';
    }
  }

  .m-footer-social__list {
    margin-top: 0;
  }
}

.m-footer-social--light {
  @include reset-col();

  .m-footer-social__title {
    @include typo-tag--bold();
  }

  .m-footer-social__icon {
    @include size($footer-social__icon-size--light);
  }
}
