@import "../../styles/settings/colors";
@import "../../styles/settings/footer";
@import "../../styles/mixins/clearfix";
@import "../../styles/mixins/grid";
@import "../../styles/mixins/respond";
@import "../../styles/mixins/typo";
@import "../../styles/mixins/unstyle-list";

$footer-social-padding-x--xs: 30px !default;
$footer-social-padding-y--xs: 25px !default;
$footer-social-margin-bottom--md: -10px !default;

$footer-social__title-color: $footer-color !default;
$footer-social__title-margin-right--inline: 20px !default;

$footer-social__list-margin-top: 15px !default;
$footer-social__list-margin-x: -10px !default;
$footer-social__list-margin-top--md: 25px !default;
$footer-social__list-margin--xs: -10px !default;

$footer-social__list-item-margin-right: 10px !default;

$footer-social__link-padding: 10px !default;

$footer-social__icon-size: 25px !default;
$footer-social__icon-size--light: 20px !default;
$footer-social__icon-color: $footer-color !default;

.m-footer-social {
  @include make-col-ready();
  @include make-col(4);

  display: block;

  // if only child -> width based on content
  &:first-child:last-child {
    @include reset-col();

    flex: 0 1 auto;
  }

  @include respond-down(md) {
    @include reset-col();

    margin-bottom: $footer-social-margin-bottom;

    &:first-child {
      margin-bottom: 0;
    }
  }

  @include respond-down(xs) {
    padding: $footer-social-padding-y--xs $footer-social-padding-x--xs;
    margin-bottom: 0;
  }
}

.m-footer-social__title {
  @include typo-16--bold();

  color: $footer-social__title-color;
  text-transform: uppercase;

  @include respond-down(md) {
    display: none !important;
  }
}

.m-footer-social__list {
  @include unstyle-list();
  @include clearfix();

  margin: $footer-social__list-margin-top $footer-social__list-margin-x 0 $footer-social__list-margin-x;

  // if no title -> disable top margin
  &:first-child {
    margin-top: 0;
  }

  @include respond-down(md) {
    margin-top: $footer-social__list-margin-top--md;
  }

  @include respond-down(xs) {
    margin: $footer-social__list-margin--xs;
  }
}

.m-footer-social__list-item {
  display: block;
  float: left;
  margin-right: $footer-social__list-item-margin-right;

  &:last-child {
    margin-right: 0;
  }
}

.m-footer-social__link {
  display: block;
  padding: $footer-social__link-padding;
}

.m-footer-social__icon {
  display: block;
  width: $footer-social__icon-size;
  height: $footer-social__icon-size;

  color: $footer-social__icon-color;
}

.m-footer-social--inline {
  .m-footer-social__box {
    display: flex;

    align-items: center;
  }

  .m-footer-social__title {
    display: block;

    margin-right: $footer-social__title-margin-right--inline;

    // inline always with colon at end of title
    &::after {
      content: ':';
    }
  }

  .m-footer-social__list {
    margin-top: 0;
  }
}

.m-footer-social--light {
  @include reset-col();

  .m-footer-social__title {
    @include typo-14--bold();
  }

  .m-footer-social__icon {
    width: $footer-social__icon-size--light;
    height: $footer-social__icon-size--light;
  }
}
