@import '../../00-materials/styles/mixins/check-mark-animated';

$border-width: 1px;
$border-type: solid;

axa-textarea {
  .a-textarea__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }

  .a-textarea__textarea-wrapper {
    display: flex;
    position: relative;
  }

  .a-textarea__textarea {
    @include text(t4);
    appearance: none;
    background: $color-prim-white;
    border: 1px solid $color-light-grey;
    border-radius: 0;
    box-sizing: border-box;
    color: $color-dark-grey;
    height: 169px;
    padding: 10px 20px;
    width: 100%;
    overflow: auto;

    &::placeholder {
      color: $color-light-grey;
    }

    &:hover,
    &:active,
    &:focus {
      border: $border-width $border-type $color-axa-blue;
    }

    &:focus,
    &.focus {
      border: $border-width $border-type $color-axa-blue;
      outline: $border-width $border-type $color-axa-blue;
      outline-offset: -2px;
    }

    &--error {
      border: $border-width $border-type $color-shy-tomato;

      &:hover,
      &:active,
      &:focus {
        border: $border-width $border-type $color-shy-tomato;
      }

      &:focus,
      &.focus {
        outline: $border-width $border-type $color-shy-tomato;
        outline-offset: -2px;
      }
    }

    &:disabled,
    &--readonly {
      color: $color-light-grey;
      background-color: $color-alabaster;
      border-color: $color-mercury;
    }
  }

  .a-textarea__textarea--check {
    padding-right: 60px;
  }

  .a-textarea__label {
    @include text(t3);
    font-weight: 600;
    display: block;
    color: $color-dark-grey;
    margin-bottom: 10px;
  }

  &[disabled] .a-textarea__label,
  &[readonly] .a-textarea__label {
    color: $color-light-grey;
  }

  .a-textarea__messages {
    @include text(t4);
    margin-top: 10px;
  }

  .a-textarea__messages--error {
    color: $color-shy-tomato;
  }

  .a-textarea__messages--hidden {
    display: none;
  }

  .a-textarea__check {
    @include check-mark-animated();
    position: absolute;
    right: 25px;
    top: 5px;
  }
}
