<div style="width: 250px; float: left;">
  Date: 1. Januar 2019
  <axa-datepicker-body
    locale="de-CH"
    year="2019"
    month="12"
    day="31"
    allowed-years="[2018,2019]">
  </axa-datepicker-body>
</div>

<div style="width: 250px; float: left; margin-left: 20px;">
  Date: 2. Februrar 2020
  <axa-datepicker-body
    locale="de-CH"
    year="2020"
    month="2"
    day="2"
    allowed-years="[2018,2019]">
  </axa-datepicker-body>
</div>

<div style="width: 250px; float: left; margin-left: 20px;">
  Date: 3. Maerz 2021
  <axa-datepicker-body
    locale="de-CH"
    year="2021"
    month="3"
    day="3"
    allowed-years="[2018,2019]">
  </axa-datepicker-body>
</div>

