@import "../../styles/settings/colors";

$datepicker-width: 309px !default;
$datepicker-padding-left-right: 30px !default;
$datepicker-cell-border-radius: 50% !default;
$datepicker-border-width: 1px !default;
$datepicker-calender-body-padding-top: 5px !default;
$datepicker-calender-body-cell-width: 33px !default;
$datepicker-calender-body-cell-height: 33px !default;
$datepicker-calender-body-cell-border-width: 2px !default;

.m-datepicker-body {
  padding-top: $datepicker-calender-body-padding-top;
  display: flex;

  flex-flow: row wrap;
  justify-content: space-between;
}

.m-datepicker-body__cell {
  width: $datepicker-calender-body-cell-width;
  height: $datepicker-calender-body-cell-width;
  margin: 1px;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border-radius: $datepicker-cell-border-radius;
  cursor: pointer;
  border: solid $datepicker-calender-body-cell-border-width transparent;
}

.m-datepicker-body__cell:focus {
  outline: 0;
  border: dashed $datepicker-calender-body-cell-border-width $color-axa-blue;
}

.m-datepicker-body__day--inactive {
  visibility: hidden;
}

.m-datepicker-body__not-current-month {
  border: 0;
  color: $color-prim-gray-silver;

  &:hover {
    background: rgba($color-prim-gray-mercury, 0.5);
  }
}

.m-datepicker-body__current-month {
  border: 0;
  color: $color-prim-gray-mine-shaft;
}

.m-datepicker-body__current-month:hover {
  box-shadow: 0 0 0 3px $color-axa-blue inset;
  background-color: $color-prim-white;
  color: $color-prim-gray-mine-shaft;
}

.m-datepicker-body__current-month:focus:hover {
  border: 0;
}

.m-datepicker-body__cell:focus {
  outline: 0;
  border: dashed $datepicker-calender-body-cell-border-width $color-axa-blue;
}

.m-datepicker-body__cell:active {
  outline: 0;
  border: solid $datepicker-calender-body-cell-border-width $color-axa-blue;
}

.m-datepicker-body__cell:hover:active {
  box-shadow: none;
  outline: 0;
  background-color: $color-axa-blue;
  color: $color-prim-white;
}

.m-datepicker-body__cell:active:focus {
  box-shadow: none;
  outline: 0;
  border: 0;
}

.m-datepicker-body__current-month:hover.m-datepicker-body__selected-day,
.m-datepicker-body__current-month:hover.m-datepicker-body__today {
  background-color: $color-axa-blue;
  color: $color-prim-white;
  opacity: 1;
}

.m-datepicker-body__selected-day {
  background-color: $color-axa-blue;
  color: $color-prim-white;
}

.m-datepicker-body__today {
  border-style: solid;
  border-color: $color-axa-blue;
}
