@import "../../styles/settings/colors";

$datepicker-width: 309px !default;
$datepicker-padding-left-right: 30px !default;
$datepicker-cell-border-radius: 50% !default;
$datepicker-border-width: 1px !default;
$datepicker-calender-body-padding-top: 5px !default;

.m-datepicker-body {
  padding-top: $datepicker-calender-body-padding-top;
  display: flex;

  flex-flow: row wrap;
  justify-content: space-between;
}

.m-datepicker-body__cell {
  width: 33px;
  height: 33px;
  margin: 1px;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border-radius: $datepicker-cell-border-radius;
  cursor: pointer;
  border: none;
}

.m-datepicker-body__cell:focus {
  outline: none;
}

.m-datepicker-body__not-current-month {
  color: $color-prim-gray-silver;

  &:hover {
    background: rgba($color-prim-gray-mercury, 0.5);
  }
}

.m-datepicker-body__current-month {
  color: $color-prim-gray-mine-shaft;
}

.m-datepicker-body__current-month:hover {
  box-shadow: 0 0 0 3px $color-axa-blue inset;
  background-color: $color-prim-white;
  color: $color-prim-gray-mine-shaft;
}

.m-datepicker-body__current-month:hover.m-datepicker-body__selected-day,
.m-datepicker-body__current-month:hover.m-datepicker-body__today {
  background-color: $color-axa-blue;
  color: $color-prim-white;
  opacity: 1;
}

.m-datepicker-body__selected-day {
  background-color: $color-axa-blue;
  color: $color-prim-white;
}

.m-datepicker-body__today {
  border-style: solid;
  border-color: $color-axa-blue;
}
