<axa-testimonials classes="o-testimonials"
                  title="Customer Reviews"
                  subtitle="AXA works hard to provide the best service possible to its customers.">
  <div class="o-testimonials__item">
    Very helpful once I got through to the correct person but I was constantly being transferred from person to person,
    in the end I called into my local axa oice in the city and got sorted in 10 minutes afer 3 weeks of phone calls.
    <br/>
    ANDREW JACKSON, ADVOCATE
  </div>
  <div class="o-testimonials__item">
    Very helpful once I got through to the correct person but I was constantly being transferred from person to person,
    in the end I called into my local axa oice in the city and got sorted in 10 minutes afer 3 weeks of phone calls.
    <br/>
    ANDREW JACKSON, ADVOCATE
  </div>
  <div class="o-testimonials__item">
    Very helpful once I got through to the correct person but I was constantly being transferred from person to person,
    in the end I called into my local axa oice in the city and got sorted in 10 minutes afer 3 weeks of phone calls.
    <br/>
    ANDREW JACKSON, ADVOCATE
  </div>
</axa-testimonials>
