<axa-testimonials
  classes="o-testimonials"
  title="Customer Reviews"
  keys-enabled
  subtitle="AXA works hard to provide the best service possible to its customers."
>
  <div class="o-testimonials__item js-o-testimonial__item">
    <p class="o-testimonials__item-testimonial">
      Very helpful once I got through to the correct person but I was constantly
      being transferred from person to person, in the end I called into my local
      axa once in the city and got sorted in 10 minutes after 3 weeks of phone
      calls.
    </p>
    <cite class="o-testimonials__item-author">ANDREW JACKSON, ADVOCATE</cite>
  </div>
  <div class="o-testimonials__item js-o-testimonial__item">
    <p class="o-testimonials__item-testimonial">
      Very helpful once I got through to the correct person but I was constantly
      being transferred from person to person, in the end I called into my local
      axa once in the city and got sorted in 10 minutes after 3 weeks of phone
      calls.
    </p>
    <cite class="o-testimonials__item-author">ANDREW JACKSON, PROFESSOR</cite>
  </div>
  <div class="o-testimonials__item js-o-testimonial__item">
    <p class="o-testimonials__item-testimonial">
      Very helpful once I got through to the correct person but I was constantly
      being transferred from person to person, in the end I called into my local
      axa once in the city and got sorted in 10 minutes after 3 weeks of phone
      calls. Very helpful once I got through to the correct person but I was
      constantly being transferred from person to person, in the end I called
      into my local axa once in the city and got sorted in 10 minutes after 3
      weeks of phone calls. Very helpful once I got through to the correct
      person but I was constantly being transferred from person to person, in
      the end I called into my local axa once in the city and got sorted in 10
      minutes after 3 weeks of phone calls. Very helpful once I got through to
      the correct person but I was constantly being transferred from person to
      person, in the end I called into my local axa once in the city and got
      sorted in 10 minutes after 3 weeks of phone calls.
    </p>
    <cite class="o-testimonials__item-author">ANDREW JACKSON, DOCTOR</cite>
  </div>
</axa-testimonials>
<axa-testimonials
  classes="o-testimonials"
  title="Customer Reviews"
  show-all-inline="true"
  subtitle="AXA works hard to provide the best service possible to its customers."
>
  <div class="o-testimonials__item js-o-testimonial__item">
    <p class="o-testimonials__item-testimonial">
      Very helpful once I got through to the correct person but I was constantly
      being transferred from person to person, in the end I called into my local
      axa once in the city and got sorted in 10 minutes after 3 weeks of phone
      calls.
    </p>
    <cite class="o-testimonials__item-author">ANDREW JACKSON, ADVOCATE</cite>
  </div>
  <div class="o-testimonials__item js-o-testimonial__item">
    <p class="o-testimonials__item-testimonial">
      Very helpful once I got through to the correct person but I was constantly
      being transferred from person to person, in the end I called into my local
      axa once in the city and got sorted in 10 minutes after 3 weeks of phone
      calls.
    </p>
    <cite class="o-testimonials__item-author">ANDREW JACKSON, PROFESSOR</cite>
  </div>
  <div class="o-testimonials__item js-o-testimonial__item">
    <p class="o-testimonials__item-testimonial">
      Very helpful once I got through to the correct person but I was constantly
      being transferred from person to person, in the end I called into my local
      axa once in the city and got sorted in 10 minutes after 3 weeks of phone
      calls. Very helpful once I got through to the correct person but I was
      constantly being transferred from person to person, in the end I called
      into my local axa once in the city and got sorted in 10 minutes after 3
      weeks of phone calls. Very helpful once I got through to the correct
      person but I was constantly being transferred from person to person, in
      the end I called into my local axa once in the city and got sorted in 10
      minutes after 3 weeks of phone calls. Very helpful once I got through to
      the correct person but I was constantly being transferred from person to
      person, in the end I called into my local axa once in the city and got
      sorted in 10 minutes after 3 weeks of phone calls.
    </p>
    <cite class="o-testimonials__item-author">ANDREW JACKSON, DOCTOR</cite>
  </div>
</axa-testimonials>
