.o-footer {
  color: $color-prim-white;
  background-color: $color-prim-blue-dark-indigo;

  // ### Mobile
  @media screen and (max-width: 576px) {
    // The accordion is only for small mobile devices
    .mobile {
      display: block;
    }

    .tablet {
      display: none;
    }
  }

  &__accordion-content {
    @include typo(primary, default, medium);

    display: flex;
    justify-content: space-between;
    color: $color-prim-white;
    background-color: $color-prim-blue-dark-indigo;
    padding: 20px 30px 20px 30px;
    width: 100%;
    text-align: left;

    // Reset browser styles for button
    border: none;
    outline: 0;

    border-bottom: 1px solid $color-prim-blue-st-tropaz;
    text-transform: uppercase;

    svg {
      width: 10px;
      height: 10px;
      color: $color-prim-gray-dusty;
    }

    &-caret {
      transition: transform 0.3s ease-in-out;
      transform: rotate(180deg);

      &--open {
        transform: rotate(0deg);
      }
    }

    &-panel {
      // Reset browser styles for ul
      margin: 0;
      text-indent: 0;
      list-style-type: none;
      padding: 0;

      background-color: $color-prim-blue-azure;
      overflow: hidden;

      max-height: 0;
      transition: max-height 0.3s ease-out;

      &--open {
        max-height: 400px;
      }

      li {
        @include typo(primary, xx-small, default);

        padding: 0;
        padding: 20px 30px;
        border-bottom: 1px solid $color-prim-blue-dark-indigo;

        &:last-child {
          border-bottom: none;
        }

        a {
          text-decoration: none;
          color: $color-prim-white;
        }
      }
    }
  }

  &__social-media {
    // Reset browser styles for ul
    margin: 0;
    text-indent: 0;
    list-style-type: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    padding: 15px 20px;

    svg {
      color: $color-prim-white;
      width: 25px;
      height: 25px;
    }

    a {
      display: block;
      padding: 10px;
    }
  }
  // ### /Mobile

  // ### Tablet
  @media screen and (min-width: 576px) {
    // The accordion is only for small mobile devices
    .mobile {
      display: none;
    }

    .tablet {
      display: grid;
      grid-template-columns: auto 600px auto;
    }

    &__collection {
      display: flex;
      padding: 15px 20px;

      &-container {
        max-width: 400px; //todo change to relative size

        strong {
          @include typo(primary, medium, bold);

          text-transform: uppercase;
          line-height: 1.5;
        }

        &-list {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding-top: 10px;

          &-item {
            width: 180px;
            margin-top: 8px;
            padding: 5px 0 !important;
          }
        }
      }
    }

    &__social-media {
      // Reset browser styles for ul
      margin: 0;
      text-indent: 0;
      list-style-type: none;
      padding: 0;

      display: flex;
      flex-wrap: wrap;
      padding: 15px 20px;

      svg {
        color: $color-prim-white;
        width: 25px;
        height: 25px;
      }

      a {
        display: block;
        padding: 10px;
      }
    }

    &__collection-container-list-item {
      @include typo(primary, default, default);
      line-height: 1.21;
      padding: 0;
      // padding: 20px 30px;
      border-bottom: 1px solid $color-prim-blue-dark-indigo;

      &:last-child {
        border-bottom: none;
      }

      a {
        text-decoration: none;
        color: $color-prim-white;
      }
    }
  }
  // ### /Tablet
}
