.o-footer {
  color: $color-prim-white;
  background-color: $color-prim-blue-dark-indigo;

  // ### Mobile
  @include breakpoint($mediaquery-xsm) {
    // The accordion is only for small mobile devices
    .mobile {
      display: block;
    }

    .tablet {
      display: none;
    }

    .desktop {
      display: none;
    }
  }

  &__accordion-content {
    @include typo(primary, default, medium);

    display: flex;
    justify-content: space-between;
    color: $color-prim-white;
    background-color: $color-prim-blue-dark-indigo;
    padding: 20px 30px 20px 30px;
    width: 100%;
    text-align: left;

    // Reset browser styles for button
    border: none;
    outline: 0;

    border-bottom: 1px solid $color-prim-blue-st-tropaz;
    text-transform: uppercase;

    svg {
      width: 10px;
      height: 10px;
      color: $color-prim-gray-dusty;
    }

    &-caret {
      transition: transform 0.3s ease-in-out;
      transform: rotate(180deg);

      &--open {
        transform: rotate(0deg);
      }
    }

    &-panel {
      // Reset browser styles for ul
      margin: 0;
      text-indent: 0;
      list-style-type: none;
      padding: 0;

      background-color: $color-prim-blue-azure;
      overflow: hidden;

      max-height: 0;
      transition: max-height 0.3s ease-out;

      &--open {
        max-height: 400px;
      }

      li {
        @include typo(primary, xx-small, default);

        padding: 0;
        padding: 20px 30px;
        border-bottom: 1px solid $color-prim-blue-dark-indigo;

        &:last-child {
          border-bottom: none;
        }

        a {
          text-decoration: none;
          color: $color-prim-white;
        }
      }
    }
  }

  &__social-media-list {
    // Reset browser styles for ul
    margin: 0;
    text-indent: 0;
    list-style-type: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    padding: 15px 20px;

    svg {
      color: $color-prim-white;
      width: 25px;
      height: 25px;
    }

    a {
      display: block;
      padding: 10px;
    }
  }
  // ### /Mobile

  // ### Tablet
  @include breakpoint($mediaquery-sm-up) {
    .mobile {
      display: none;
    }

    .desktop {
      display: none;
    }

    .tablet {
      display: grid;
      grid-template-areas:
        'collection'
        'social';

      margin-left: 5%;
      margin-right: 5%;
    }

    &__collection {
      display: flex;
      grid-area: collection;

      &-container {
        margin: 10px;

        strong {
          @include typo(primary, medium, bold);

          text-transform: uppercase;
          line-height: 1.5;
        }

        &-list {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding-top: 10px;
          max-width: 400px;

          &-item {
            width: 150px;
            margin-top: 8px;
            padding: 5px 0 !important;

            @include typo(primary, default, default);
            line-height: 1.21;
            padding: 0;

            &:last-child {
              border-bottom: none;
            }

            a {
              text-decoration: none;
              color: $color-prim-white;
            }
          }
        }
      }
    }

    &__social-media {
      &-title {
        display: none;
      }

      &-list {
        // Reset browser styles for ul
        margin: 0;
        text-indent: 0;
        list-style-type: none;
        padding: 0;

        display: flex;
        flex-wrap: wrap;
        padding: 15px 0;

        grid-area: social;

        svg {
          color: $color-prim-white;
          width: 25px;
          height: 25px;
        }

        a {
          display: block;
          padding: 10px;
        }
      }
    }
  }

  @include breakpoint($mediaquery-md-up) {
    .tablet {
      margin-left: 15%;
      margin-right: 15%;
    }
  }

  @include breakpoint($mediaquery-lg-up) {
    .tablet {
      grid-template-areas: 'collection social';
    }

    &__social-media {
      margin: 10px;

      &-title {
        display: block;
      }

      &-list {
        padding: 20px 0;
      }
    }

    strong {
      @include typo(primary, medium, bold);

      text-transform: uppercase;
      line-height: 1.5;
    }
  }

  @include breakpoint($mediaquery-xlg-up) {
    .tablet {
      margin-left: 20%;
      margin-right: 20%;
    }
  }
  // ### /Tablet
}
