.o-footer {
  text-align: initial;

  color: $color-prim-white;
  background-color: $color-prim-blue-dark-indigo;

  border-top: 1px solid rgba(255, 255, 255, 0.25);

  &__title {
    @include typo(primary, default, medium);
    margin: 0;
  }

  &__main {
    ::slotted(h2.o-footer__title) {
      display: block;
    }

    ::slotted(h2.o-footer__title-desktop) {
      display: none;
    }
  }

  &__social-media {
    ::slotted(h2) {
      // IE11 workaround
      // @include typo(primary, medium, bold);
      display: none;
      // text-transform: uppercase;
      // line-height: 1.5;
    }

    &-title {
      @include typo(primary, medium, bold);

      display: none;

      text-transform: uppercase;
      line-height: 1.5;
    }

    &-list {
      margin: 0;
      text-indent: 0;
      list-style-type: none;
      padding: 0;

      display: flex;
      flex-wrap: wrap;
      padding: 15px 20px;

      a {
        display: block;
        padding: 10px;
        cursor: pointer;
      }

      svg {
        color: $color-prim-white;
        width: 25px;
        height: 25px;
      }
    }
  }

  &__title-desktop {
    display: none;
  }

  &__accordion-button {
    @include typo(primary, default, medium);
    display: flex;
    justify-content: space-between;
    color: $color-prim-white;
    background-color: $color-prim-blue-dark-indigo;
    padding: 20px 30px 20px 30px;
    width: 100%;
    text-align: left;

    border: none;
    outline: 0;

    border-bottom: 1px solid $color-prim-blue-st-tropaz;
    text-transform: uppercase;

    svg {
      width: 10px;
      height: 10px;
      color: $color-prim-gray-dusty;
    }

    &-caret {
      transition: transform 0.2s ease-in-out;
      transform: rotate(180deg);

      &--open {
        transform: rotate(0deg);
      }
    }
  }

  &__main {
    // should disable title desktop
    // ::slotted(h2) {
    //   // IE11 workaround
    //   @include typo(primary, medium, bold);
    //   // display: none;
    //   text-transform: uppercase;
    //   line-height: 1.5;
    // }

    &-content-panel {
      margin: 0;
      text-indent: 0;
      list-style-type: none;
      padding: 0;

      max-height: 0;
      transition: max-height 0.2s ease-out;

      overflow: hidden;
      background-color: $color-prim-blue-azure;

      &--open {
        max-height: 456px;
      }

      &-list-item {
        @include typo(primary, xx-small, default);

        padding: 0;
        padding: 20px 30px;
        border-bottom: 1px solid $color-prim-blue-dark-indigo;

        &:last-child {
          border-bottom: none;
        }

        ::slotted(a) {
          text-decoration: none;
          color: $color-prim-white;
        }

        ::slotted(a:hover) {
          color: rgba(255, 255, 255, 0.65);
        }
      }
    }
  }

  @include breakpoint($mediaquery-sm-up) {
    padding: 40px 0;

    &__content {
      display: grid;
      grid-template-areas:
        'links'
        'social';

      // IE11 workaround
      display: -ms-grid;
      -ms-grid-columns: 1fr;
    }

    &__collection {
      display: flex;
      grid-area: links;

      // IE11 workaround
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }

    &__title-desktop {
      display: block;
      @include typo(primary, medium, bold);

      text-transform: uppercase;
      line-height: 1.5;
    }

    &__accordion-button {
      display: none;
    }

    &__main {
      margin: 0 10px;

      ::slotted(h2.o-footer__title) {
        display: none;
      }

      ::slotted(h2.o-footer__title-desktop) {
        display: block;
      }

      &-content-panel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 10px;
        width: 330px;

        // IE11 workaround (use 'unset'-property for those two elements)
        background-color: $color-prim-blue-dark-indigo;
        max-height: 1000px;

        &--short {
          width: 165px;
        }

        &-list-item {
          @include typo(primary, default, default);

          width: 165px;
          margin-top: 8px;
          padding: 5px 0 !important;

          line-height: 1.21;
          padding: 0;

          &:last-child {
            border-bottom: none;
          }

          ::slotted(a) {
            text-decoration: none;
            color: $color-prim-white;
          }
        }
      }
    }

    &__social-media {
      grid-area: social;

      // IE11 workaround
      -ms-grid-row: 2;
      -ms-grid-column: 1;

      &-list {
        margin: 0;
        text-indent: 0;
        list-style-type: none;
        padding: 0;

        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;

        a {
          display: block;
          padding: 10px 10px 0 10px;
          margin-right: 10px;
        }

        a:first-of-type {
          padding: 10px 10px 0 0;
        }
      }
    }
  }

  @include breakpoint($mediaquery-lg-up) {
    &__content {
      grid-template-areas: 'links social';

      // IE11 workaround
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr;
    }

    &__collection {
      // IE11 workaround
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }

    &__social-media {
      // IE11 workaround
      -ms-grid-row: 1;
      -ms-grid-column: 2;

      ::slotted(h2) {
        // IE11 workaround
        display: block;
      }

      &-title {
        display: block;
      }

      &-list {
        padding: 20px 0;
      }
    }
  }
}
