// inspired by https://github.com/twbs/bootstrap/blob/v4.0.0-beta.2/scss/_variables.scss

@import "colors";

$font-family-base: "Source Sans Pro", Arial, sans-serif !default;
$font-size-base: 16px !default;
$font-weight-base: normal !default;

$body-color: $color-text !default;
$body-bg: $color-prim-white !default;

$margin-bottom-base: 16px !default;
$headings-margin-bottom: $margin-bottom-base/2 !default;
$paragraph-margin-bottom: $margin-bottom-base !default;

$dt-font-weight: bold !default;

$table-cell-padding: 12px !default;

$text-muted: $color-prim-gray-scorpion !default;
