$vr-base: 10px !default;

$vr-top-paddings:
  (
    // Extra small screen / phone
    xs: 40px,
    // Small screen / phone
    // sm: 40px,
    // Medium screen / tablet
    md: 60px,
    // Large screen / desktop
    lg: 70px,
    // Extra large screen / wide desktop
    // xl: 70px
  ) !default;

$vr-bottom-paddings:
  (
    // Extra small screen / phone
    xs: 40px,
    // Small screen / phone
    // sm: 40px,
    // Medium screen / tablet
    md: 60px,
    // Large screen / desktop
    // lg: 60px,
    // Extra large screen / wide desktop
    // xl: 60px
  ) !default;

$vr-top-margins:
  (
    // Extra small screen / phone
    xs: 20px,
    // Small screen / phone
    // sm: 20px,
    // Medium screen / tablet
    md: 40px,
    // Large screen / desktop
    lg: 60px,
    // Extra large screen / wide desktop
    // xl: 60px
  ) !default;
