$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-header-sub-navigation-backdrop: 1040 !default;
$zindex-header-sub-navigation: 1050 !default;
$zindex-header-main-navigation: 1060 !default;
$zindex-modal-backdrop: 1070 !default;
$zindex-modal: 1080 !default;
$zindex-popover: 1090 !default;
$zindex-tooltip: 1100 !default;
