<axa-meta-navigation>
  <nav class="m-meta-navigation__nav-other">
    <ul class="m-meta-navigation__list">
      <li class="m-meta-navigation__list-item">
        <a href="#" class="m-meta-navigation__list-link is-active">individuals</a>
      </li>
      <li class="m-meta-navigation__list-item">
        <a href="#" class="m-meta-navigation__list-link">small busineses</a>
      </li>
      <li class="m-meta-navigation__list-item">
        <a href="#" class="m-meta-navigation__list-link">businesses</a>
      </li>
    </ul>
  </nav>
</axa-meta-navigation>
