<!--

  Currently is a MVP. Open enhancments found here: https://github.com/axa-ch/patterns-library/issues/561

  Dependencies:
    m-datepicker-body
    m-datepicker
    m-dropdown
    m-button
    a-device-state
    a-input
    a-icon
-->

<div style="position: relative">
  <axa-datepicker classes="o-datepicker js-datepicker" locale="de-ch"></axa-datepicker>
</div>

<div style="position: relative">
  <axa-datepicker classes="o-datepicker js-datepicker" locale="en-us"></axa-datepicker>
</div>

<axa-container>
</axa-container>

<axa-container>
  <axa-row>
    <axa-cell>
      <h2>With container</h2>
      <axa-datepicker classes="o-datepicker js-datepicker" locale="it-it"></axa-datepicker>
    </axa-cell>
    <axa-cell>
      <h2>Also ISO should work</h2>
      <i>This case will be implemented later on</i>
    </axa-cell>
  </axa-row>
  <axa-row>
    <axa-cell>
      <h2>Custom defined range</h2>
      <axa-datepicker lower-end-year="1999" higher-end-year="2030" classes="o-datepicker js-datepicker" locale="fr-fr"></axa-datepicker>
    </axa-cell>
  </axa-row>
</axa-container>
