<axa-datepicker
  button-cancel="Abbrechen"
  button-ok="Bestätigen"
  locale="de-CH"
  allowed-years="[2018, 2019]"
  start-date-year="2019"
  start-date-month="12"
  start-date-day="31"
  placeholder="Select a date"
>
</axa-datepicker>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>
  This datepicker should open to the top because there is enough space to the
  top and not enough on the bottom
</h2>
<axa-datepicker
  button-cancel="Abbrechen"
  button-ok="Bestätigen"
  locale="en-US"
  allowed-years="[2018, 2019, 2020, 2021, 2022, 2023]"
  start-date-year="2020"
  start-date-month="1"
  start-date-day="1"
  placeholder="Select a date"
>
</axa-datepicker>
<!-- <axa-datepicker button-cancel="Abbrechen" button-ok="Bestätigen" classes="o-datepicker js-datepicker" locale="en-US"></axa-datepicker>
<axa-datepicker button-cancel="Abbrechen" button-ok="Bestätigen" classes="o-datepicker js-datepicker" locale="en-GB"></axa-datepicker> -->
