<axa-datepicker
    button-cancel="Abbrechen"
    button-ok="Bestätigen"
    locale="de-CH" 
    lower-end-year="2018"
    higher-end-year="2023"
    allowed-years='[2018, 2019, 2020, 2021, 2022, 2023]'
    start-date-year="2019"
    start-date-month="1"
    start-date-day="1"
    placeholder="Select a date"
>
</axa-datepicker>
<br>
<br>
<axa-datepicker
    button-cancel="Abbrechen"
    button-ok="Bestätigen"
    locale="de-CH" 
    lower-end-year="2018"
    higher-end-year="2023"
    allowed-years='[2018, 2019, 2020, 2021, 2022, 2023]'
    start-date-year="2020"
    start-date-month="1"
    start-date-day="1"
    placeholder="Select a date"
>
</axa-datepicker>
<!-- <axa-datepicker button-cancel="Abbrechen" button-ok="Bestätigen" classes="o-datepicker js-datepicker" locale="en-US"></axa-datepicker>
<axa-datepicker button-cancel="Abbrechen" button-ok="Bestätigen" classes="o-datepicker js-datepicker" locale="en-GB"></axa-datepicker> -->
