@import "../../styles/settings/colors";
@import "../../styles/settings/zindex";
@import "../../styles/control/control-settings";

$input-logo-padding-right: 20px !default;

.o-datepicker {
  position: relative;

  display: inline-block; // important for onbody click close event
}

.o-datepicker__calendar {
  position: absolute;
  z-index: $zindex-popover;

  display: none;
  background-color: $color-prim-white;
}

.o-datepicker__input {
  display: inline-block;
  width: auto;
  min-width: 150px;
  vertical-align: middle;
}

.a-input__icon-button {
  background-color: transparent;
}

.o-datepicker__calendar--move-up {
  // TODO $control-size !!!!! ausrechnen !!!!!!!!
  top: -385px;
}
