@import "./grid-mixins";

/// Row
///
/// Rows contain and clear the floats of your columns.
.u-row {
  @include make-row();
}

/// Remove the negative margin from default .row, then the horizontal padding
/// from all immediate children columns (to prevent runaway style inheritance).
.u-no-gutters {
  @include no-gutters();
}
