.App {
  text-align: center;
  font-family: sans-serif;
  color: #333;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header label {
  font-size: 16px;
}

.pure-react {
  color: #3032c1;
}

.lit-element {
  color: #f07662;
}
