@import "../../../styles/settings/colors";

$sub-navigation-z-index: 1000 !default;
$sub-navigation-bg: $color-prim-white !default;
$sub-navigation-margin-top: 2px !default;

$sub-navigation__index-bg: $color-prim-gray-alabaster !default;
$sub-navigation__index-height: 60px !default;

$sub-navigation__index-close-padding-left: 21px !default;
$sub-navigation__index-close__icon-size: 23px !default;

$sub-navigation-padding-top: 30px !default;
$sub-navigation-padding-bottom: 40px !default;

$sub-navigation__block-x-padding: 30px !default;
$sub-navigation__block-y-padding: 20px !default;

$sub-navigation__block-x-padding-2-columns: 45px !default;
$sub-navigation__block-x-padding-3-columns: 65px !default;

$sub-navigation__block-border-width: 1px !default;
$sub-navigation__block-border-color: $color-prim-gray-silver !default;

$sub-navigation__category-color: $color-axa-blue !default;

$sub-navigation__list-margin-top: 15px !default;
