<p>
  <axa-link>Read class="is-custom-element-disconnected" more</axa-link>
  <axa-link class="is-custom-element-disconnected" color="red">Read more</axa-link>
  <axa-link class="is-custom-element-disconnected" href="https://www.google.ch" color="red">Google</axa-link>
</p>

<p>
  <axa-link class="is-custom-element-disconnected" deco>Read more</axa-link>
  <axa-link class="is-custom-element-disconnected" color="red" deco>Read more<br>newline</axa-link>
</p>

<p>
  <axa-link class="is-custom-element-disconnected" arrow>Read more</axa-link>
  <axa-link class="is-custom-element-disconnected" color="red" arrow>Read more<br>newline</axa-link>
  <axa-link class="is-custom-element-disconnected" arrow motion>Read more</axa-link>
  <axa-link class="is-custom-element-disconnected" color="red" arrow motion>Read more<br>newline</axa-link>
</p>

<p>
  <axa-link class="is-custom-element-disconnected" icon="download">Download</axa-link>
  <axa-link class="is-custom-element-disconnected" color="red" icon="download">Download<br>newline</axa-link>
</p>

<ul style="list-style: none;">
  <li>
    <axa-link class="is-custom-element-disconnected" listed>Read more</axa-link>
  </li>
  <li>
    <axa-link class="is-custom-element-disconnected" color="red" listed>Read more<br>newline</b></axa-link>
  </li>
  <li>
    <axa-link class="is-custom-element-disconnected" listed motion>Read more</axa-link>
  </li>
  <li>
    <axa-link class="is-custom-element-disconnected" color="red" listed motion>Read more</axa-link>
  </li>
</ul>

<div style="margin-top: 8px; padding: 8px 0; background: #3b3fd8;">
  <p>
    <axa-link class="is-custom-element-disconnected" color="white">Read more</axa-link>
  </p>

  <p>
    <axa-link class="is-custom-element-disconnected" color="white" arrow>Read more</axa-link>
    <axa-link class="is-custom-element-disconnected" color="white" arrow motion>Read more<br>newline</axa-link>
  </p>

  <ul style="list-style: none;">
    <li>
      <axa-link class="is-custom-element-disconnected" color="white" listed>Read more</axa-link>
    </li>
    <li>
      <axa-link class="is-custom-element-disconnected" color="white" listed motion>Read more<br>newline</axa-link>
    </li>
  </ul>
</div>

<p>
  An Example with target="_blank"
  <axa-link href="https://www.google.ch" target="_blank" color="red">Google</axa-link>
</p>
