<axa-header-meta>
  <axa-header-others items='[
    {"name": "individuals", "url": "#", "isActive": true},
    {"name": "small busineses", "url": "#"},
    {"name": "businesses", "url": "#"}
  ]'></axa-header-others>

  <axa-header-meta-right>
    <axa-header-languages items='[
      {"name": "de", "url": "#de"},
      {"name": "en", "url": "#en"},
      {"name": "fr", "url": "#fr"},
      {"name": "it", "url": "#it"}
    ]'></axa-header-languages>

    <a href="#" class="m-button m-button--motion">myAXA Login</a>
  </axa-header-meta-right>
</axa-header-meta>
