<axa-header-meta class="is-custom-element-disconnected"> <axa-header-others class="is-custom-element-disconnected" items='[
    {"name": "individuals", "url": "#", "isActive": true},
    {"name": "small busineses", "url": "#"},
    {"name": "businesses", "url": "#"}
  ]'></axa-header-others>

  <axa-header-meta-right class="is-custom-element-disconnected"> <axa-header-languages class="is-custom-element-disconnected" items='[
      {"name": "de", "url": "#de", "isActive": true},
      {"name": "en", "url": "#en"},
      {"name": "fr", "url": "#fr"},
      {"name": "it", "url": "#it"}
    ]'></axa-header-languages>

    <a href="#" class="m-button m-button--motion">myAXA Login</a>
  </axa-header-meta-right>
</axa-header-meta>
