@import "../settings/link";
@import "../../../styles/functions/color-map";
@import "../../../styles/mixins/typo";

@mixin link() {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

@mixin link-deco() {
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

@mixin link-color($style: default) {
  @include link-color-only($style);

  &:hover,
  &:focus,
  &:active {
    @include link-color--hover($style);
  }
}

@mixin link-color-only($style: default) {
  $color-link: get-color($link-colors-map, $style, text);

  color: $color-link;
}

@mixin link-color--hover($style: default) {
  $color-link--hover: get-color($link-colors-map, $style, text--hover);

  color: $color-link--hover;
}

@mixin link-icon() {
  @include typo-tag();
  position: relative;

  display: inline-block;

  text-transform: uppercase;
  font-weight: bold !important;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

@mixin link-icon--adjust($type: default) {
  @if $type == default {
    padding-right: $link__icon-size + $link__icon-padding;
  } @else if $type == listed {
    padding-left: $link__icon-size + $link__icon-padding;
  } @else {
    @error "$type of #{$type} is not supported!";
  }
}

@mixin link-icon--justify($type: default) {
  @if $type == default {
    margin-right: -($link__icon-size + $link__icon-padding);
  } @else if $type == listed {
    margin-left: -($link__icon-size + $link__icon-padding);
  } @else {
    @error "$type of #{$type} is not supported!";
  }
}

@mixin link__icon() {
  position: absolute;

  display: block;

  width: $link__icon-size;
  height: $link__icon-size;

  fill: currentColor;
}

@mixin link__icon--top() {
  top: 0;

  margin-top: 0;
}

@mixin link__icon--middle() {
  top: 50%;

  margin-top: -($link__icon-size / 2);
}

@mixin link__icon--adjust($type: default) {
  @if $type == default {
    right: 0;
  } @else if $type == listed {
    left: 0;
  } @else {
    @error "$type of #{$type} is not supported!";
  }
}

@mixin link__arrow--motion() {
  animation-duration: $link__arrow-motion-duration;
  animation-timing-function: $link__arrow-motion-easing;
  animation-fill-mode: both;
  animation-name: fadeOutRightInLeft;
}
