<axa-main-navigation-mobile style="min-height: 500px;">
  <nav class="m-main-navigation-mobile__nav js-main-navigation-mobile__nav">
    <ul class="m-main-navigation-mobile__list">
      <li class="m-main-navigation-mobile__list-item">
        <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
          car insurance
          <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
            <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
          </svg>
        </button>

        <nav class="m-main-navigation-mobile__nav">
          <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
            <svg class="m-main-navigation-mobile__icon-back" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
              <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
            </svg>
            car insurance
          </button>

          <ul class="m-main-navigation-mobile__list">
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Professional Indemnity Insurance</a></li>
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Public Liability Insurance</a></li>
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Shop Insurance<br>sub line</a></li>
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Residential Landlord Insurance</a></li>
          </ul>
        </nav>
      </li>
      <li class="m-main-navigation-mobile__list-item">
        <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
          home insurance
          <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
            <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
          </svg>
        </button>

        <nav class="m-main-navigation-mobile__nav">
          <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
            <svg class="m-main-navigation-mobile__icon-back" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
              <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
            </svg>
            home insurance
          </button>

          <ul class="m-main-navigation-mobile__list">
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                personal<br>sub line
                <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                  <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                </svg>
              </button>

              <nav class="m-main-navigation-mobile__nav">
                <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
                  <svg class="m-main-navigation-mobile__icon-back" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                    <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                  </svg>
                  personal<br>sub line
                </button>

                <ul class="m-main-navigation-mobile__list">
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
                  </li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Car Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Home Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Travel Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Breakdown Cover</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
                </ul>
              </nav>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                business
                <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                  <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                </svg>
              </button>

              <nav class="m-main-navigation-mobile__nav">
                <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
                  <svg class="m-main-navigation-mobile__icon-back" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                    <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                  </svg>
                  business
                </button>

                <ul class="m-main-navigation-mobile__list">
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
                  </li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Professional Indemnity Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Public Liability Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Shop Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Residential Landlord Insurance</a></li>
                </ul>
              </nav>
            </li>
          </ul>
        </nav>
      </li>
      <li class="m-main-navigation-mobile__list-item">
        <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
          health insurance<br>sub line
          <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
            <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
          </svg>
        </button>

        <nav class="m-main-navigation-mobile__nav">
          <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
            <svg class="m-main-navigation-mobile__icon-back" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
              <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
            </svg>
            health insurance<br>sub line
          </button>

          <ul class="m-main-navigation-mobile__list">
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                personal<br>sub line
                <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                  <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                </svg>
              </button>

              <nav class="m-main-navigation-mobile__nav">
                <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
                  <svg class="m-main-navigation-mobile__icon-back" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                    <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                  </svg>
                  personal<br>sub line
                </button>

                <ul class="m-main-navigation-mobile__list">
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
                  </li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Car Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Home Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Travel Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Breakdown Cover</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
                </ul>
              </nav>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                business
                <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                  <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                </svg>
              </button>

              <nav class="m-main-navigation-mobile__nav">
                <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
                  <svg class="m-main-navigation-mobile__icon-back" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                    <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                  </svg>
                  business
                </button>

                <ul class="m-main-navigation-mobile__list">
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
                  </li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Professional Indemnity Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Public Liability Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Shop Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Residential Landlord Insurance</a></li>
                </ul>
              </nav>
            </li>
          </ul>
        </nav>
      </li>
      <li class="m-main-navigation-mobile__list-item">
        <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
          travel insurance
          <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
            <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
          </svg>
        </button>

        <nav class="m-main-navigation-mobile__nav">
          <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
            <svg class="m-main-navigation-mobile__icon-back" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
              <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
            </svg>
            travel insurance
          </button>

          <ul class="m-main-navigation-mobile__list">
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                personal<br>sub line
                <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                  <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                </svg>
              </button>

              <nav class="m-main-navigation-mobile__nav">
                <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
                  <svg class="m-main-navigation-mobile__icon-back" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                    <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                  </svg>
                  personal<br>sub line
                </button>

                <ul class="m-main-navigation-mobile__list">
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
                  </li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Car Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Home Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Travel Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Breakdown Cover</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
                </ul>
              </nav>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                business
                <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                  <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                </svg>
              </button>

              <nav class="m-main-navigation-mobile__nav">
                <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
                  <svg class="m-main-navigation-mobile__icon-back" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                    <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                  </svg>
                  business
                </button>

                <ul class="m-main-navigation-mobile__list">
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
                  </li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Professional Indemnity Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Public Liability Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Shop Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Residential Landlord Insurance</a></li>
                </ul>
              </nav>
            </li>
          </ul>
        </nav>
      </li>
      <li class="m-main-navigation-mobile__list-item">
        <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
          all products
          <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
            <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
          </svg>
        </button>

        <nav class="m-main-navigation-mobile__nav">
          <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
            <svg class="m-main-navigation-mobile__icon-back" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
              <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
            </svg>
            all products
          </button>

          <ul class="m-main-navigation-mobile__list">
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                personal<br>sub line
                <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                  <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                </svg>
              </button>

              <nav class="m-main-navigation-mobile__nav">
                <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
                  <svg class="m-main-navigation-mobile__icon-back" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                    <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                  </svg>
                  personal<br>sub line
                </button>

                <ul class="m-main-navigation-mobile__list">
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
                  </li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Car Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Home Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Travel Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Breakdown Cover</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
                </ul>
              </nav>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                business
                <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                  <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                </svg>
              </button>

              <nav class="m-main-navigation-mobile__nav">
                <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
                  <svg class="m-main-navigation-mobile__icon-back" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                    <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                  </svg>
                  business
                </button>

                <ul class="m-main-navigation-mobile__list">
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
                  </li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Professional Indemnity Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Public Liability Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Shop Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Residential Landlord Insurance</a></li>
                </ul>
              </nav>
            </li>
          </ul>
        </nav>
      </li>
    </ul>
  </nav>
</axa-main-navigation-mobile>
