<axa-main-navigation-mobile>
  <nav class="m-main-navigation-mobile__nav js-main-navigation-mobile__nav">
    <ul class="m-main-navigation-mobile__list">
      <li class="m-main-navigation-mobile__list-item">
        <button href="#" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
          car insurance
          <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
            <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
          </svg>
        </button>

        <nav class="m-main-navigation-mobile__nav">
          <button href="#" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
            <svg class="m-main-navigation-mobile__icon-back" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
              <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
            </svg>
            car insurance
          </button>

          <ul class="m-main-navigation-mobile__list">
            <li class="m-main-navigation-mobile__list-item">
              <button href="#" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                home insurance
                <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                  <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                </svg>
              </button>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button href="#" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                health insurance<br>sub line
                <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
                  <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
                </svg>
              </button>
            </li>
          </ul>
        </nav>
      </li>
      <li class="m-main-navigation-mobile__list-item">
        <button href="#" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
          home insurance
          <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
            <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
          </svg>
        </button>
      </li>
      <li class="m-main-navigation-mobile__list-item">
        <button href="#" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
          health insurance<br>sub line
          <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
            <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
          </svg>
        </button>
      </li>
      <li class="m-main-navigation-mobile__list-item">
        <button href="#" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
          travel insurance
          <svg class="m-main-navigation-mobile__icon-next" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="10" viewBox="0 0 32 32">
            <path d="M16 28.067c-0.533 0-1-0.2-1.4-0.6l-14-14c-1.8-1.8 1-4.667 2.8-2.8l12.6 12.533 12.6-12.533c1.8-1.8 4.667 1 2.8 2.8l-14 14c-0.333 0.4-0.867 0.6-1.4 0.6z"></path>
          </svg>
        </button>
      </li>
    </ul>
  </nav>
</axa-main-navigation-mobile>
