<axa-main-navigation-mobile style="min-height: 500px;">
  <a href="#" class="a-button a-button--ghost a-button--motion">myAXA Login</a>

  <nav class="m-main-navigation-mobile__nav js-main-navigation-mobile__nav">
    <ul class="m-main-navigation-mobile__list">
      <li class="m-main-navigation-mobile__list-item">
        <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
          car insurance
          <axa-icon data-set="{
              'id': 'angle-bracket-right',
              'className': 'm-main-navigation-mobile__icon-next'
            }"></axa-icon>
        </button>

        <nav class="m-main-navigation-mobile__nav">
          <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
            <axa-icon data-set="{
                'id': 'angle-bracket-right',
                'className': 'm-main-navigation-mobile__icon-back'
              }"></axa-icon>
            car insurance
          </button>

          <ul class="m-main-navigation-mobile__list">
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Professional Indemnity Insurance</a></li>
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Public Liability Insurance</a></li>
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Shop Insurance<br>sub line</a></li>
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Residential Landlord Insurance</a></li>
          </ul>
        </nav>
      </li>
      <li class="m-main-navigation-mobile__list-item">
        <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
          home insurance
          <axa-icon data-set="{
              'id': 'angle-bracket-right',
              'className': 'm-main-navigation-mobile__icon-next'
            }"></axa-icon>
        </button>

        <nav class="m-main-navigation-mobile__nav">
          <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
            <axa-icon data-set="{
                'id': 'angle-bracket-right',
                'className': 'm-main-navigation-mobile__icon-back'
              }"></axa-icon>
            home insurance
          </button>

          <ul class="m-main-navigation-mobile__list">
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                personal<br>sub line
                <axa-icon data-set="{
                    'id': 'angle-bracket-right',
                    'className': 'm-main-navigation-mobile__icon-next'
                  }"></axa-icon>
              </button>

              <nav class="m-main-navigation-mobile__nav">
                <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
                  <axa-icon data-set="{
                      'id': 'angle-bracket-right',
                      'className': 'm-main-navigation-mobile__icon-back'
                    }"></axa-icon>
                  personal<br>sub line
                </button>

                <ul class="m-main-navigation-mobile__list">
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
                  </li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Car Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Home Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Travel Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Breakdown Cover</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
                </ul>
              </nav>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                business
                <axa-icon data-set="{
                    'id': 'angle-bracket-right',
                    'className': 'm-main-navigation-mobile__icon-next'
                  }"></axa-icon>
              </button>

              <nav class="m-main-navigation-mobile__nav">
                <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
                  <axa-icon data-set="{
                      'id': 'angle-bracket-right',
                      'className': 'm-main-navigation-mobile__icon-back'
                    }"></axa-icon>
                  business
                </button>

                <ul class="m-main-navigation-mobile__list">
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
                  </li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Professional Indemnity Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Public Liability Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Shop Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Residential Landlord Insurance</a></li>
                </ul>
              </nav>
            </li>
          </ul>
        </nav>
      </li>
      <li class="m-main-navigation-mobile__list-item">
        <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
          health insurance<br>sub line
          <axa-icon data-set="{
              'id': 'angle-bracket-right',
              'className': 'm-main-navigation-mobile__icon-next'
            }"></axa-icon>
        </button>

        <nav class="m-main-navigation-mobile__nav">
          <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
            <axa-icon data-set="{
                'id': 'angle-bracket-right',
                'className': 'm-main-navigation-mobile__icon-back'
              }"></axa-icon>
            health insurance<br>sub line
          </button>

          <ul class="m-main-navigation-mobile__list">
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                personal<br>sub line
                <axa-icon data-set="{
                    'id': 'angle-bracket-right',
                    'className': 'm-main-navigation-mobile__icon-next'
                  }"></axa-icon>
              </button>

              <nav class="m-main-navigation-mobile__nav">
                <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
                  <axa-icon data-set="{
                      'id': 'angle-bracket-right',
                      'className': 'm-main-navigation-mobile__icon-back'
                    }"></axa-icon>
                  personal<br>sub line
                </button>

                <ul class="m-main-navigation-mobile__list">
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
                  </li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Car Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Home Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Travel Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Breakdown Cover</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
                </ul>
              </nav>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                business
                <axa-icon data-set="{
                    'id': 'angle-bracket-right',
                    'className': 'm-main-navigation-mobile__icon-next'
                  }"></axa-icon>
              </button>

              <nav class="m-main-navigation-mobile__nav">
                <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
                  <axa-icon data-set="{
                      'id': 'angle-bracket-right',
                      'className': 'm-main-navigation-mobile__icon-back'
                    }"></axa-icon>
                  business
                </button>

                <ul class="m-main-navigation-mobile__list">
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
                  </li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Professional Indemnity Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Public Liability Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Shop Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Residential Landlord Insurance</a></li>
                </ul>
              </nav>
            </li>
          </ul>
        </nav>
      </li>
      <li class="m-main-navigation-mobile__list-item">
        <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
          travel insurance
          <axa-icon data-set="{
              'id': 'angle-bracket-right',
              'className': 'm-main-navigation-mobile__icon-next'
            }"></axa-icon>
        </button>

        <nav class="m-main-navigation-mobile__nav">
          <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
            <axa-icon data-set="{
                'id': 'angle-bracket-right',
                'className': 'm-main-navigation-mobile__icon-back'
              }"></axa-icon>
            travel insurance
          </button>

          <ul class="m-main-navigation-mobile__list">
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                personal<br>sub line
                <axa-icon data-set="{
                    'id': 'angle-bracket-right',
                    'className': 'm-main-navigation-mobile__icon-next'
                  }"></axa-icon>
              </button>

              <nav class="m-main-navigation-mobile__nav">
                <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
                  <axa-icon data-set="{
                      'id': 'angle-bracket-right',
                      'className': 'm-main-navigation-mobile__icon-back'
                    }"></axa-icon>
                  personal<br>sub line
                </button>

                <ul class="m-main-navigation-mobile__list">
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
                  </li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Car Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Home Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Travel Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Breakdown Cover</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
                </ul>
              </nav>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                business
                <axa-icon data-set="{
                    'id': 'angle-bracket-right',
                    'className': 'm-main-navigation-mobile__icon-next'
                  }"></axa-icon>
              </button>

              <nav class="m-main-navigation-mobile__nav">
                <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
                  <axa-icon data-set="{
                      'id': 'angle-bracket-right',
                      'className': 'm-main-navigation-mobile__icon-back'
                    }"></axa-icon>
                  business
                </button>

                <ul class="m-main-navigation-mobile__list">
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
                  </li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Professional Indemnity Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Public Liability Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Shop Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Residential Landlord Insurance</a></li>
                </ul>
              </nav>
            </li>
          </ul>
        </nav>
      </li>
      <li class="m-main-navigation-mobile__list-item">
        <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
          all products
          <axa-icon data-set="{
              'id': 'angle-bracket-right',
              'className': 'm-main-navigation-mobile__icon-next'
            }"></axa-icon>
        </button>

        <nav class="m-main-navigation-mobile__nav">
          <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
            <axa-icon data-set="{
                'id': 'angle-bracket-right',
                'className': 'm-main-navigation-mobile__icon-back'
              }"></axa-icon>
            all products
          </button>

          <ul class="m-main-navigation-mobile__list">
            <li class="m-main-navigation-mobile__list-item">
              <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                personal<br>sub line
                <axa-icon data-set="{
                    'id': 'angle-bracket-right',
                    'className': 'm-main-navigation-mobile__icon-next'
                  }"></axa-icon>
              </button>

              <nav class="m-main-navigation-mobile__nav">
                <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
                  <axa-icon data-set="{
                      'id': 'angle-bracket-right',
                      'className': 'm-main-navigation-mobile__icon-back'
                    }"></axa-icon>
                  personal<br>sub line
                </button>

                <ul class="m-main-navigation-mobile__list">
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
                  </li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Car Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Home Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Travel Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Breakdown Cover</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
                </ul>
              </nav>
            </li>
            <li class="m-main-navigation-mobile__list-item">
              <button type="button" class="m-main-navigation-mobile__category js-main-navigation-mobile__category">
                business
                <axa-icon data-set="{
                    'id': 'angle-bracket-right',
                    'className': 'm-main-navigation-mobile__icon-next'
                  }"></axa-icon>
              </button>

              <nav class="m-main-navigation-mobile__nav">
                <button type="button" class="m-main-navigation-mobile__back js-main-navigation-mobile__back">
                  <axa-icon data-set="{
                      'id': 'angle-bracket-right',
                      'className': 'm-main-navigation-mobile__icon-back'
                    }"></axa-icon>
                  business
                </button>

                <ul class="m-main-navigation-mobile__list">
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">index page</a>
                  </li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Professional Indemnity Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Public Liability Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Shop Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Van Insurance</a></li>
                  <li class="m-main-navigation-mobile__list-item">
                    <a href="#" class="m-main-navigation-mobile__list-link js-main-navigation-mobile__list-link">Residential Landlord Insurance</a></li>
                </ul>
              </nav>
            </li>
          </ul>
        </nav>
      </li>
    </ul>
  </nav>

  <axa-top-content-bar type="commercial">
    <p class="m-top-content-bar__text">commercial <a href="#" class="a-link a-link--white">link</a> stuff</p>
    <button class="a-button a-button--white a-button--ghost m-top-content-bar__button">get it for free</button>
  </axa-top-content-bar>

  <axa-meta-navigation-mobile>
    <nav class="m-meta-navigation-mobile__nav-other">
      <ul class="m-meta-navigation-mobile__list">
        <li class="m-meta-navigation-mobile__list-item">
          <a href="#" class="m-meta-navigation-mobile__list-link is-active">individuals</a>
        </li>
        <li class="m-meta-navigation-mobile__list-item">
          <a href="#" class="m-meta-navigation-mobile__list-link">small busineses</a>
        </li>
        <li class="m-meta-navigation-mobile__list-item">
          <a href="#" class="m-meta-navigation-mobile__list-link">businesses</a>
        </li>
      </ul>
    </nav>

    <nav class="m-main-navigation-mobile__nav-lang">
      <a href="#" class="m-meta-navigation-mobile__lang-link is-active">de</a>
      <a href="#en" class="m-meta-navigation-mobile__lang-link">en</a>
      <a href="#fr" class="m-meta-navigation-mobile__lang-link">fr</a>
      <a href="#it" class="m-meta-navigation-mobile__lang-link">it</a>
    </nav>
  </axa-meta-navigation-mobile>
</axa-main-navigation-mobile>
