.a-popup-content {
  position: relative;
  background-color: $color-prim-blue-st-tropaz;
  color: $color-prim-white;
  padding: 15px;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 11px;
  width: 100%;
  overflow: hidden;
  //max-height: 0;
  //height: auto;
  //transition: max-height 1.15s ease-out;


  // TODO *1
  //margin-left: -10px;

  &:before {
    position: absolute;
    top: -12px;
    // TODO *1
    right: 5px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid $color-prim-blue-st-tropaz;
    z-index: 1;
  }
}
