@import "../../../styles/settings/colors";

$header-meta-navigation-mobile__nav-other-bg: $color-prim-gray-alabaster;

$header-meta-navigation-mobile__nav-border-top-width: 1px !default;
$header-meta-navigation-mobile__nav-border-top-color: $color-prim-gray-mercury !default;

$header-meta-navigation-mobile__link-x-padding: 60px;
$header-meta-navigation-mobile__link-y-padding: 20px;
$header-meta-navigation-mobile__link-color: $color-prim-gray-dusty !default;
$header-meta-navigation-mobile__link-color--hover: $color-axa-blue !default;

$main-navigation-mobile__nav-lang-bg: $color-prim-gray-mercury !default;

$header-meta-navigation-mobile__lang-link-x-padding: 8px !default;
$header-meta-navigation-mobile__lang-link-y-padding: 20px !default;
$header-meta-navigation-mobile__lang-link-color: $color-prim-gray !default;
$header-meta-navigation-mobile__lang-link-color--hover: $color-axa-blue !default;
