radio-button {
  contain: strict;
}

radio-button .radio-button-input:checked {
  vertical-align: top;
  outline: none;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABWUlEQVQ4y4WTzaqCUBSFz3MF9Y7WzJkRDWrSKMqCCKN3SAgJh6VF0J9h+/bty5G81+rAgs1e69vnqEdjKtZisZB+vy+u66qo6Zlvy4LL5VLiOJbL5aKipvdx0Hg8lul0KtvtVt4tPDJkS3AQBGrcbjf5tsiQhSkG9Hq9jztXnQRG4fl8rs+V57nc7/dfPQOPRkOeCRU1PeuThYE13W5XoiiSLMvker2q8nq9gK3oWZ8sDKxptVpyPB7lfD7L6XRS/YWtrE8WBtY0m01JkkTSNJXdbqd6N8D6ZGFgTbvdljAMiyaBrFb7B9PDs5vBwJrJZKIv43A4FAOS9bo0hJqeHUAWBla/RKfTkc1mUzpFlezuZGGKe+D7vgyHQw3t9/ti0Kvo4ZEhC1O6jYPBQA2mc0TCr6KHR4Zs5f8wGo30aLPZTFarld44RE0Pj8zXv5KQ53niOI6K+h34AwOxt6ssUXwfAAAAAElFTkSuQmCC');
}
