@import '../../../styles/settings/footer';

$footer-main-min-height: 50px !default;
$footer-main-y-padding: 50px !default;
$footer-main-y-padding--md: 40px !default;

$footer-main-border-top-width: 1px !default;
$footer-main-border-top-color: $footer-color--dim !default;
