@import '../../../static/scss/colors.scss';

article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  background-color: $color-axa-dark-blue;
  color: $color-prim-white;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-small__side-aligned {
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}
