@import '../../../static/scss/colors.scss';

article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  background-color: $color-axa-dark-blue;
  color: $color-prim-white;
}

.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
