@import '../../../static/scss/colors.scss';

.footer-small {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  background: $color-axa-dark-blue;
  color: $color-prim-white;
  border-top: 1px solid rgba(255, 255, 255, 0.25);

  &__side-aligned {
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
  }

  &__disclaimer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--left {
      padding-right: 5px;
    }

    &--right {
      padding-left: 5px;
    }
  }

  p {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
  }
}
