:host {
  display: block;
}

.m-stepper {
  display: block;

  &__wrapper {
    display: flex;
    background: $color-prim-white;
    box-shadow: 0px 1px 3px $color-silver;
  }

  &__step {
    display: flex;
    height: 53px;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-mercury;

    svg {
      margin-right: 8px;
      color: $color-malachite;
    }

    .m-stepper__circle {
      @include text(t4);
      width: 24px;
      height: 24px;
      line-height: 24px;
      margin-right: 10px;
      text-align: center;
      border-radius: 50%;
    }

    .m-stepper__text {
      @include text(t3);
      letter-spacing: 0.2px;
    }

    &--done {
      .m-stepper__text {
        font-weight: bold;
        color: $color-grey;
      }
    }

    &--active {
      .m-stepper__circle {
        font-weight: bold;
        background: $color-deep-sapphire;
        color: $color-prim-white;
      }

      .m-stepper__text {
        font-weight: bold;
        color: $color-deep-sapphire;
      }
    }

    &--inactive {
      .m-stepper__circle {
        border: 1px solid $color-silver;
        background: $color-prim-white;
        color: $color-grey;
      }

      .m-stepper__text {
        color: $color-grey;
      }
    }
  }

  &__progressbar {
    background: $color-mercury;
  }

  &__progress {
    height: 4px;
    max-width: 100%;
    background: $color-burnt-sienna;
  }
}
