@import "../../../styles/settings/colors";

$table-border-color: $color-prim-gray-mercury !default;
$table-border-width: 1px !default;
$table-width: 100% !default;

$table__row-padding-x--sm: 0 !default;
$table__row-padding-y--sm: 20px !default;

$table__cell-color: $color-prim-gray !default;
$table__cell-padding-x: 15px !default;
$table__cell-padding-y: 10px !default;
$table__cell-padding-y--dense: 2px !default;
$table__cell-padding-x--sm: 10px !default;
$table__cell-padding-y--sm: 2px !default;

$table__cell--strong-color: $color-prim-gray-mine-shaft !default;
$table__cell--head-color: $color-axa-blue !default;
$table__cell--foot-color: $color-prim-gray-mine-shaft !default;
$table__cell--action-color: $color-axa-blue !default;
$table__cell--action-bg: $color-prim-gray-alabaster !default;

$table__cell--sort-width: 8px !default;
$table__cell--sort-height: 4px !default;
$table__cell--sort-margin-left: 5px !default;
$table__cell--sort-color: $color-prim-gray-silver !default;
$table__cell--sort-active-color: $color-axa-blue !default;

$table__cell--state-ok-color: $color-state-green-malachite !default;
$table__cell--state-pending-color: $color-prim-red-burnt-sienna !default;
$table__cell--state-error-color: $color-state-red-shy-tomato !default;
$table__cell--state-unknown-color: $color-prim-gray-silver !default;
$table__cell--state-size: 8px !default;
$table__cell--state-margin-right: 20px !default;
$table__cell--state-margin-right--sm: 10px !default;

$table__foot-bg: $color-prim-gray-wild-sand !default;
