<axa-footer-main class="is-custom-element-disconnected"> <axa-footer-links class="is-custom-element-disconnected" items='[{"title": "AXA & You", "items": [
      {"name": "Contact", "url": ""},
      {"name": "Report a claim", "url": ""},
      {"name": "Broker", "url": ""},
      {"name": "Job vacancies", "url": ""},
      {"name": "myAXA", "url": ""},
      {"name": "Customer reviews", "url": ""},
      {"name": "Garage portal", "url": ""}
    ]}]'
    cols="2"
  ></axa-footer-links>

  <axa-footer-social class="is-custom-element-disconnected" title="follow axa"
    items='[{"name": "facebook", "url": ""}, {"name": "instagram", "url": ""}, {"name": "twitter", "url": ""}, {"name": "xing", "url": ""}, {"name": "youtube", "url": ""}, {"name": "linkedin", "url": ""}]'
  ></axa-footer-social>
</axa-footer-main>
