@import "../../styles/settings/colors";
@import "../../styles/mixins/grid";
@import "../../styles/mixins/respond";

.m-footer-main {
  display: block;
  padding: 50px 0;

  background: $color-prim-blue-dark-indigo;
  border-top: 1px solid rgba($color-prim-white, 0.25);

  @include respond-down(md) {
    padding-top: 40px;
  }
}

.m-footer-main__box {
  @include make-container();
  @include make-container-max-widths();
}

.m-footer-main__row {
  @include make-row();

  > :last-child {
    margin-left: auto;
  }

  @include respond-down(xs) {
    flex-direction: column;

    > :last-child {
      margin-left: 0;
    }
  }
}

.m-footer-main--light {
  min-height: 49px;
  padding: 0;
}
