@import "./settings/footer-main";
@import "../../styles/grid/grid-mixins";
@import "../../styles/mixins/respond";

.m-footer-main {
  display: block;
  padding: $footer-main-y-padding 0;

  background: $footer-bg;
  border-top: $footer-main-border-top-width solid $footer-main-border-top-color;

  @include respond-down(md) {
    padding-top: $footer-main-y-padding--md;
    padding-bottom: $footer-main-y-padding--md;
  }

  @include respond-down(xs) {
    padding: 0;
  }
}

.m-footer-main__box {
  @include make-container();
  @include make-container-max-widths();
}

.m-footer-main__row {
  @include make-row();

  // last molecules should always be on the left (except m-footer-links)
  > :last-child {
    margin-left: auto;
  }

  @include respond-down(xs) {
    flex-direction: column;

    > :last-child {
      margin-left: 0;
    }
  }
}

.m-footer-main--light {
  min-height: $footer-main-min-height - $footer-main-border-top-width;
  padding: 0;
}
