@import "settings/header-mobile";
@import "../m-header-main/settings/header-main";
@import "../../styles/mixins/hardware-accelerate";
@import "../../styles/mixins/respond";

.m-header-mobile {
  display: block;
}

.m-header-mobile__backdrop {
  position: fixed;
  top: -200%;
  left: -200%;
  z-index: $header-mobile__backdrop-z-index;

  display: block;
  height: 100%;
  width: 100%;

  background: $header-mobile__backdrop-bg;
  opacity: 0;
  cursor: pointer;
  overscroll-behavior: contain;

  transition: opacity 0.2s ease;

  .is-mobile-menu-open > & {
    top: 0;
    left: 0;

    opacity: 1;
  }

  &.is-mobile-backdrop-fading {
    top: 0;
    left: 0;
  }
}

.m-header-mobile__canvas {
  position: relative;

  display: block;
  width: 100%;
  overflow: hidden;

  background: $header-mobile-bg;

  @include respond-up(sm) {
    width: $header-mobile__canvas-width-sm;
  }
}

.m-header-mobile__canvas--off-canvas {
  position: fixed;
  top: $header-main-height;
  right: 0;
  bottom: 0;
  z-index: $header-mobile__canvas-z-index;

  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;

  // ios black box issue when using GPU painting fix
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.05);

  transform: translateX(110%);
  transition: transform 0.2s ease;

  .is-mobile-menu-open > & {
    transform: translateX(0);
  }

  @include respond-up(lg) {
    display: none;
  }
}

.m-header-mobile__box {
  position: relative;

  padding-top: $header-mobile__item-margin-top;

  // needed for iOS 11 black background render bug
  // https://github.com/axa-ch/patterns-library/issues/263
  background: $color-prim-white;

  .m-header-top-content-bar__box {
    padding-left: $header-mobile__item-padding-left;
    padding-right: $header-mobile__item-padding-right;
  }

  // @TODO Built in elemnt with class should be used here
  axa-button {
    &:first-child {
      .m-button {
        margin-top: 0;
      }
    }
  }
}

.m-button.m-header-mobile__box--button {
  display: block;
  margin: $header-mobile__item-margin-top $header-mobile__item-padding-right $header-mobile__item-margin-top $header-mobile__item-padding-left;

  text-align: center;

  + * {
    margin-top: $header-mobile__item-margin-top;
  }

  @include respond-up(sm) {
    width: $header-mobile__canvas-width-sm - $header-mobile__item-padding-right - $header-mobile__item-padding-left;
  }
}

body.is-body-frozen {
  overflow: hidden;
}
