<div class="is-open">

  <axa-header-sub-navigation indextitle="Index Page" indexurl="#" items='[
    {
      "columns": [
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        }
      ]
    }
  ]'></axa-header-sub-navigation>

  <axa-header-sub-navigation items='[
    {
      "columns": [
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        }
      ],
      "col": "2"
    }
  ]'></axa-header-sub-navigation>

  <axa-header-sub-navigation items='[
    {
      "col": "2",
      "isWide": true,
      "columns": [
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        }
      ]
    }
  ]'></axa-header-sub-navigation>

  <axa-header-sub-navigation items='[
    {
      "col": "3",
      "columns": [
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        }
      ]
    }
  ]'></axa-header-sub-navigation>

  <axa-header-sub-navigation items='[
    {
      "col": "4",
      "columns": [
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        }
      ]
    }
  ]'></axa-header-sub-navigation>
</div>
