@import "./respond";

// axa global typography
// as defined here: https://design.axa.com/web-guidelines/typography
$typo-map:
  (
    // extra large -> full desktop
    typo-78--xl--publico: ( size: 78px, weight: Bold, spacing: 0.02em, lineHeight: 1.05, paddingBottom: 28px ),
    typo-62--xl--publico: ( size: 62px, weight: Bold, spacing: 0.02em, lineHeight: 1.16, paddingBottom: 26px ),
    typo-48--xl--publico: ( size: 48px, weight: Bold, spacing: 0.02em, lineHeight: 1.13, paddingBottom: 18px ),
    typo-36--xl--publico: ( size: 36px, weight: Bold, spacing: 0.02em, lineHeight: 1.17, paddingBottom: 17px ),
    typo-78--xl: ( size: 78px, weight: Bold, spacing: 0.01em, lineHeight: 1.05, paddingBottom: 28px ),
    typo-62--xl: ( size: 62px, weight: Bold, spacing: 0.01em, lineHeight: 1.16, paddingBottom: 26px ),
    typo-48--xl: ( size: 48px, weight: Bold, spacing: 0.01em, lineHeight: 1.13, paddingBottom: 18px ),
    typo-36--xl: ( size: 36px, weight: Bold, spacing: 0.01em, lineHeight: 1.17, paddingBottom: 17px ),
    typo-28--xl: ( size: 28px, weight: (Bold, Semibold), spacing: 0.01em, lineHeight: 1.14, paddingBottom: 13px ),
    typo-24--xl: ( size: 24px, weight: Bold, spacing: 0, lineHeight: 1.2, paddingBottom: 13px ),
    typo-20--xl: ( size: 20px, weight: Regular, spacing: 0.01em, lineHeight: 1.5, paddingBottom: 16px ),
    typo-18--xl: ( size: 18px, weight: (Regular, Bold), spacing: 0.01em, lineHeight: 1.5, paddingBottom: 15px ),
    typo-16--xl: ( size: 16px, weight: (Regular, Semibold), spacing: 0.02em, lineHeight: 1.5, paddingBottom: 11px ),
    typo-14--xl: ( size: 14px, weight: Regular, spacing: 0.02em, lineHeight: 1.21, paddingBottom: 8px ),
    typo-13--xl: ( size: 13px, weight: Regular, spacing: 0.02em, lineHeight: 1.38, paddingBottom: 9px ),
    // large -> small desktop
    typo-78--lg--publico: ( size: 78px, weight: Bold, spacing: 0.02em, lineHeight: 1.05, paddingBottom: 28px ),
    typo-62--lg--publico: ( size: 62px, weight: Bold, spacing: 0.02em, lineHeight: 1.16, paddingBottom: 26px ),
    typo-48--lg--publico: ( size: 48px, weight: Bold, spacing: 0.02em, lineHeight: 1.13, paddingBottom: 18px ),
    typo-36--lg--publico: ( size: 36px, weight: Bold, spacing: 0.02em, lineHeight: 1.17, paddingBottom: 17px ),
    typo-78--lg: ( size: 78px, weight: Bold, spacing: 0.01em, lineHeight: 1.05, paddingBottom: 28px ),
    typo-62--lg: ( size: 62px, weight: Bold, spacing: 0.01em, lineHeight: 1.16, paddingBottom: 26px ),
    typo-48--lg: ( size: 48px, weight: Bold, spacing: 0.01em, lineHeight: 1.13, paddingBottom: 18px ),
    typo-36--lg: ( size: 36px, weight: Bold, spacing: 0.01em, lineHeight: 1.17, paddingBottom: 17px ),
    typo-28--lg: ( size: 28px, weight: (Bold, Semibold), spacing: 0.01em, lineHeight: 1.14, paddingBottom: 13px ),
    typo-24--lg: ( size: 24px, weight: Bold, spacing: 0, lineHeight: 1.2, paddingBottom: 13px ),
    typo-20--lg: ( size: 20px, weight: Regular, spacing: 0.01em, lineHeight: 1.5, paddingBottom: 16px ),
    typo-18--lg: ( size: 18px, weight: (Regular, Bold), spacing: 0.01em, lineHeight: 1.5, paddingBottom: 15px ),
    typo-16--lg: ( size: 16px, weight: (Regular, Semibold), spacing: 0.02em, lineHeight: 1.5, paddingBottom: 11px ),
    typo-14--lg: ( size: 14px, weight: Regular, spacing: 0.02em, lineHeight: 1.21, paddingBottom: 8px ),
    typo-13--lg: ( size: 13px, weight: Regular, spacing: 0.02em, lineHeight: 1.38, paddingBottom: 9px ),
    // medium -> tablet
    typo-78--md--publico: ( size: 78px, weight: Bold, spacing: 0.02em, lineHeight: 1.05, paddingBottom: 28px ),
    typo-62--md--publico: ( size: 62px, weight: Bold, spacing: 0.02em, lineHeight: 1.16, paddingBottom: 26px ),
    typo-48--md--publico: ( size: 48px, weight: Bold, spacing: 0.02em, lineHeight: 1.13, paddingBottom: 18px ),
    typo-36--md--publico: ( size: 36px, weight: Bold, spacing: 0.02em, lineHeight: 1.17, paddingBottom: 17px ),
    typo-78--md: ( size: 78px, weight: Bold, spacing: 0.01em, lineHeight: 1.05, paddingBottom: 28px ),
    typo-62--md: ( size: 62px, weight: Bold, spacing: 0.01em, lineHeight: 1.16, paddingBottom: 26px ),
    typo-48--md: ( size: 48px, weight: Bold, spacing: 0.01em, lineHeight: 1.13, paddingBottom: 18px ),
    typo-36--md: ( size: 36px, weight: Bold, spacing: 0.01em, lineHeight: 1.17, paddingBottom: 17px ),
    typo-28--md: ( size: 28px, weight: (Bold, Semibold), spacing: 0.01em, lineHeight: 1.14, paddingBottom: 13px ),
    typo-24--md: ( size: 24px, weight: Bold, spacing: 0, lineHeight: 1.2, paddingBottom: 13px ),
    typo-20--md: ( size: 20px, weight: Regular, spacing: 0.01em, lineHeight: 1.5, paddingBottom: 16px ),
    typo-18--md: ( size: 18px, weight: (Regular, Bold), spacing: 0.01em, lineHeight: 1.5, paddingBottom: 15px ),
    typo-16--md: ( size: 16px, weight: (Regular, Semibold), spacing: 0.02em, lineHeight: 1.5, paddingBottom: 11px ),
    typo-14--md: ( size: 14px, weight: Regular, spacing: 0.02em, lineHeight: 1.21, paddingBottom: 8px ),
    typo-13--md: ( size: 13px, weight: Regular, spacing: 0.02em, lineHeight: 1.38, paddingBottom: 9px ),
    // small -> mobile
    typo-78--sm--publico: ( size: 46px, weight: Bold, spacing: 0.02em, lineHeight: 1.13, paddingBottom: 21px ),
    typo-62--sm--publico: ( size: 40px, weight: Bold, spacing: 0.02em, lineHeight: 1.1, paddingBottom: 16px ),
    typo-48--sm--publico: ( size: 30px, weight: Bold, spacing: 0.02em, lineHeight: 1.13, paddingBottom: 13px ),
    typo-36--sm--publico: ( size: 24px, weight: Bold, spacing: 0.02em, lineHeight: 1.17, paddingBottom: 11px ),
    typo-78--sm: ( size: 46px, weight: Bold, spacing: 0.01em, lineHeight: 1.13, paddingBottom: 21px ),
    typo-62--sm: ( size: 40px, weight: Bold, spacing: 0.01em, lineHeight: 1.1, paddingBottom: 16px ),
    typo-48--sm: ( size: 30px, weight: Bold, spacing: 0.01em, lineHeight: 1.13, paddingBottom: 13px ),
    typo-36--sm: ( size: 24px, weight: Bold, spacing: 0.01em, lineHeight: 1.17, paddingBottom: 11px ),
    typo-28--sm: ( size: 20px, weight: (Bold, Semibold), spacing: 0.01em, lineHeight: 1.5, paddingBottom: 16px ),
    typo-24--sm: ( size: 16px, weight: Bold, spacing: 0, lineHeight: 1.5, paddingBottom: 11px ),
    typo-20--sm: ( size: 16px, weight: Regular, spacing: 0.01em, lineHeight: 1.5, paddingBottom: 12px ),
    typo-18--sm: ( size: 14px, weight: (Regular, Bold), spacing: 0.01em, lineHeight: 1.5, paddingBottom: 10px ),
    typo-16--sm: ( size: 12px, weight: (Regular, Semibold), spacing: 0.02em, lineHeight: 1.5, paddingBottom: 10px ),
    typo-14--sm: ( size: 12px, weight: Regular, spacing: 0.02em, lineHeight: 1.5, paddingBottom: 10px ),
    typo-13--sm: ( size: 12px, weight: Regular, spacing: 0.02em, lineHeight: 1.5, paddingBottom: 10px ),
  );

// common font weight name mapping
// as defined here: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#Common_weight_name_mapping
// and here: http://www.w3.org/TR/css3-fonts/#font-weight-numeric-values
$font-weight-map:
  (
    Thin: 100,
    Extralight: 200,
    Ultralight: 200,
    Light: 300,
    Normal: 400,
    Book: 400,
    Regular: 400,
    Medium: 500,
    Semibold: 600,
    Demibold: 600,
    Bold: 700,
    Extrabold: 800,
    Ultrabold: 800,
    Black: 900,
    Heavy: 900,
  );

@function get-typo($name, $breakpoint: xl, $face: null) {
  @if type-of($name) != string {
    @error "$name #{$name} is not of type string";
  }

  @if type-of($breakpoint) != string {
    @error "$breakpoint #{$breakpoint} is not of type string";
  }

  $key: #{$name}--#{$breakpoint};

  @if $face {
    @if type-of($face) != string {
      @error "$face #{$face} is not of type string";
    }

    $key: #{$key}--#{$face};
  }

  @if not map-has-key($typo-map, $key) {
    @error "Key #{$key} not found in $typo-map.";
  }

  @return map-get($typo-map, $key);
}

@function typo-prop($typo, $key) {
  @if not map-has-key($typo, $key) {
    @error "Key #{$key} not found in $typo.";
  }

  @return map-get($typo, $key);
}

$face-map:
  (
    publico: (Publico Headline, Georgia, serif),
  );

@function get-face($face: null) {
  @if not map-has-key($face-map, $face) {
    @return null;
  }

  @return map-get($face-map, $face);
}

@function get-weight($typo, $weight: null) {
  $allowedWeights: typo-prop($typo, weight);

  @if not $weight {
    $weight: nth($allowedWeights, 1);
  }

  @if index($allowedWeights, $weight) == null {
    @warn "$weight #{$weight} not suggested for current typo";
  }

  @if not map-has-key($font-weight-map, $weight) {
    @error "$weight #{$weight} not found in $font-weight-map.";
  }

  @return map-get($font-weight-map, $weight);
}

@mixin typo-decls($name, $breakpoint: xl, $face: null, $weight: null) {
  $typo: get-typo($name, $breakpoint, $face);

  font-family: get-face($face);
  font-size: typo-prop($typo, size);
  font-weight: get-weight($typo, $weight);
  line-height: typo-prop($typo, lineHeight);
  letter-spacing: typo-prop($typo, spacing);
}

@mixin typo-css($name, $face: null, $weight: null) {
  @include typo-decls($name, xl, $face, $weight);

  @include respond-down(lg) {
    @include typo-decls($name, lg, $face, $weight);
  }

  @include respond-down(md) {
    @include typo-decls($name, md, $face, $weight);
  }

  @include respond-down(sm) {
    @include typo-decls($name, sm, $face, $weight);
  }
}

@mixin typo-78--publico() {
  @include typo-css($name: typo-78, $face: publico);
}

@mixin typo-62--publico() {
  @include typo-css($name: typo-62, $face: publico);
}

@mixin typo-48--publico() {
  @include typo-css($name: typo-48, $face: publico);
}

@mixin typo-36--publico() {
  @include typo-css($name: typo-36, $face: publico);
}

@mixin typo-78() {
  @include typo-css($name: typo-78);
}

@mixin typo-62() {
  @include typo-css($name: typo-62);
}

@mixin typo-48() {
  @include typo-css($name: typo-48);
}

@mixin typo-36() {
  @include typo-css($name: typo-36);
}

@mixin typo-28() {
  @include typo-css($name: typo-28);
}

@mixin typo-28--semibold() {
  @include typo-css($name: typo-28, $weight: Semibold);
}

@mixin typo-24() {
  @include typo-css($name: typo-24);
}

@mixin typo-20() {
  @include typo-css($name: typo-20);
}

@mixin typo-18() {
  @include typo-css($name: typo-18);
}

@mixin typo-18--bold() {
  @include typo-css($name: typo-18, $weight: Bold);
}

@mixin typo-16() {
  @include typo-css($name: typo-16);
}

@mixin typo-16--semibold() {
  @include typo-css($name: typo-16, $weight: Semibold);
}

@mixin typo-14() {
  @include typo-css($name: typo-14);
}

@mixin typo-13() {
  @include typo-css($name: typo-13);
}
