// Colors as specified at
// https://design.axa.com/web-guidelines/color

// AXA brand colors
$color-axa-blue: #00008f !default;
$color-axa-red: #ff1721 !default;

// main palette colors (excluding brand colors)
$color-blue-deep-sapphire: #00005b !default;
$color-blue-st-tropaz: #2425aa !default;
$color-blue-azure: #3032c1 !default;
$color-blue-dark-indigo: #3b3fd8 !default;
$color-blue-indigo: #494df4 !default;

$color-red-flamingo: #ec4d33 !default;
$color-red-burnt-sienna: #f07662 !default;

$color-gray-mine-shaft: #333 !default;
$color-gray-scorpion: #5f5f5f !default;
$color-gray: #7f7f7f !default;
$color-gray-dusty: #999 !default;
$color-gray-silver: #ccc !default;
$color-gray-mercury: #e5e5e5 !default;
$color-gray-wild-sand: #f5f5f5 !default;
$color-gray-alabaster: #fafafa !default;
$color-white: #fff !default;

// secondary palette
$color-gray-outer-space: #343c3f !default;
$color-red-amaranth: #f02849 !default;
$color-green-malachite: #1cc54e !default;
$color-green-malachite--light: #60d683 !default;
$color-green-malachite--lighter: #baedc9 !default;
$color-red-shy-tomato: #c91432 !default;