// axa global grid
// as defined here:https://design.axa.com/web-guidelines/structure#grids

$grid-max-widths:
  (
    xs: auto,
    sm: auto,
    md: 720px,
    lg: 960px,
    xl: 1140px
  ) !default;
