<axa-meta-navigation-mobile>
  <nav class="m-meta-navigation-mobile__nav-other">
    <ul class="m-meta-navigation-mobile__list">
      <li class="m-meta-navigation-mobile__list-item">
        <a href="#" class="m-meta-navigation-mobile__list-link is-active">individuals</a>
      </li>
      <li class="m-meta-navigation-mobile__list-item">
        <a href="#" class="m-meta-navigation-mobile__list-link">small busineses</a>
      </li>
      <li class="m-meta-navigation-mobile__list-item">
        <a href="#" class="m-meta-navigation-mobile__list-link">businesses</a>
      </li>
    </ul>
  </nav>

  <nav class="m-main-navigation-mobile__nav-lang">
    <a href="#" class="m-meta-navigation-mobile__lang-link is-active">de</a>
    <a href="#en" class="m-meta-navigation-mobile__lang-link">en</a>
    <a href="#fr" class="m-meta-navigation-mobile__lang-link">fr</a>
    <a href="#it" class="m-meta-navigation-mobile__lang-link">it</a>
  </nav>
</axa-meta-navigation-mobile>
