$form-input-padding: 0 20px !default;
$form-input-inline-margin: 15px !default;
$form-input-inline-margin--mobile: 10px !default;


$form-input-icon-size: 48px !default;

$form-input-icon-before-width: 8px !default;
$form-input-icon-before-height: 16px !default;
