@import "../../../styles/settings/colors";

$meta-header-bg: $color-prim-gray-alabaster !default;
$meta-header-border-top-width: 2px !default;
$meta-header-border-top-color: $color-axa-blue !default;
$meta-header-border-bottom-width: 1px !default;
$meta-header-border-bottom-color: #e8e8e8 !default;

$meta-header__link-x-padding: 15px;
$meta-header__link-color: $color-prim-gray-dusty !default;
$meta-header__link-bg--hover: $color-prim-white !default;
