@import "../../../styles/settings/colors";

$meta-header-bg: $color-prim-gray-alabaster !default;
$meta-header-border-top-width: 2px !default;
$meta-header-border-top-color: $color-axa-blue !default;
