axa-commercial-hero-banner {
  color: $color-dark-grey;

  axa-button,
  axa-button-link {
    display: table;
    margin-top: 28px;
  }


  h1 {
    @include headline(h2, secondary);
    overflow-wrap: break-word;
  }

  p, .checkmarks {
    @include text(t4);
    @include breakpoint($mediaquery-xs-up) {
      @include text(t3);
    }
  }

  .checkmark {
    margin-bottom: 5px;
    display: flex;
  }

  .checkmark-icon {
    color: $color-viridian-green;
  }

  .checkmark-text {
    margin-left: 10px;
    padding-top: 4px;
    padding-bottom: 8px;

    @include breakpoint($mediaquery-xs-up) {
      padding-top: 0;
      padding-bottom: 12px;
    }
  }

  header > p {
    @include text(t4, bold);
    text-transform: uppercase;
    overflow-wrap: break-word;
  }

  small {
    @include text(t4);
  }
}
