axa-commercial-hero-banner {
  axa-button {
    display: inline-block;

    margin-top: 28px;
    margin-right: 23px;
  }

  axa-button:last-child {
    margin-top: 28px;
    margin-right: 0;
  }

  .o-commercial-hero-banner__content-buttons {
    margin-top: 100px;
  }

  h2 {
    @include typo(primary, small);
    text-transform: uppercase;
  }

  h1 {
    @include typo-title-with-weight(large-1, secondary, 600);
  }

  p {
    @include typo(primary, medium);
  }

  small {
    @include typo(primary, small);
  }
}
