.o-commercial-hero-banner {
  background-size: cover;
  margin-bottom: 20px;
  min-height: 256px;
  max-height: 256px;

  @include breakpoint($mediaquery-lg-up) {
    min-height: 560px;
    max-height: 560px;
  }

  &__photo-holder {
    max-height: 0;
  }

  &__text--dark {
    @include breakpoint($mediaquery-lg-up) {
      color: $color-prim-white;
    }
  }

  &__container {
    @include breakpoint($mediaquery-lg-up) {
      min-height: 560px;

      background: linear-gradient(
        to right,
        $color-prim-white,
        $color-prim-white 25%,
        transparent 70%,
        transparent
      );
    }

    &--dark {
      @include breakpoint($mediaquery-lg-up) {
        background: linear-gradient(
          to right,
          $color-prim-black,
          $color-prim-black 25%,
          transparent 70%,
          transparent
        );
      }
    }
  }

  &__content {
    margin: 140px 10px 30px 10px;
    background-color: $color-prim-white;

    display: flex;

    @include breakpoint($mediaquery-lg-up) {
      background-color: transparent;
      // color: $color-prim-white;

      margin: 0;

      flex-basis: 50%;
    }

    &-item {
      word-wrap: break-word;

      @include breakpoint($mediaquery-lg-up) {
        max-height: 550px;
        min-height: 550px;

        display: flex;
        flex-basis: 32.2%;
        align-items: center;
      }

      &:last-child {
        display: none;

        @include breakpoint($mediaquery-lg-up) {
          display: block;
        }
      }
    }

    &-buttons {
      margin-top: 10px;
    }

    &-item-box {
      padding: 10px 15px 0 15px;
    }
  }
}
