@import "settings/top-content-bar";
@import "../../styles/mixins/typo";
@import "../../styles/mixins/container";
@import "../../styles/mixins/respond";

.m-top-content-bar {
  display: block;

  color: $color-prim-white;

  padding-top: $top-content-bar-y-padding;
  padding-bottom: $top-content-bar-y-padding;

  @include respond-up(xs) {
    padding-top: $top-content-bar-y-padding--xs;
    padding-bottom: $top-content-bar-y-padding--xs;

  }
}

.m-top-content-bar,
.m-top-content-bar--corporate {
  background: $color-sec-blue-teal;
}

.m-top-content-bar--commercial {
  background: $color-prim-blue-deep-sapphire;
}

.m-top-content-bar--warning {
  background: $color-state-red-shy-tomato;
}

.m-top-content-bar__box {
  @include make-container();

  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-up(xs) {
    flex-direction: row;

    justify-content: center;
  }
}

.m-top-content-bar__text {
  @include typo-13();

  @include respond-up(xs) {
    margin-right: $top-content-bar__text-margin-right;
  }
}

.m-top-content-bar__button {
  margin-top: $top-content-bar__button-margin-top;

  @include respond-up(xs) {
    margin-top: 0;
  }
}
