@import "settings/main-navigation";
@import "../../styles/settings/colors";
@import "../../styles/mixins/grid";
@import "../../styles/mixins/unstyle-list";
@import "styles/stroke";

.m-main-navigation {
  display: block;

  border-bottom: $main-navigation-border-bottom-width solid $main-navigation-border-bottom-color;
}

.m-main-navigation__box {
  @include make-container();
  @include make-container-max-widths();
}

.m-main-navigation__logo-link {

}

.m-main-navigation__logo-img {
  display: block;

  width: $main-navigation__logo-img-size;
  height: $main-navigation__logo-img-size;
}

.m-main-navigation__list {
  @include unstyle-list();
}

.m-main-navigation__form {

}

.m-main-navigation__search {

}

.m-main-navigation__search-icon {

}
