@import "settings/main-navigation";
@import "../a-link/mixins/link";
@import "../../styles/settings/colors";
@import "../../styles/mixins/clearfix";
@import "../../styles/mixins/button-reset";
@import "../../styles/mixins/grid";
@import "../../styles/mixins/respond";
@import "../../styles/mixins/typo";
@import "../../styles/mixins/unstyle-list";
@import "../../styles/mixins/word-break";
@import "styles/stroke";

.m-main-navigation {
  position: relative;
  z-index: $main-navigation-z-index;

  display: block;
  height: $main-navigation-height;
  border-bottom: $main-navigation-border-bottom-width solid $main-navigation-border-bottom-color;
  background: $main-navigation-bg;
}

.m-main-navigation__box {
  @include make-container();
  @include make-container-max-widths();
  @include make-row(null);

  height: 100%;

  flex-wrap: nowrap;

  align-items: center;
}

.m-main-navigation__logo {
  @include make-col(2);

  align-self: center;

  @include respond-up(sm) {
    align-self: flex-start;
  }
}

.m-main-navigation__logo-link {
  display: block;

  width: $main-navigation__logo-size;

  @include respond-up(sm) {
    width: $main-navigation__logo-size--md;
  }

  @include respond-up(xl) {
    width: $main-navigation__logo-size--xl;
  }
}

.m-main-navigation__logo-img {
  display: block;

  width: $main-navigation__logo-size;
  height: $main-navigation__logo-size;

  @include respond-up(sm) {
    width: $main-navigation__logo-size--md;
    height: $main-navigation__logo-size--md;
  }

  @include respond-up(xl) {
    width: $main-navigation__logo-size--xl;
    height: $main-navigation__logo-size--xl;
  }
}

.m-main-navigation__nav {
  display: block;

  margin-left: auto;

  @include respond-down(md) {
    display: none;
  }
}

.m-main-navigation__list {
  @include unstyle-list();

  display: flex;
}

.m-main-navigation__list-item {
  display: block;

  float: left;

  margin: 0 $main-navigation__list-item-x-margin;
}

.m-main-navigation__list-link {
  @include link-color();
  @include typo-13--semibold();

  // @todo: check if need this here
  @include word-break();

  position: relative;

  display: flex;
  height: $main-navigation-height;
  padding: 0 $main-navigation__list-link-x-padding;
  align-items: center;

  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.m-main-navigation__form {
  display: block;
  padding: $main-navigation__form-y-padding 0 $main-navigation__form-y-padding $main-navigation__form-padding-side;
  margin-left: $main-navigation__form-margin-side;

  border-left: $main-navigation__form-border-side-width solid $main-navigation__form-border-side-color;

  @include respond-down(md) {
    padding-left: 0;
    padding-right: $main-navigation__form-padding-side;
    margin-left: auto;

    border-left: none;
    border-right: $main-navigation__form-border-side-width solid $main-navigation__form-border-side-color;
  }
}

.m-main-navigation__search {
  display: none;
}

.m-main-navigation__search-icon {
  display: block;
  width: $main-navigation__icon-size;
  height: $main-navigation__icon-size;

  fill: $main-navigation__search-icon-fill;
}

.m-main-navigation__burger {
  @include button-reset();

  display: none;

  margin-left: $main-navigation__burger-margin-left;

  color: $main-navigation__burger-color;

  @include respond-down(md) {
    display: block;
  }
}

.m-main-navigation__burger-icon {
  display: block;
  width: $main-navigation__icon-size;
  height: $main-navigation__icon-size;

  fill: currentColor;

  .is-burger-open & {
    display: none;
  }
}

.m-main-navigation__close-icon {
  display: none;
  width: $main-navigation__icon-size;
  height: $main-navigation__icon-size;

  fill: currentColor;

  .is-burger-open & {
    display: block;
  }
}
