<div class="is-open">
  <axa-sub-navigation>
    <div class="m-sub-navigation__index">
      <div class="m-sub-navigation__index-box">
        <a class="m-sub-navigation__index-link" href="#">Index page</a>

        <button type="button" class="m-sub-navigation__index-close js-sub-navigation__index-close">
          Close

          <axa-icon id="cross-gap" classname="m-sub-navigation__index-close__icon"></axa-icon>
        </button>
      </div>
    </div>

    <div class="m-sub-navigation__box">
      <div class="m-sub-navigation__row">
        <div class="m-sub-navigation__block">
          <strong class="m-sub-navigation__category">Category</strong>
          <ul class="m-sub-navigation__list">
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </axa-sub-navigation>

  <axa-sub-navigation>
    <div class="m-sub-navigation__box">
      <div class="m-sub-navigation__row m-sub-navigation__row--col-2">
        <div class="m-sub-navigation__block">
          <strong class="m-sub-navigation__category">Category</strong>
          <ul class="m-sub-navigation__list">
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
          </ul>
        </div>

        <div class="m-sub-navigation__block">
          <strong class="m-sub-navigation__category">Category</strong>
          <ul class="m-sub-navigation__list">
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </axa-sub-navigation>

  <axa-sub-navigation>
    <div class="m-sub-navigation__box">
      <div class="m-sub-navigation__row m-sub-navigation__row--col-2">
        <div class="m-sub-navigation__block m-sub-navigation__block--wide">
          <strong class="m-sub-navigation__category">Category</strong>
          <ul class="m-sub-navigation__list">
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
          </ul>
        </div>

        <div class="m-sub-navigation__block m-sub-navigation__block--wide">
          <strong class="m-sub-navigation__category">Category</strong>
          <ul class="m-sub-navigation__list">
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </axa-sub-navigation>

  <axa-sub-navigation>
    <div class="m-sub-navigation__box">
      <div class="m-sub-navigation__row m-sub-navigation__row--col-3">
        <div class="m-sub-navigation__block">
          <strong class="m-sub-navigation__category">Category</strong>
          <ul class="m-sub-navigation__list">
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
          </ul>
        </div>

        <div class="m-sub-navigation__block">
          <strong class="m-sub-navigation__category">Category</strong>
          <ul class="m-sub-navigation__list">
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
          </ul>
        </div>

        <div class="m-sub-navigation__block">
          <strong class="m-sub-navigation__category">Category</strong>
          <ul class="m-sub-navigation__list">
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </axa-sub-navigation>

  <axa-sub-navigation>
    <div class="m-sub-navigation__box">
      <div class="m-sub-navigation__row">
        <div class="m-sub-navigation__block">
          <strong class="m-sub-navigation__category">Category</strong>
          <ul class="m-sub-navigation__list">
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
          </ul>
        </div>

        <div class="m-sub-navigation__block">
          <strong class="m-sub-navigation__category">Category</strong>
          <ul class="m-sub-navigation__list">
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
          </ul>
        </div>

        <div class="m-sub-navigation__block">
          <strong class="m-sub-navigation__category">Category</strong>
          <ul class="m-sub-navigation__list">
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
          </ul>
        </div>

        <div class="m-sub-navigation__block">
          <strong class="m-sub-navigation__category">Category</strong>
          <ul class="m-sub-navigation__list">
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
            <li class="m-sub-navigation__list-item">
              <a class="m-sub-navigation__link" href="#">Link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </axa-sub-navigation>
</div>
