<div class="is-open">

  <axa-sub-navigation items='[
    {
      "boxes": [
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"}
      ],
      "title": "Category"
    }
  ]'>

    <a class="m-sub-navigation__index-link" href="#">Index page</a>
    <button type="button" class="m-sub-navigation__index-close js-sub-navigation__index-close">
      Close
      <axa-icon id="cross-gap" classes="m-sub-navigation__index-close__icon"></axa-icon>
    </button>
  </axa-sub-navigation>

  <axa-sub-navigation items='[
    {
      "boxes": [
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"}
      ],
      "title": "Category"
    },
    {
      "boxes": [
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"}
      ],
      "title": "Category"
    }
  ]'>

  </axa-sub-navigation>

  <axa-sub-navigation items='[
    {
      "boxes": [
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"}
      ],
      "isWide": true,
      "title": "Category"
    },
    {
      "boxes": [
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"}
      ],
      "isWide": true,
      "title": "Category"
    }
  ]'>

  </axa-sub-navigation>

  <axa-sub-navigation items='[
    {
      "boxes": [
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"}
      ],
      "title": "Category"
    },
    {
      "boxes": [
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"}
      ],
      "title": "Category"
    },
    {
      "boxes": [
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"}
      ],
      "title": "Category"
    }
  ]'>

  </axa-sub-navigation>

  <axa-sub-navigation items='[
    {
      "boxes": [
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"}
      ],
      "title": "Category"
    },
    {
      "boxes": [
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"}
      ],
      "title": "Category"
    },
    {
      "boxes": [
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"}
      ],
      "title": "Category"
    },
    {
      "boxes": [
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"},
        {"url": "#", "name": "Link"}
      ],
      "title": "Category"
    }
  ]'>
  </axa-sub-navigation>
</div>
