@import "settings/sub-navigation";
@import "../../styles/mixins/grid";
@import "../../styles/mixins/quantity-query";
@import "../../styles/mixins/typo";
@import "../../styles/mixins/unstyle-list";
@import "../../styles/mixins/word-break";

.m-sub-navigation {
  display: none;

  background: $sub-navigation-bg;
  border-bottom: $sub-navigation-border-width solid $sub-navigation-border-color;

  .is-open & {
    display: block;
  }
}

.m-sub-navigation--flyout {
  position: absolute;

  top: 100%;
  left: 0;

  z-index: $sub-navigation-z-index;

  width: 100%;

  margin-top: $sub-navigation-margin-top;
}

.m-sub-navigation__index {
  background: $sub-navigation__index-bg;
}

.m-sub-navigation__index-box {
  @include make-container();
  @include make-container-max-widths();
  @include make-row(null);

  height: $sub-navigation__index-height;

  align-items: center;
}

.m-sub-navigation__index-link {
  @include typo-18();
  @include word-break();

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;

    font-weight: 600;
  }
}

.m-sub-navigation__index-close {
  @include typo-13--semibold();

  position: relative;

  padding-right: $sub-navigation__index-close__icon-size + $sub-navigation__index-close-padding-left;

  margin-left: auto;
  text-transform: uppercase;
  border: none;
  background: transparent;

  color: $color-axa-blue;

  &:hover,
  &:active,
  &:focus {
    color: $color-prim-blue-deep-sapphire;

    cursor: pointer;

    outline: none;
  }
}

.m-sub-navigation__index-close__icon {
  position: absolute;

  top: 50%;
  right: 0;

  display: block;

  width: $sub-navigation__index-close__icon-size;
  height: $sub-navigation__index-close__icon-size;

  margin-top: ($sub-navigation__index-close__icon-size / -2);

  fill: currentColor;
}

.m-sub-navigation__box {
  @include make-container();
  @include make-container-max-widths();

  padding-top: $sub-navigation-padding-top;
  padding-bottom: $sub-navigation-padding-bottom;
}

.m-sub-navigation__row {
  @include make-row(null);
  margin-right: -$sub-navigation__block-x-padding;

  margin-left: -$sub-navigation__block-x-padding;

  justify-content: center;

  & + & > .m-sub-navigation__block {
    padding-top: $sub-navigation__block-padding-top--repeat;
  }
}

.m-sub-navigation__row--col-2 {
  margin-right: -$sub-navigation__block-x-padding-2-columns;
  margin-left: -$sub-navigation__block-x-padding-2-columns;
}

.m-sub-navigation__row--col-3 {
  margin-right: -$sub-navigation__block-x-padding-3-columns;
  margin-left: -$sub-navigation__block-x-padding-3-columns;
}

.m-sub-navigation__block {
  @include make-col(3);

  padding: $sub-navigation__block-y-padding $sub-navigation__block-x-padding;

  border-left: $sub-navigation__block-border-width solid $sub-navigation__block-border-color;

  &:first-child {
    border: none;
  }

  @include quantity-query(2) {
    @include make-col(3);
    padding-right: $sub-navigation__block-x-padding-2-columns;

    padding-left: $sub-navigation__block-x-padding-2-columns;
  }

  @include quantity-query(3) {
    @include make-col(4);
    padding-right: $sub-navigation__block-x-padding-3-columns;

    padding-left: $sub-navigation__block-x-padding-3-columns;
  }
}

.m-sub-navigation__block--wide {
  @include quantity-query(2) {
    @include make-col(6);
  }
}

.m-sub-navigation__category {
  @include typo-24();
  @include word-break();

  color: $sub-navigation__category-color;
}

.m-sub-navigation__list {
  @include unstyle-list();

  margin-top: $sub-navigation__list-margin-top;
}

.m-sub-navigation__list-item {
  display: block;
}

.m-sub-navigation__link {
  @include typo-18();
  @include word-break();

  display: inline-block;
  padding: $sub-navigation__list-item-y-padding 0;

  line-height: $sub-navigation__list-item-line-height !important;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;

    font-weight: 600;
  }
}
