$image-upload-dropzone-border: 2px !default;

.m-image-upload {
  @include typo(primary, medium);

  &__dropzone {
    display: flex;

    height: 274px;

    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    border: $image-upload-dropzone-border dashed $color-prim-gray-dusty;
  }

  &__or {
    text-transform: uppercase;
    font-weight: bold;
    color: $color-prim-red-flamingo;
  }

  &__icons {
    display: flex;

    color: $color-prim-gray-dusty;
    fill: $color-prim-gray-dusty;
  }

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__dropzone--dragover {
    opacity: 0.6;
  }

  &__dropzone--drop {
    border: $image-upload-dropzone-border solid $color-prim-gray-dusty;
  }
}
:host([showImageOverview]) p {
  color: red;
}
