$image-upload-dropzone-border: 2px !default;

.m-image-upload {
  @include typo(primary, medium);

  &__dropzone {
    display: flex;

    height: 274px;

    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    border: $image-upload-dropzone-border dashed $color-prim-gray-dusty;
  }

  &__or {
    text-transform: uppercase;
    font-weight: bold;
    color: $color-prim-red-flamingo;
  }

  &__icons {
    display: flex;

    color: $color-prim-gray-dusty;
    fill: $color-prim-gray-dusty;
  }

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__dropzone--dragover {
    opacity: 0.6;
  }

  &__dropzone--drop {
    border: $image-upload-dropzone-border solid $color-prim-gray-dusty;
  }

  &__img-figure {
    padding-right: 15px;
    padding-bottom: 15px;
    margin-top: 0; // override html default
  }

  &__icon-layer {
    width: auto;
    visibility: hidden;
    background-color: white; // TODO why does it works only with this?
    opacity: 0.5;
  }

  &__icon-hover-area:hover &__icon-layer {
    visibility: visible;
  }

  &__img-element,
  &__icon-layer {
    height: 85px;
  }

  &__img-element {
    float: left;
  }

  &__img-caption {
    text-align: center;
  }
}

:host([showImageOverview]) .m-image-upload__dropzone--drop {
  display: flex;
  overflow-y: auto;
  padding-left: 20px;
  padding-top: 20px;

  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
