@import "../settings/button";
@import "../../../styles/functions/min-max";
@import "../../../styles/functions/color-map";
@import "../../../styles/animations/fade-out-right-in-left";
@import "../../../styles/mixins/hardware-accelerate";
@import "../../../styles/mixins/respond";
@import "../../../styles/mixins/typo";

// Buttons as specified at
// https://design.axa.com/web-guidelines/buttons-and-links

@mixin button($x-padding: $button-x-padding-default) {
  $x-padding: min-max($button-x-padding-min, $button-x-padding-max, $x-padding);

  @include typo-14();

  position: relative;

  padding: 10px $x-padding;
  border-width: $button-border-width;
  border-style: solid;

  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;

  @at-root {
    a#{&} {
      display: inline-block;
    }
  }

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;

    text-decoration: none;

    outline: none;
  }

  &:disabled,
  &[disabled] {
    cursor: default !important;
  }
}

@mixin button--x-padding($x-padding: $button-x-padding-default) {
  $x-padding: min-max($button-x-padding-min, $button-x-padding-max, $x-padding);
  padding-right: $x-padding;

  padding-left: $x-padding;
}

@mixin button--color($style: default) {
  $color-button-text: get-color($button-color, $style, text);
  $color-button-bg: get-color($button-color, $style, bg);
  $color-button-bg--hover: get-color($button-color, $style, bg--hover);
  $color-button-bg--disabled: get-color($button-color, $style, bg--disabled);

  color: $color-button-text;

  background: $color-button-bg;
  border-color: $color-button-bg;
  border-bottom-color: $color-button-bg--hover;

  &:hover,
  &:active,
  &:focus {
    background: $color-button-bg--hover;
    border-color: $color-button-bg--hover;
    color: $color-button-text;
  }

  &:disabled,
  &[disabled] {
    background: $color-button-bg--disabled !important;
    border-color: $color-button-bg--disabled !important;
  }
}

@mixin button--ghost($style: default) {
  $color-button-bg: get-color($button-color, $style, bg);
  $color-button-bg--hover: get-color($button-color, $style, bg--hover);
  $color-button-text--ghost: get-color($button-color, $style, text--ghost);
  $color-button-text--ghost--hover: get-color($button-color, $style, text--ghost--hover);
  $color-button-bg--ghost: get-color($button-color, $style, bg--ghost);
  $color-button-bg--ghost--hover: get-color($button-color, $style, bg--ghost--hover);

  color: $color-button-text--ghost;

  background: $color-button-bg--ghost;
  border-color: $color-button-bg;

  &:hover,
  &:active,
  &:focus {
    color: $color-button-text--ghost--hover;
    background: $color-button-bg--ghost--hover;

    @if $color-button-bg--ghost--hover != transparent {
      border-color: $color-button-bg--ghost--hover;
    } @else {
      border-color: $color-button-bg--hover;
    }
  }
}

@mixin button--sm() {
  @include typo-13();

  padding-top: 5.5px;
  padding-bottom: 5.5px;

  border-width: $button-border-width--sm;
}

@mixin button--lg() {
  @include typo-16();

  padding-top: 11px;
  padding-bottom: 11px;
}

@mixin button__icon() {
  width: $button__icon-width;
  height: $button__icon-width;

  padding: 10px;

  border-left: 1px solid rgba($color-prim-white, 0.2);
}

@mixin button__icon--lg() {
  width: $button__icon--lg-width;
  height: $button__icon--lg-width;

  padding: 15px;
  margin: -13px -32px -13px 28px;
}

@mixin button__arrow() {
  position: absolute;

  top: 50%;

  display: block;

  width: $button__arrow-width;
  height: $button__arrow-width;
  margin-top: -($button__arrow-width / 2);

  fill: currentColor;
}

@mixin button__arrow-right($right: $button-x-padding-default) {
  $right: min-max($button-x-padding-min, $button-x-padding-max, $right);

  right: $right;
}

@mixin button--arrow-adjust($right: $button-x-padding-default) {
  $right: min-max($button-x-padding-min, $button-x-padding-max, $right);

  padding-right: $button__arrow-width + $button__arrow-gap + $right;
}

@mixin button__arrow--motion() {
  animation-duration: $button__arrow-motion-duration;
  animation-timing-function: $button__arrow-motion-easing;
  animation-fill-mode: both;
  animation-name: fadeOutRightInLeft;
}

@mixin button--motion() {
  @include hardware-accelerate();

  z-index: $button__motion-z-index;

  overflow: hidden;

  &::after {

    position: absolute;
    top: 50%;
    left: 50%;

    z-index: $button__motion-pseudo-z-index;

    display: block;

    width: 0;
    height: 550px;
    content: '';

    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: width $button__motion-duration $button__motion-easing 0s;
  }

  &:hover,
  &:focus {
    &::after {
      width: 110%;
    }
  }
}

@mixin button--motion-style($style: default) {
  $color-button-bg--motion: get-color($button-color, $style, bg--motion);
  $color-button-bg--motion--hover: get-color($button-color, $style, bg--motion--hover);
  $color-button-text--motion--hover: get-color($button-color, $style, text--motion--hover);

  &::after {
    background: $color-button-bg--motion;
  }

  &:hover,
  &:focus {
    background: $color-button-bg--motion;

    @if $color-button-text--motion--hover {
      color: $color-button-text--motion--hover;
    }

    &::after {
      background: $color-button-bg--motion--hover;
    }
  }
}

@mixin button--motion--ghost() {
  background: transparent !important;
}
