<axa-policy-features title="A 5 star car insurance with affordable premium services">

  <axa-policy-feature-item title="Get Discount"
                           src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/beacon.svg"
                           description="We reward safe drivers : 75% no claims discount + an extra 10% off if you get a quote online">
  </axa-policy-feature-item>

  <axa-policy-feature-item title="24/7 assistance"
                           src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/beacon.svg"
                           description="We reward safe drivers : 75% no claims discount + an extra 10% off if you get a quote online">
  </axa-policy-feature-item>

  <axa-policy-feature-item title="Discount partners"
                           src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/beacon.svg"
                           description="We reward safe drivers : 75% no claims discount + an extra 10% off if you get a quote online">
  </axa-policy-feature-item>

  <axa-policy-feature-item title="Online & Apps"
                           src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/beacon.svg"
                           description="We reward safe drivers : 75% no claims discount + an extra 10% off if you get a quote online">
  </axa-policy-feature-item>

</axa-policy-features>

<axa-policy-features axa-style="wild-sand"
                     title="A 5 star car insurance with affordable premium services">

  <axa-policy-feature-item title="Get Discount"
                           src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/beacon.svg"
                           description="We reward safe drivers : 75% no claims discount + an extra 10% off if you get a quote online">
  </axa-policy-feature-item>

  <axa-policy-feature-item title="24/7 assistance"
                           src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/beacon.svg"
                           description="We reward safe drivers : 75% no claims discount + an extra 10% off if you get a quote online">
  </axa-policy-feature-item>

  <axa-policy-feature-item title="Discount partners"
                           src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/beacon.svg"
                           description="We reward safe drivers : 75% no claims discount + an extra 10% off if you get a quote online">
  </axa-policy-feature-item>

</axa-policy-features>
