<axa-policy-features classes="o-policy-features"
                     title="A 5 star car insurance with affordable premium services">

  <axa-policy-feature-item classes="m-policy-feature-item"
                           title="Get Discount"
                           description="We reward safe drivers : 75% no claims discount + an extra 10% off if you get a quote online">
  </axa-policy-feature-item>

  <axa-policy-feature-item classes="m-policy-feature-item"
                           title="24/7 assistance"
                           description="We reward safe drivers : 75% no claims discount + an extra 10% off if you get a quote online">
  </axa-policy-feature-item>

  <axa-policy-feature-item classes="m-policy-feature-item"
                           title="Discount partners"
                           description="We reward safe drivers : 75% no claims discount + an extra 10% off if you get a quote online">
  </axa-policy-feature-item>

  <axa-policy-feature-item classes="m-policy-feature-item"
                           title="Online & Apps"
                           description="We reward safe drivers : 75% no claims discount + an extra 10% off if you get a quote online">
  </axa-policy-feature-item>

</axa-policy-features>
<axa-policy-features classes="o-policy-features"
                     axa-style="wild-sand"
                     title="A 5 star car insurance with affordable premium services">

  <axa-policy-feature-item classes="m-policy-feature-item"
                           title="Get Discount"
                           description="We reward safe drivers : 75% no claims discount + an extra 10% off if you get a quote online">
  </axa-policy-feature-item>

  <axa-policy-feature-item classes="m-policy-feature-item"
                           title="24/7 assistance"
                           description="We reward safe drivers : 75% no claims discount + an extra 10% off if you get a quote online">
  </axa-policy-feature-item>

  <axa-policy-feature-item classes="m-policy-feature-item"
                           title="Discount partners"
                           description="We reward safe drivers : 75% no claims discount + an extra 10% off if you get a quote online">
  </axa-policy-feature-item>

  <axa-policy-feature-item classes="m-policy-feature-item"
                           title="Online & Apps"
                           description="We reward safe drivers : 75% no claims discount + an extra 10% off if you get a quote online">
  </axa-policy-feature-item>

</axa-policy-features>
