@mixin canvas-padding {
    .accessory-story-wrapper {
        padding-left: 1rem;
        @include breakpoint($mediaquery-md-up) {
            padding-left: 6rem;
        }
    }
}

@mixin content-padding {
    .accessory-story-content {
        padding: 2rem 1rem 1rem;
        width: 300px;
        @include breakpoint($mediaquery-md-up) {
            padding: 4rem 3rem 3rem;
            width: 840px;
        }
    }
}