.landingpage-contact-subtitle {
    text-transform: uppercase;
    overflow-wrap: break-word;
    @include text(t4);
}

.landingpage-contact {
    padding: 20px 40px;
    width: auto;
    min-width: 420px;
    background-color: $color-dark-grey;
    color: $color-prim-white;
}

.landingpage-contact-inner {
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint($mediaquery-md-up) {
        padding-left: 80px;
    }
}