.a-button-link {
  @include typo(primary, small);
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 0;
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-prim-white;
  background-color: $color-axa-blue;
  border: solid 2px $color-axa-blue;
  border-bottom-color: $color-prim-blue-deep-sapphire;

  @include breakpoint($mediaquery-sm-up) {
    @include _text(default)
  }

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    text-decoration: none;
    background-color: $color-prim-blue-deep-sapphire;
    border-color: $color-prim-blue-deep-sapphire;
  }

  &[aria-disabled="true"] {
    color: $color-prim-gray-dusty;
    background-color: $color-prim-gray-mercury;
    border-color: $color-prim-gray-mercury;
    border-bottom-color: $color-prim-gray-silver;
    pointer-events: none;
  }

  &__flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 26px;
    // IE11 workaround
    height: 25px;
    box-sizing: border-box;

    @include breakpoint($mediaquery-sm-up) {
      min-height: 36px;
    }
  }

  &__icon {
    display: flex;
    margin-right: 10px;
  }

  &__arrow {
    display: flex;
    margin-left: 10px;
  }
}

.a-button-link--large {
  @include _text(default);

  @include breakpoint($mediaquery-sm-up) {
    @include _text(medium);
  }
}

.a-button-link--large .a-button-link__flex-wrapper {
  min-height: 36px;

  @include breakpoint($mediaquery-sm-up) {
    min-height: 46px;
  }
}

.a-button-link--small .a-button-link__flex-wrapper {
  min-height: 26px;
  @include _text(small);
}

.a-button-link--motion {
  $button__motion-duration: 0.3s;
  $button__motion-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);

  z-index: 0;
  overflow: hidden;

  transition: color $button__motion-duration $button__motion-easing 0s;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;

    z-index: -1;

    display: block;

    // fix iOS double tap for :hover
    // zero width is considered hidden
    width: 0.001px;
    height: 550px;
    content: '';

    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: width $button__motion-duration $button__motion-easing 0s;

    background-color: $color-prim-blue-deep-sapphire;
  }

  &:hover,
  &:focus {
    background-color: $color-axa-blue;
    color: $color-prim-white;

    &::after {
      width: 110%;
      background-color: $color-prim-blue-deep-sapphire;
    }
  }
}

.a-button-link--red {
  background-color: $color-burnt-sienna;
  border-color: $color-burnt-sienna;
  border-bottom-color: $color-prim-red-flamingo;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-prim-red-flamingo;
    border-color: $color-prim-red-flamingo;
  }

  &.a-button-link--motion {
    &::after {
      background-color: $color-prim-red-flamingo;
    }

    &:hover,
    &:focus {
      background-color: $color-burnt-sienna;
      color: $color-prim-white;

      &::after {
        background-color: $color-prim-red-flamingo;
      }
    }
  }
}

.a-button-link--secondary {
  background-color: transparent;
  border-bottom-color: $color-axa-blue;
  color: $color-axa-blue;

  &:hover,
  &:active,
  &:focus {
    color: $color-prim-white;
  }

  &.a-button-link--motion {
    background-color: transparent;
  }
}

.a-button-link--inverted {
  background-color: transparent;
  border-color: $color-prim-white;
  color: $color-prim-white;

  &:hover,
  &:active,
  &:focus {
    color: $color-prim-blue-deep-sapphire;
    background-color: $color-prim-white;
    border-color: $color-prim-white;
  }

  &.a-button-link--motion {
    background-color: transparent;

    &::after {
      background-color: $color-prim-white;
    }
  }
}

@mixin inverted-color($color) {
  &:hover,
  &:active,
  &:focus {
    color: $color;
  }
}

.a-button-link--inverted-blue-ocean {
  @include inverted-color($color-sec-blue-ocean);
}

.a-button-link--inverted-red-tosca {
  @include inverted-color($color-sec-red-tosca);
}

.a-button-link--inverted-purple-logan {
  @include inverted-color($color-sec-purple-logan);
}

.a-button-link--inverted-green-viridian {
  @include inverted-color($color-sec-green-viridian);
}

.a-button-link--inverted-blue-teal {
  @include inverted-color($color-sec-blue-teal);
}
