body {
  background: #fff; }

.o-sg-section:last-child {
  margin-bottom: 20%; }

.o-sg-section--padded {
  margin: 80px 3% 30px; }

.o-sg-section__section {
  min-height: 50px; }

.o-sg-section__section--title {
  margin: 80px 3% 30px; }

.o-sg-section__section--buttons {
  margin: 30px 3% 0;
  padding: 10px;
  background-color: #333;
  text-align: center; }
  .o-sg-section__section--buttons > :first-child {
    float: left; }

.o-sg-section__section__title {
  font-size: 45px; }

.o-sg-section__section__title--text {
  text-transform: capitalize; }

.o-sg-section__section--src {
  padding-right: 3%;
  padding-left: 3%;
  display: none;
  margin: 0 auto; }
  .o-sg-section__section--src .syntaxhighlighter {
    margin-top: 0 !important;
    padding: 10px;
    background-color: #000 !important; }
  .o-sg-section__section--src .syntaxhighlighter .line {
    background-color: #000 !important; }
    .o-sg-section__section--src .syntaxhighlighter .line.alt1, .o-sg-section__section--src .syntaxhighlighter .line.alt2 {
      background-color: #000 !important; }

.o-sg-section__button {
  border: 1px solid #999;
  cursor: pointer;
  background-color: #00008f;
  color: #fff; }

.o-sg-patternlink {
  display: block;
  padding: 0 0 6px 20px;
  margin-left: 20px;
  border-left: 1px solid #ccc; }
  @media (max-width: 991px) {
    .o-sg-patternlink {
      padding-left: 0;
      padding-right: 20px;
      margin-left: auto;
      border-left: none;
      border-right: 1px solid #ccc; } }

.o-sg-header__buttons {
  padding: 10px 20px 20px;
  background-color: #fafafa; }
  .o-sg-header__buttons .o-sg-section__atomic-category {
    display: none;
    margin-right: 10px;
    margin-top: 10px; }
    .o-sg-header__buttons .o-sg-section__atomic-category.o-sg-section--visible {
      display: inline-block; }

.o-sg-section__section--visible {
  display: block; }

.sg-header .m-header-sub-navigation__list {
  margin-top: 0 !important; }

.sg-header .m-header-sub-navigation__block {
  padding-top: 0 !important; }
  .sg-header .m-header-sub-navigation__block:nth-child(1n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #027180;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(2n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #3b3fd8;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(3n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #f07662;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(4n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #914146;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(5n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #914146;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(6n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #9fd9b4;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(7n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #00005b;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(8n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #fcd385;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(9n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #ccc;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(10n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #ccc;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(11n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #fafafa;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(12n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #000;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(13n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #914146;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(14n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #000;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(15n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #00adc6;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(16n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #668980;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(17n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #2425aa;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(18n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #9fbeaf;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(19n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #ec4d33;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(20n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #9fd9b4;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(21n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #7f7f7f;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(22n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #fcd385;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(23n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #668980;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(24n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #fad6de;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(25n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #00005b;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(26n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #668980;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(27n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #e5e5e5;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(28n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #ccc;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(29n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #fcd385;
    border: 1px solid #f5f5f5; }
  .sg-header .m-header-sub-navigation__block:nth-child(30n)::before {
    position: absolute;
    display: block;
    margin-left: -20px;
    margin-top: 11px;
    width: 10px;
    height: 10px;
    content: ' ';
    background-color: #5f5f5f;
    border: 1px solid #f5f5f5; }
