<axa-m-datepicker class="is-custom-element-disconnected" button-ok="ok" button-cancel="abbrechen" locale="de-ch" classes="m-datepicker"></axa-m-datepicker>
<axa-m-datepicker class="is-custom-element-disconnected" output-iso button-ok="Ja" button-cancel="abbrechen" classes="m-datepicker"></axa-m-datepicker>
<axa-m-datepicker class="is-custom-element-disconnected" locale="en-us" button-ok="Ja" button-cancel="abbrechen" classes="m-datepicker"></axa-m-datepicker>
<axa-m-datepicker class="is-custom-element-disconnected" lower-end-year="1990" start-month="0" button-ok="ok" button-cancel="abbrechen" classes="m-datepicker"></axa-m-datepicker>
<axa-m-datepicker class="is-custom-element-disconnected" lower-end-year="1980" higher-end-year="2018" start-month="11" locale="it-ch" button-ok="ok" button-cancel="abbrechen" classes="m-datepicker"></axa-m-datepicker>
<axa-m-datepicker class="is-custom-element-disconnected" lower-end-year="1999" start-year="2022" higher-end-year="2030" locale="fr-ch" button-ok="ok" button-cancel="abbrechen" classes="m-datepicker"></axa-m-datepicker>
