@import "../../styles/settings/colors";

$datepicker-height: 385px !default;
$datepicker-width: 309px !default;

$datepicker-margin-y: 20px !default;
$datepicker-margin-x: 30px !default;

$datepicker-padding-y: 20px !default;
$datepicker-padding-x: 30px !default;

$datepicker-dropdown-year-width: 88px !default;
$datepicker-dropdown-month-width: 146px !default;
$datepicker-dropdown-padding-left: 10px !default;

$datepicker-border-width: 1px !default;
$datepicker-padding-x: 30px !default;

$with-one-seventh: ($datepicker-width - $datepicker-padding-x * 2 - $datepicker-border-width * 2) / 7;

$datepicker-distance-number-to-border: 10px !default;

.m-datepicker {
  display: block;

  box-sizing: border-box;
}

.m-datepicker__article {
  position: relative;

  padding: $datepicker-padding-y $datepicker-padding-x;
  height: $datepicker-height;
  width: $datepicker-width;
  border: solid $datepicker-border-width $color-prim-gray-silver;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.18);
}

.m-datepicker__dropdown {
  margin-bottom: $datepicker-margin-y;

  .m-dropdown__toggle {
    padding-left: $datepicker-dropdown-padding-left;
    text-align: left;
  }
}

.m-datepicker__dropdown__year {
  float: right;

  .m-dropdown__toggle {
    width: $datepicker-dropdown-year-width;
  }
}

.m-datepicker__dropdown__month {
  text-transform: uppercase;

  .m-dropdown__toggle {
    width: $datepicker-dropdown-month-width;
    text-transform: uppercase;
  }
}

.m-datepicker__weekdays {
  display: flex;
  margin: 0 (-$datepicker-margin-x);
  padding-left: $datepicker-padding-x;
  padding-right: $datepicker-padding-x;

  flex-direction: row;
  justify-content: space-between;
  background-color: $color-axa-blue;
  color: $color-prim-white;
}

.m-datepicker__weekdays__day {
  width: $with-one-seventh;

  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.m-datepicker__body {
  display: flex;

  flex-wrap: wrap;
}

.m-datepicker__button {
  position: absolute;
  bottom: $datepicker-margin-y;

  width: calc(100% - #{$datepicker-padding-x * 2 + $datepicker-distance-number-to-border * 2});
  margin-left: $datepicker-distance-number-to-border;
}

.m-datepicker__button__Ok {
  position: absolute;
  right: 0;
}

.m-datepicker__button__borderless {
  padding: 0;
  border-style: none;
}

.m-datepicker__button__borderless:hover {
  opacity: 0.5;
}
