@import "../../styles/settings/colors";
@import "../../styles/mixins/clearfix";
@import "../m-dropdown/mixins/dropdown";

$datepicker-height: 385px !default;
$datepicker-width: 320px !default;

$datepicker-margin-y: 12px !default;
$datepicker-margin-x: 30px !default;

$datepicker-padding-y: 20px !default;
$datepicker-padding-x: 30px !default;

$datepicker-dropdown-year-width: 88px !default;
$datepicker-dropdown-month-width: 146px !default;
$datepicker-dropdown-padding-left: 10px !default;

$datepicker-border-width: 1px !default;
$datepicker-padding-x: 30px !default;

$with-one-seventh: ($datepicker-width - $datepicker-padding-x * 2 - $datepicker-border-width * 2) / 7;

$datepicker-distance-number-to-border: 10px !default;
$datepicker-padding-left-native-dropdown: 8px !default;
$datepicker-layer: 1;

.m-datepicker {
  display: block;
  background: $color-prim-white;
}

.m-datepicker__article {
  padding: $datepicker-padding-y $datepicker-padding-x;

  max-width: $datepicker-width;

  background: $color-bg--white;

  border: solid $datepicker-border-width $color-prim-gray-silver;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.18);

  .m-dropdown__select-icon {
    padding: 0 $datepicker-padding-left-native-dropdown;
    margin-left: 0;
  }

  .m-dropdown__select {
    option {
      padding: 0;
    }
  }

  .m-dropdown__select {
    @include dropdown-select($indent: 10px, $height: 40px);
  }

  .m-dropdown__select-icon {
    @include dropdown-select-icon($indent: 10px, $height: 40px);
    width: 35px;
  }
}

.m-datepicker__article--open {
  position: absolute;
  z-index: $datepicker-layer;
}

.m-datepicker__dropdown {
  margin-bottom: $datepicker-padding-y;

  .m-dropdown__toggle {
    padding-left: $datepicker-dropdown-padding-left;
    text-align: left;
  }
}


.m-datepicker__dropdown-wrap {
  @include clearfix();
}

.m-datepicker__dropdown-year {
  width: $datepicker-dropdown-year-width;
  float: right;
  text-transform: uppercase;

  .m-dropdown__toggle,
  .m-dropdown__content {
    width: $datepicker-dropdown-year-width;
  }
}

.m-datepicker__dropdown-month {
  width: $datepicker-dropdown-month-width;

  .m-dropdown__toggle,
  .m-dropdown__content {
    width: $datepicker-dropdown-month-width;
  }
}

.m-dropdown__content {
  max-height: 330px;
  overflow-y: auto !important; // stylelint-disable-line declaration-no-important
}

.m-datepicker__weekdays {
  display: flex;
  margin: 0 (-$datepicker-margin-x);
  padding-left: $datepicker-padding-x;
  padding-right: $datepicker-padding-x;

  flex-direction: row;
  justify-content: space-between;
  background-color: $color-axa-blue;
  color: $color-prim-white;
}

.m-datepicker__weekdays__day {
  width: $with-one-seventh;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.m-datepicker__body {
  margin-bottom: 12px;

  display: flex;

  flex-wrap: wrap;
}

.m-datepicker__buttons {
  display: flex;

  justify-content: space-between;
}

.m-datepicker__buttons .m-button {
  padding: 10px;
  min-width: 100px;
}
