<axa-header-mobile-navigation
  style="min-height: 500px;"
  items='[{"name": "car insurance", "isActive": true, "items": [
       {"name": "professional indemnity insurance", "isActive": true},
       {"name": "public liability insurance"},
       {"name": "shop insurance sub line"},
       {"name": "van insurance"},
       {"name": "residential landlord insurance"}
       ]},
{"name": "home insurance", "items": [
       {"name": "personal sub line", "items": [
              {"name": "car insurance"},
              {"name": "home insurance"},
              {"name": "travel insurance"},
              {"name": "breakdown cover"},
              {"name": "van insurance"}
       ]},
       {"name": "business", "items": [
              {"name": "professional indemnity insurance"},
              {"name": "public liability insurance"},
              {"name": "shop insurance"},
              {"name": "van insurance"},
              {"name": "residential landlord insurance"}
       ]}
]},
{"name": "health insurance", "items": [
       {"name": "personal sub line", "items": [
              {"name": "car insurance"},
              {"name": "home insurance"},
              {"name": "travel insurance"},
              {"name": "breakdown cover"},
              {"name": "van insurance"}
       ]},
       {"name": "business", "items": [
              {"name": "professional indemnity insurance"},
              {"name": "public liability insurance"},
              {"name": "shop insurance"},
              {"name": "van insurance"},
              {"name": "residential landlord insurance"}
       ]}

]},
{"name": "travel insurance", "items": [
       {"name": "personal sub line", "items": [
              {"name": "car insurance"},
              {"name": "home insurance"},
              {"name": "travel insurance"},
              {"name": "breakdown cover"},
              {"name": "van insurance"}
       ]},
       {"name": "business", "items": [
              {"name": "professional indemnity insurance"},
              {"name": "public liability insurance"},
              {"name": "shop insurance"},
              {"name": "van insurance"},
              {"name": "residential landlord insurance"}
       ]}

]},
{"name": "all products", "items": [
       {"name": "personal sub line", "items": [
              {"name": "car insurance"},
              {"name": "home insurance"},
              {"name": "travel insurance"},
              {"name": "breakdown cover"},
              {"name": "van insurance"}
       ]},
       {"name": "business", "items": [
              {"name": "professional indemnity insurance"},
              {"name": "public liability insurance"},
              {"name": "shop insurance"},
              {"name": "van insurance"},
              {"name": "residential landlord insurance"}
       ]}

]}
]'
  relative
></axa-header-mobile-navigation>
