<p>
  <axa-link>Read more</axa-link>
  <axa-link color="red">Read more</axa-link>
</p>

<p>
  <axa-link deco>Read more</axa-link>
  <axa-link color="red" deco>Read more</axa-link>
</p>

<p>
  <axa-link arrow>Read more</axa-link>
  <axa-link color="red" arrow>Read more</axa-link>
  <axa-link arrow motion>Read more</axa-link>
  <axa-link color="red" arrow motion>Read more</axa-link>
</p>

<p>
  <axa-link icon="download">Download</axa-link>
  <axa-link color="red" icon="download">Download</axa-link>
</p>

<ul style="list-style: none;">
  <li>
    <axa-link listed>Read more</axa-link>
  </li>
  <li>
    <axa-link color="red" listed>Read more</axa-link>
  </li>
  <li>
    <axa-link listed motion>Read more</axa-link>
  </li>
  <li>
    <axa-link color="red" listed motion>Read more</axa-link>
  </li>
</ul>

<div style="margin-top: 8px; padding: 8px 0; background: #3b3fd8;">
  <p>
    <axa-link color="white">Read more</axa-link>
  </p>

  <p>
    <axa-link color="white" arrow>Read more</axa-link>
    <axa-link color="white" arrow motion>Read more</axa-link>
  </p>

  <ul style="list-style: none;">
    <li>
      <axa-link color="white" listed>Read more</axa-link>
    </li>
    <li>
      <axa-link color="white" listed motion>Read more</axa-link>
    </li>
  </ul>
</div>
