@import "../../styles/mixins/unstyle-list";

.m-sub-navigation-mobile {
  display: block;
}

.m-sub-navigation-mobile__list {
  @include unstyle-list();

  & & {
    display: none;
  }

  .is-open > & {
    display: block;
  }
}

.m-sub-navigation-mobile__list-item {
  display: block;
}

.m-sub-navigation-mobile__category {

}

.m-sub-navigation-mobile__link {

}
