@import "../../../styles/settings/colors";
@import "../../../styles/settings/zindex";

$header-sub-navigation-z-index: $zindex-header-sub-navigation !default;
$header-sub-navigation-bg: $color-prim-white !default;
$header-sub-navigation-margin-top: 2px !default;
$header-sub-navigation-border-width: 2px !default;
$header-sub-navigation-border-color: $color-prim-gray-silver !default;

$header-sub-navigation__index-bg: $color-prim-gray-alabaster !default;
$header-sub-navigation__index-height: 60px !default;

$header-sub-navigation__index-close-padding-left: 21px !default;
$header-sub-navigation__index-close__icon-size: 23px !default;

$header-sub-navigation-padding-top: 30px !default;
$header-sub-navigation-padding-bottom: 40px !default;

$header-sub-navigation__block-x-padding: 30px !default;
$header-sub-navigation__block-y-padding: 0 !default;
$header-sub-navigation__block-padding-top--repeat: 30px !default;

$header-sub-navigation__block-x-padding-2-columns: 45px !default;
$header-sub-navigation__block-x-padding-3-columns: 65px !default;

$header-sub-navigation__block-border-width: 1px !default;
$header-sub-navigation__block-border-color: $color-prim-gray-silver !default;

$header-sub-navigation__category-color: $color-axa-blue !default;

$header-sub-navigation__list-margin-top: 15px !default;

$header-sub-navigation__list-item-y-padding: 4px !default;
$header-sub-navigation__list-item-line-height: 1.3 !default;
