@import "../../styles/settings/colors";
@import "../../styles/settings/base";
@import "../../styles/mixins/control-icon";
@import "../../styles/mixins/visual-hidden";
@import "../../styles/mixins/control-transition";

@mixin control-base($border-radius: 0) {
  $parent: &;
  
  .#{$parent} {
    position: relative;

    display: inline-flex;

    min-height: 20px;

    align-items: center;

    line-height: $line-height-base;

    &:hover:not(.#{$parent}--disabled):not(.#{$parent}--error) {
      color: $color-axa-blue;

      > .#{$parent}__icon {
        border-color: $color-axa-blue;

        &::after {
          border-color: $color-axa-blue;
        }
      }
    }
  }

  .#{$parent}--error {
    color: $color-state-red-shy-tomato;

    .#{$parent}__icon {
      border-color: $color-state-red-shy-tomato;
    }
  }

  .#{$parent}--disabled {
    color: $color-prim-gray-mine-shaft;
  }

  .#{$parent}__input {
    @include visual-hidden();

    &:focus + .#{$parent}__icon {
      border-color: $color-axa-blue;

      &::after {
        border-color: $color-axa-blue;
      }
    }

    &:checked + .#{$parent}__icon,
    &[checked] + .#{$parent}__icon {
      &::after {
        border-color: $color-axa-blue;
        background-color: $color-axa-blue;
      }
    }

    &:disabled + .#{$parent}__icon,
    &[disabled] + .#{$parent}__icon {
      cursor: default;
      border-color: $color-prim-gray-dusty;

      &::after {
        border-color: transparent;
      }
    }
  }

  .#{$parent}__icon {
    @include control-transition();
    @include control-icon($control-icon-size);
    border-radius: $border-radius;

    &::after {
      border-radius: $border-radius;
    }
  }
}
