@import "./size";

/// Create basic icon css
///
/// @param {number} $width - The icon's width.
/// @param {number} $height [$width] - The icon's height.
@mixin icon($width, $height: $width) {
  @include size($width, $height);

  // fix SVG are inline elements
  display: block;

  // fix external icons not specifying any valid color
  fill: currentColor;
}

/// Create basic icon dimension css
///
/// @param {number} $width - The icon's width.
/// @param {number} $height [$width] - The icon's height.
@mixin icon-size($width, $height: $width) {
  @include size($width, $height);

  @warn "DEPRECATED: Please import size from src/styles/mixins/size";
}
