@mixin icon($width, $height: $width) {
  @include icon-size($width, $height);

  display: block;

  fill: currentColor;
}

@mixin icon-size($width, $height: $width) {
  width: $width;
  height: $height;
}
