@import "../functions/typo";
@import "respond";

@mixin typo-decls($name, $breakpoint: xl, $face: null, $weight: null) {
  $typo: get-typo($name, $breakpoint, $face);

  font-family: get-face($face);
  font-size: typo-prop($typo, size);
  font-weight: get-weight($typo, $weight);
  line-height: typo-prop($typo, lineHeight);
  letter-spacing: typo-prop($typo, spacing);
}

@mixin typo-css($name, $face: null, $weight: null) {
  @include typo-decls($name, sm, $face, $weight);

  @include respond-up(sm) {
    @include typo-decls($name, md, $face, $weight);
  }

  @include respond-up(md) {
    @include typo-decls($name, lg, $face, $weight);
  }

  @include respond-up(lg) {
    @include typo-decls($name, xl, $face, $weight);
  }
}

@mixin typo-main-title--publico() {
  @include typo-css($name: typo-78, $face: publico);
}

@mixin typo-page-title--publico() {
  @include typo-css($name: typo-62, $face: publico);
}

@mixin typo-slice-title--publico() {
  @include typo-css($name: typo-48, $face: publico);
}

@mixin typo-small-module-title--publico() {
  @include typo-css($name: typo-36, $face: publico);
}

@mixin typo-main-title() {
  @include typo-css($name: typo-78);
}

@mixin typo-page-title() {
  @include typo-css($name: typo-62);
}

@mixin typo-slice-title() {
  @include typo-css($name: typo-48);
}

@mixin typo-small-module-title() {
  @include typo-css($name: typo-36);
}

@mixin typo-title() {
  @include typo-css($name: typo-28);
}

@mixin typo-title--semibold() {
  @include typo-css($name: typo-28, $weight: Semibold);
}

@mixin typo-item-highlight() {
  @include typo-css($name: typo-24);
}

@mixin typo-text() {
  @include typo-css($name: typo-20);
}

@mixin typo-text-longer() {
  @include typo-css($name: typo-18);
}

@mixin typo-text-longer--bold() {
  @include typo-css($name: typo-18, $weight: Bold);
}

@mixin typo-secondary-text() {
  @include typo-css($name: typo-16);
}

@mixin typo-secondary-text--semibold() {
  @include typo-css($name: typo-16, $weight: Semibold);
}

@mixin typo-secondary-text--bold() {
  @include typo-css($name: typo-16, $weight: Bold);
}

@mixin typo-tag() {
  @include typo-css($name: typo-14);
}

@mixin typo-tag--semibold() {
  @include typo-css($name: typo-14, $weight: Semibold);
}

@mixin typo-tag--bold() {
  @include typo-css($name: typo-14, $weight: Bold);
}

@mixin typo-legals() {
  @include typo-css($name: typo-13);
}

@mixin typo-legals--semibold() {
  @include typo-css($name: typo-13, $weight: Semibold);
}
