@import "../functions/typo";
@import "respond";

@mixin typo-decls($name, $breakpoint: xl, $face: null, $weight: null) {
  $typo: get-typo($name, $breakpoint, $face);

  font-family: get-face($face);
  font-size: typo-prop($typo, size);
  font-weight: get-weight($typo, $weight);
  line-height: typo-prop($typo, lineHeight);
  letter-spacing: typo-prop($typo, spacing);
}

@mixin typo-css($name, $face: null, $weight: null) {
  @include typo-decls($name, sm, $face, $weight);

  @include respond-up(sm) {
    @include typo-decls($name, md, $face, $weight);
  }

  @include respond-up(md) {
    @include typo-decls($name, lg, $face, $weight);
  }

  @include respond-up(lg) {
    @include typo-decls($name, xl, $face, $weight);
  }
}

@mixin typo-78--publico() {
  @include typo-css($name: typo-78, $face: publico);
}

@mixin typo-62--publico() {
  @include typo-css($name: typo-62, $face: publico);
}

@mixin typo-48--publico() {
  @include typo-css($name: typo-48, $face: publico);
}

@mixin typo-36--publico() {
  @include typo-css($name: typo-36, $face: publico);
}

@mixin typo-78() {
  @include typo-css($name: typo-78);
}

@mixin typo-62() {
  @include typo-css($name: typo-62);
}

@mixin typo-48() {
  @include typo-css($name: typo-48);
}

@mixin typo-36() {
  @include typo-css($name: typo-36);
}

@mixin typo-28() {
  @include typo-css($name: typo-28);
}

@mixin typo-28--semibold() {
  @include typo-css($name: typo-28, $weight: Semibold);
}

@mixin typo-24() {
  @include typo-css($name: typo-24);
}

@mixin typo-20() {
  @include typo-css($name: typo-20);
}

@mixin typo-18() {
  @include typo-css($name: typo-18);
}

@mixin typo-18--bold() {
  @include typo-css($name: typo-18, $weight: Bold);
}

@mixin typo-16() {
  @include typo-css($name: typo-16);
}

@mixin typo-16--semibold() {
  @include typo-css($name: typo-16, $weight: Semibold);
}

@mixin typo-16--bold() {
  @include typo-css($name: typo-16, $weight: Bold);
}

@mixin typo-14() {
  @include typo-css($name: typo-14);
}

@mixin typo-14--semibold() {
  @include typo-css($name: typo-14, $weight: Semibold);
}

@mixin typo-14--bold() {
  @include typo-css($name: typo-14, $weight: Bold);
}

@mixin typo-13() {
  @include typo-css($name: typo-13);
}

@mixin typo-13--semibold() {
  @include typo-css($name: typo-13, $weight: Semibold);
}
