@import "../settings/vertical-rhythm";
@import "./respond";

@mixin vr-pad-items($padding-tops: $vr-padding-tops, $padding-bottoms: $vr-padding-bottoms) {
  @include vr-pad-items-first($padding-tops);
  @include vr-pad-items-last($padding-bottoms);
}

@mixin vr-pad-items-first($padding-tops: $vr-padding-tops) {
  $padding-tops-keys: map-keys($padding-tops);

  @each $padding-tops-key in $padding-tops-keys {
    @include respond-up($padding-tops-key) {
      @include vr-pad-item-first(map_get($padding-tops, $padding-tops-key));
    }
  }
}

@mixin vr-pad-items-last($padding-bottoms: $vr-padding-bottoms) {
  $padding-bottoms-keys: map-keys($padding-bottoms);

  @each $padding-bottoms-key in $padding-bottoms-keys {
    @include respond-up($padding-bottoms-key) {
      @include vr-pad-item-last(map_get($padding-bottoms, $padding-bottoms-key));
    }
  }
}

@mixin vr-pad-item-first($padding-top) {
  > :first-child {
    padding-top: $padding-top;
  }
}

@mixin vr-pad-item-last($padding-bottom) {
  > :last-child {
    padding-bottom: $padding-bottom;
  }
}

@mixin vr-margin-item($margin-tops: $vr-margin-tops) {
  $margin-tops-keys: map-keys($margin-tops);

  @each $margin-tops-key in $margin-tops-keys {
    @include respond-up($margin-tops-key) {
      @include vr-reset-item();

      margin-top: map_get($margin-tops, $margin-tops-key);
    }
  }
}

@mixin vr-reset-first($size: 0) {
  &:first-child {
    padding-top: $size;
  }
}

@mixin vr-reset-last($size: 0) {
  &:last-child {
    padding-bottom: $size;
  }
}


@mixin vr-reset-item($size: 0) {
  &:first-child {
    margin-top: $size;
  }
}
