@import "../settings/vertical-rhythm";
@import "./respond";

@mixin vr-pad-items($top-paddings: $vr-top-paddings, $bottom-paddings: $vr-bottom-paddings) {
  @include vr-pad-items-first($top-paddings);
  @include vr-pad-items-last($bottom-paddings);
}

@mixin vr-pad-items-first($top-paddings: $vr-top-paddings) {
  $top-paddings-keys: map-keys($top-paddings);

  @each $top-paddings-key in $top-paddings-keys {
    @include respond-up($top-paddings-key) {
      @include vr-pad-item-first(map_get($top-paddings, $top-paddings-key));
    }
  }
}

@mixin vr-pad-items-last($bottom-paddings: $vr-bottom-paddings) {
  $bottom-paddings-keys: map-keys($bottom-paddings);

  @each $bottom-paddings-key in $bottom-paddings-keys {
    @include respond-up($bottom-paddings-key) {
      @include vr-pad-item-last(map_get($bottom-paddings, $bottom-paddings-key));
    }
  }
}

@mixin vr-pad-item-first($top-padding) {
  > :first-child {
    padding-top: $top-padding;
  }
}

@mixin vr-pad-item-last($bottom-padding) {
  > :last-child {
    padding-bottom: $bottom-padding;
  }
}

@mixin vr-margin-item($top-margins: $vr-top-margins) {
  $top-margins-keys: map-keys($top-margins);

  @each $top-margins-key in $top-margins-keys {
    @include respond-up($top-margins-key) {
      @include vr-reset-item();

      margin-top: map_get($top-margins, $top-margins-key);
    }
  }
}

@mixin vr-reset-first($size: 0) {
  &:first-child {
    padding-top: $size;
  }
}

@mixin vr-reset-last($size: 0) {
  &:last-child {
    padding-bottom: $size;
  }
}


@mixin vr-reset-item($size: 0) {
  &:first-child {
    margin-top: $size;
  }
}
