<axa-footer-sub>
  <axa-footer-languages
    title="languages"
    items='[
      {"name": "Deutsch", "code": "de", "url": ""},
      {"name": "English", "isActive": true, "code": "en", "url": ""},
      {"name": "French", "code": "fr", "url": ""},
      {"name": "Italian", "code": "it", "url": ""}
    ]'
    inline
  ></axa-footer-languages>

  <axa-footer-legals>
    <a class="m-footer-legals__link" href="#">Terms of use</a
    ><a class="m-footer-legals__link" href="#">Data protection</a>
    <span class="m-footer-legals__copy">© 2017 AXA Insurance Ltd.</span>
  </axa-footer-legals>
</axa-footer-sub>
