@import "../../styles/settings/colors";
@import "../../styles/mixins/grid";
@import "../../styles/mixins/respond";

.m-footer-sub {
  display: block;

  background: $color-prim-blue-azure;
  border-top: 1px solid rgba($color-prim-white, 0.25);
}

.m-footer-sub__box {
  @include make-container();
  @include make-container-max-widths();
}

.m-footer-sub__row {
  @include make-row();

  align-items: center;
  justify-content: space-between;

  @include respond-down(md) {
    flex-direction: column;
  }
}
