@import "../../styles/settings/colors";
@import "../../styles/settings/base";
@import "../../styles/mixins/respond";

$padding-top-bottom: 20px !default;
$z-index: 2000;

.o-cookie-disclaimer {
  padding-top: $padding-top-bottom;
  padding-bottom: $padding-top-bottom;

  background-color: $color-prim-gray-scorpion;
  color: $color-prim-white;

  p {
    margin-top: 0;
  }

  .o-container {
    @include respond-up(md) {
      display: flex;

      align-items: center;
      justify-content: flex-end;
    }
  }
}

.o-cookie-disclaimer--fixed {
  z-index: $z-index;

  position: fixed;
  bottom: 0;

  width: 100%;
}

.o-cookie-disclaimer__title {
  text-transform: uppercase;
}

.o-cookie-disclaimer__container {
  width: 100%;
}

.o-cookie-disclaimer__container--lx {
  @include respond-up(md) {
    width: 70%;
  }
}

.o-cookie-disclaimer__container--rx {
  margin-top: $margin-top-base;
  text-align: center;

  @include respond-up(md) {
    width: 30%;
  }
}
