.o-sticky-container {
  position: relative;

  display: block;

  background: rgba(yellow, 0.5);

  &::before {
    content: '';
  }

  &.is-sticky-container-active {
    background: green;

    &::before {
      content: 'is-active';
    }
  }

  &.is-sticky-container-idle {
    &::before {
      content: 'is-idle';
    }
  }
}
