.o-sticky {
  display: block;
}

.o-sticky__placeholder {
  display: block;
  height: 0;
}

.o-sticky__box {
  display: block;

  background: rgba(blue, 0.5);
  color: white;

  .is-sticky > & {
    position: fixed;
    top: 0;

    background: rgba(red, 0.7);
  }

  .is-bottom > & {
    position: absolute;
    bottom: 0;

    background: rgba(orange, 0.7);
  }

  .is-in-flow > & {
    position: static;
  }
}
