.m-accordeon {
  display: block;
  width: 450px; //temporary

  &__container {
    border-top: solid 1px $color-silver;
    border-bottom: solid 1px $color-silver;
  }

  &__title-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 4px;
    color: $color-axa-blue;

    &--close {
      margin: auto 0;
      width: 24px;
      height: 24px;
    }

    &--title {
      display: flex;

      axa-text {
        margin: auto 0;
      }

      &-icon {
        margin: auto 16px auto 0;
        width: 48px;
        height: 48px;

        svg {
          width: 48px;
          height: 48px;
        } 

        &-hidden {
          display: none;
        }
      }
    }

    &:hover {
      background-color: rgba($color-axa-blue, 0.2);
    }

    &:focus {
      border: 2px solid $color-axa-blue;
    }

    &:active {
      background-color: rgba($color-axa-blue, 0.2);
      border: 2px solid $color-axa-blue;
    }

    &--disabled {
      color: $color-silver;
    }
  }

  &__content {
    display: none;
    opacity: 0;

    &--open {
      display: flex;
      color: $color-dark-grey;
      margin: 0 4px 16px;
    
    }
  }
}
