$fieldset-vertical-margin: 20px;

axa-fieldset {
  display: block;

  &:not([horizontal]) > *:not(:last-child) {
    margin-bottom: $fieldset-vertical-margin;
  }

  &[horizontal]  {
    display: flex;
    align-items: center;

    > *:not(:first-child) {
      margin-left: 30px;
    }
  }
}