$fieldset-vertical-margin: 20px;
$fieldset-horizontal-margin: 30px;

axa-fieldset {
  display: block;

  &:not([horizontal]) > *:not(:last-child) {
    margin-bottom: $fieldset-vertical-margin;
  }

  &[horizontal]  {
    display: flex;
    align-items: center;

    > *:not(:first-child):not([nogap]) {
      margin-left: $fieldset-horizontal-margin;
    }
  }
}