html, body, #root {
    height: 100%;
}

.contact-footer {
    position: absolute;
    bottom: 8px;
    right: 0px;
    left: 0px;
    padding: 20px 40px;
    background-color: $color-dark-grey;
    color: $color-prim-white;
    @include breakpoint($mediaquery-md-up) {
        min-width: 420px;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include breakpoint($mediaquery-md-up) {
            padding-left: 30px;
            padding-left: 80px;
        }
    }
    
    &__subtitle {
        text-transform: uppercase;
        overflow-wrap: break-word;
        @include text(t4);
    }
}
