@import "../../../styles/settings/colors";

$header-search__form-y-padding: 6px !default;
$header-search__form-padding-side: 20px !default;
$header-search__form-border-side-width: 1px !default;
$header-search__form-border-side-color: $color-prim-gray-silver !default;
$header-search__form-margin-side: 20px !default;

$header-search__icon-size: 25px !default;
$header-search__icon-fill: $color-prim-gray !default;
