<p>
  <axa-link>Read more</axa-link>
  <axa-link color="red">Read more</axa-link>
</p>

<p>
  <axa-link arrow>Read more</axa-link>
  <axa-link color="red" arrow>Read more</axa-link>
  <axa-link arrow motion>Read more</axa-link>
  <axa-link color="red" arrow motion>Read more</axa-link>
</p>

<ul style="list-style: none;">
  <li>
    <axa-link listed>Read more</axa-link>
  </li>
  <li>
    <axa-link color="red" listed>Read more</axa-link>
  </li>
  <li>
    <axa-link listed motion>Read more</axa-link>
  </li>
  <li>
    <axa-link color="red" listed motion>Read more</axa-link>
  </li>
</ul>
