<table style="width: 100%;">
  <thead>
    <tr is="axa-tr" head>
      <th is="axa-th">Head</th>
      <th is="axa-th">Head</th>
      <th is="axa-th">Head</th>
    </tr>
  </thead>

  <tfoot>
    <tr is="axa-tr" foot>
      <td is="axa-td">Foot</td>
      <td is="axa-td">Foot</td>
      <td is="axa-td">Foot</td>
    </tr>
  </tfoot>

  <tbody>
    <tr is="axa-tr">
      <td is="axa-td">Cell</td>
      <td is="axa-td">Cell</td>
      <td is="axa-td">Cell</td>
    </tr>
    <tr is="axa-tr" action>
      <td is="axa-td">Action</td>
      <td is="axa-td">Action</td>
      <td is="axa-td">Action</td>
    </tr>
  </tbody>
</table>
