@import "../../styles/mixins/grid";
@import "../../styles/mixins/unstyle-list";
@import "../../styles/mixins/typo";
@import "settings/meta-header";

.o-meta-header {
  display: block;

  background: $meta-header-bg;
  border-top: $meta-header-border-top-width solid $meta-header-border-top-color;
  border-bottom: $meta-header-border-bottom-width solid $meta-header-border-bottom-color;
}

.o-meta-header__box {
  @include make-container();
  @include make-container-max-widths();
}

.o-meta-header__nav-other {
}

.o-meta-header__list {
  @include unstyle-list();
  @include make-row();
}

.o-meta-header__list-item {

}

.o-meta-header__link {
  @include typo-13();

  display: block;
  text-transform: uppercase;

  color: $meta-header__link-color;
  // @todo: keep until question regarding custom font styles is resolved
  font-weight: 600 !important;

  padding: 10px $meta-header__link-x-padding;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;

    color: $meta-header__link-color--hover;
    background: $meta-header__link-bg--hover;
  }
}
