<axa-progress-bar
  classes="o-progress-bar"
  class="js-progress-bar-demo"
  max="200"
  show-icon
  show-percentage
>
</axa-progress-bar>
<div style="margin-top: 30px; margin-bottom: 30px; text-align: center">
  <axa-button style="display: inline-block;" onclick="run()" color="red">Start</axa-button>
</div>

<axa-progress-bar
  classes="o-progress-bar"
  value="-1"
  max="100"
  show-icon
  show-percentage
>
</axa-progress-bar>
</br>
<axa-progress-bar
  classes="o-progress-bar"
  value="22.2"
  max="50"
  show-icon
  show-percentage
>
</axa-progress-bar>

<script>
  let myVar;
  let a = 0;
  let value = 0;
  const progressbar = document.querySelector('.js-progress-bar-demo');
  const max = progressbar.getAttribute('max');
  function run() {
    if (value >= max) { a = 0 }
      myVar = setTimeout(() => {
      	a += Math.floor(Math.random() * (20 - 1) + 1);
        if (a < max) {
            progressbar.setAttribute('value', a);
        	  run();
        } else {
            progressbar.setAttribute('value', max);
        }
        value = a;
      }, 200);
  }
</script>
