<axa-progress-bar
  classes="o-progress-bar"
  value="0.1"
  show-icon
  show-percentage
>
</axa-progress-bar>
<div style="margin: 30px auto">
<axa-button color="red">Start</axa-button>
</div>

<axa-progress-bar
  classes="o-progress-bar"
  value="-1"
  max="100"
  show-percentage
>
</axa-progress-bar>
<div style="margin: 30px auto">
<axa-button color="red">Start</axa-button>
</div>

<axa-progress-bar
  classes="o-progress-bar"
  value="22.2"
  max="50"
  show-icon
>
</axa-progress-bar>
<div style="margin: 30px auto">
<axa-button color="red">Start</axa-button>
</div>
