@import "../../styles/settings/colors";
@import "../../styles/mixins/respond";
@import "../../styles/settings/base";

$progress-bar-desktop-height: 70px !default;
$progress-bar-mobile-height: 40px !default;
$progress-bar-icon-height-width: 40px !default;
$progress-bar-mobile-width: 320px !default;

.o-progress-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  background-color: $color-prim-blue-indigo;

  @include respond-up(sm) {
    width: 100%;
  }
}

.o-progress-bar__container {
  margin-right: 8px;
  margin-left: 20px;
  height: $progress-bar-mobile-height;
  display: flex;

  align-items: center;
  color: $color-prim-white;

  @include respond-up(sm) {
    height: $progress-bar-desktop-height;
  }
}

.o-progress-bar__percentage {
  display: none;

  @include respond-up(sm) {
    display: inline;
  }
}

.o-progress-bar__progress {
  // TODO
}

progress[value] {
  width: 240px;
  height: 8px;

  -webkit-appearance: none;
  appearance: none;

  @include respond-up(sm) {
    width: 500px;
  }
}

progress[value]::-webkit-progress-bar {
  border-radius: 3px;
}

progress[value]::-webkit-progress-value {
  background-color: $color-prim-white;
  border-radius: 3px;
}

.o-progress-bar__closing-icon {
  // TODO width and height
  float: right;
  fill: currentColor;
}
