:host {
  display: block;
}

.a-progress-bar {
  display: block;
  
  &__progress-bar {
    border-radius: 10px;
    background-color: $color-ocean-blue;
    height: 12px;
  }

  &__border {
    width: 100%;
    border-radius: 10px;
    background-color: $color-mercury;
  }

  &__small {
    height: 8px;
  }

  &__no-border-radius {
    border-radius: 0px;

    &-loader {
      border-radius: 0px 10px 10px 0px;

      &-max {
        border-radius: 0px;
      }
    }
  }

  &__label {
    display: flex;
    justify-content: center;
    margin-top: 12px;

    &-hide {
      display: none;
    }
  }
}