@import "../../../styles/settings/footer";

$footer-social-padding-x--xs: 30px !default;
$footer-social-padding-y--xs: 25px !default;
$footer-social-margin-bottom--md: -10px !default;

$footer-social__title-color: $footer-color !default;
$footer-social__title-margin-right--inline: 20px !default;

$footer-social__list-margin-top: 15px !default;
$footer-social__list-margin-x: -10px !default;
$footer-social__list-margin-top--md: 25px !default;
$footer-social__list-margin--xs: -10px !default;

$footer-social__list-item-margin-right: 10px !default;

$footer-social__link-padding: 10px !default;

$footer-social__icon-size: 25px !default;
$footer-social__icon-size--light: 20px !default;
$footer-social__icon-color: $footer-color !default;
