.a-link {
  font-family: 'Source Sans Pro', Arial, sans-serif;

  text-decoration: none;
  color: $color-prim-blue-deep-sapphire;

  &:hover {
    text-decoration: underline;
  }

  &--red {
    color: $color-prim-red-burnt-sienna;
  }

  &--white {
    color: $color-prim-white;
  }

  &--deco {
    text-decoration: underline;
  }

  &--bold {
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }
  }

  &__arrow {
    display: inline-block;
    margin-right: 4px;
  }

  &--motion {
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      .a-link__arrow {
        animation-duration: 0.6s;
        animation-timing-function: ease;
        animation-fill-mode: both;
        animation-name: fadeOutRightInLeft;
      }
    }
  }

  &--heavy {
    @include typo(primary, default, medium);

    color: rgba(255, 255, 255, 0.65);
    border: 20px;

    &:hover {
      color: $color-prim-white;
      text-decoration: none;
    }

    &-small {
      @include typo(primary, x-small, medium);
    }

    &-active {
      color: $color-prim-white;
    }
  }
}

@keyframes fadeOutRightInLeft {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }

  51% {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
