// We set the display property to 'block', so that a user of this element can overwrite the margins.
:host {
  display: block;
}

:host([rank='1']) {
  margin-top: 20px;
  margin-bottom: 20px;
}

:host([rank='2']) {
  margin-top: 18px;
  margin-bottom: 18px;
}

:host([rank='3']) {
  margin-top: 16px;
  margin-bottom: 16px;
}

:host([rank='4']) {
  margin-top: 14px;
  margin-bottom: 14px;
}

:host([rank='5']) {
  margin-top: 12px;
  margin-bottom: 12px;
}

:host([rank='6']) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.a-heading {
  // reset browser styles
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1.a-heading {
  @include headline(h1, primary);

  &.a-heading--secondary {
    @include headline(h1, secondary);
  }
}

h2.a-heading {
  @include headline(h2, primary);

  &.a-heading--secondary {
    @include headline(h2, secondary);
  }
}

h3.a-heading {
  @include headline(h3, primary);

  &.a-heading--secondary {
    @include headline(h3, secondary);
  }
}

h4.a-heading {
  @include headline(h4, primary);

  &.a-heading--secondary {
    @include headline(h4, secondary);
  }
}

h5.a-heading {
  @include headline(h5, primary);

  &.a-heading--secondary {
    @include headline(h5, secondary);
  }
}

h6.a-heading {
  @include headline(h6, primary);

  &.a-heading--secondary {
    @include headline(h6, secondary);
  }
}
